Repository discordeno/discordeno, pull requests merged in 2020-11, with the labels that each got.

#165 Add moveMember function to member handler
  src/handlers/member.ts
Labels: feature

#172 Lower the time limit for ready event activation
  src/controllers/misc.ts
Labels: refactor

#175 Resolve promise for all botHasChannelPermissions()
  src/handlers/channel.ts
  src/handlers/message.ts
  src/handlers/webhook.ts
Labels: fix

#181 Add reason parameter to editChannel()
  src/handlers/channel.ts
Labels: feature

#182 Change the name of the "Testing/Linting" workflow
  .github/workflows/deno.yml
  .github/workflows/lint.yml
  README.md
Labels: docs

#185 New function isChannelSynced(channelID: string)
  src/handlers/channel.ts
Labels: feature

#187 Convert Retry-After to ms
  src/module/requestManager.ts
Labels: fix

#188 Add size() to cacheHandlers
  src/controllers/cache.ts
Labels: feature

#186 🎉 Server Templates 🎉
  src/constants/discord.ts
  src/handlers/guild.ts
  src/structures/mod.ts
  src/structures/template.ts
  src/types/guild.ts
Labels: feature

#190 Resolve promise for all instances of botHasPermission()
  src/handlers/guild.ts
Labels: fix

#195 feat: overridable handlers
  src/handlers/mod.ts
Labels: feature

#197 Resolve promises
  src/handlers/member.ts
  src/utils/permissions.ts
Labels: fix

#196 Better error messages for request manager
  src/module/requestManager.ts
Labels: feature

#161 Big Brain Bots (Massive Bot optimizations)
  mod.ts
  src/module/basicShard.ts
  src/module/client.ts
  src/module/requestManager.ts
  src/module/shard.ts
  src/module/shardingManager.ts
  src/types/discord.ts
  src/types/options.ts
  src/utils/constants.ts
Labels: feature, fix

#200 feat(utils): check if bot is the owner of the guild
  src/utils/permissions.ts
Labels: fix

#206 Stickers 🎉
  src/types/message.ts
Labels: feature

#208 Switch to web WebSocket API
  deps.ts
  src/module/shard.ts
Labels: build, help wanted, refactor

#167 Add Role.tags property
  src/structures/role.ts
  src/types/role.ts
Labels: feature

#215 fix: resolve urlToBase64() promise
  src/handlers/member.ts
Labels: fix

#216 docs: add dencord-starter to the boilerplate list
  README.md
Labels: docs
