Repository discordeno/discordeno, pull requests merged in 2020-12, with the labels that each got.

#219 feat: better return type/value for createServer()
  src/handlers/guild.ts
Labels: fix

#232 fix: guildBanRemove() event not triggered
  src/controllers/bans.ts
Labels: fix

#240 fix: if bot is guild owner, return true
  src/utils/permissions.ts
Labels: fix

#246 fix: resolve() -> resolve(undefined)
  .github/workflows/lint.yml
  src/module/requestManager.ts
Labels: fix

#245 feat: better websocket close error messages
  src/module/shard.ts
Labels: feature

#248 feat: slash commands and interactions
  .gitignore
  src/api/controllers/mod.ts
  src/api/handlers/webhook.ts
  src/controllers/interactions.ts
  src/interactions/deps.ts
  src/interactions/interactions.ts
  src/interactions/mod.ts
  src/interactions/types/embed.ts
  src/interactions/types/interactions.ts
  src/interactions/types/member.ts
  src/interactions/types/misc.ts
  src/interactions/types/mod.ts
  src/interactions/types/slash.ts
  src/interactions/types/webhook.ts
  src/types/discord.ts
  src/types/errors.ts
  src/types/interactions.ts
  src/types/options.ts
  src/types/types.ts
  src/types/webhook.ts
  src/util/cache.ts
  src/util/constants.ts
Labels: feature

#262 feat: implement getters
  .gitignore
  .vscode/settings.json
  src/api/handlers/member.ts
  src/api/structures/channel.ts
  src/api/structures/guild.ts
  src/api/structures/member.ts
  src/api/structures/message.ts
  src/api/structures/mod.ts
  src/api/structures/role.ts
  src/api/structures/template.ts
  src/rest/request_manager.ts
  src/types/misc.ts
  src/util/constants.ts
  src/util/permissions.ts
  src/util/utils.ts
Labels: feature

#275 deps: use unpkg instead of esm.sh
  src/interactions/deps.ts
Labels: deps

#272 docs: dark theme by default
  docs/package.json
  docs/src/.vuepress/config.js
  docs/src/.vuepress/navbar.js
  docs/src/.vuepress/sidebar.js
Labels: docs

#294 Run "Test" workflow on push and pull_request
  .github/workflows/test.yml
Labels: ci

#304 fix: remove role from coll after the event
  src/api/controllers/roles.ts
Labels: fix

#305 ci: use setup-deno@v2
  .github/workflows/lint.yml
  .github/workflows/test.yml
Labels: ci

#313 docs(handlers): add jsdoc comment block
  src/api/handlers/channel.ts
  src/api/handlers/guild.ts
  src/api/handlers/message.ts
  src/api/handlers/webhook.ts
Labels: docs

#301 fix: channels, presences, voiceStates can be undef
  src/api/structures/guild.ts
Labels: fix
