Repository discordeno/discordeno, pull requests merged in 2020-10, with the labels that each got.

#126 Revert "improve perf of zlib inflating"
  deps.ts
  src/module/basicShard.ts
Labels: fix, hacktoberfest

#127 Organize imports
  deps.ts
  mod.ts
  src/controllers/bans.ts
  src/controllers/cache.ts
  src/controllers/channels.ts
  src/controllers/guilds.ts
  src/controllers/members.ts
  src/controllers/messages.ts
  src/controllers/misc.ts
  src/controllers/reactions.ts
  src/controllers/roles.ts
  src/handlers/channel.ts
  src/handlers/guild.ts
  src/handlers/member.ts
  src/handlers/message.ts
  src/handlers/webhook.ts
  src/module/basicShard.ts
  src/module/client.ts
  src/module/requestManager.ts
  src/module/shard.ts
  src/module/shardingManager.ts
  src/structures/channel.ts
  src/structures/guild.ts
  src/types/channel.ts
  src/types/discord.ts
  src/types/guild.ts
  src/types/message.ts
  src/types/options.ts
  src/utils/cache.ts
  src/utils/cdn.ts
  src/utils/permissions.ts
  src/utils/utils.ts
Labels: refactor

#129 README badges 🎉🎉🎉🎉🎉🎉
  README.md
Labels: docs, hacktoberfest

#131 Use wasm zlib decompression @devcat
  deps.ts
  src/module/basicShard.ts
Labels: feature

#133 Update README.md
  README.md
Labels: docs

#135 Update discord.ts
  src/constants/discord.ts
Labels: docs

#137 fix: resume connect of shard socket if lost between heartbeats
  src/module/basicShard.ts
Labels: fix, hacktoberfest

#140 fix: guildMemberRemove event triggered twice
  src/controllers/members.ts
Labels: fix

#147 Replace nest.land large badge with smaller
  README.md
Labels: docs

#145 Check if channel is undefined
  src/utils/permissions.ts
Labels: fix

#148 Better README
  README.md
Labels: docs

#109 Unit tests
  .github/workflows/test.yml
  .vscode/settings.json
  README.md
  deps.ts
  src/controllers/messages.ts
  src/handlers/guild.ts
  src/utils/permissions.ts
  tests/mod.test.ts
Labels: hacktoberfest, test

#151 Remove redundant type cast
  src/utils/cache.ts
Labels: refactor

#154 Replace all occurrences of "import type" syntax to "import" syntax
  docs/content/djs.md
  src/controllers/bans.ts
  src/controllers/cache.ts
  src/controllers/channels.ts
  src/controllers/guilds.ts
  src/controllers/members.ts
  src/controllers/messages.ts
  src/controllers/misc.ts
  src/controllers/reactions.ts
  src/controllers/roles.ts
  src/handlers/channel.ts
  src/handlers/guild.ts
  src/handlers/member.ts
  src/handlers/message.ts
  src/handlers/webhook.ts
  src/module/basicShard.ts
  src/module/client.ts
  src/module/requestManager.ts
  src/module/shard.ts
  src/module/shardingManager.ts
  src/structures/channel.ts
  src/structures/guild.ts
  src/structures/member.ts
  src/structures/message.ts
  src/structures/role.ts
  src/types/channel.ts
  src/types/discord.ts
  src/types/guild.ts
  src/types/member.ts
  src/types/message.ts
  src/types/options.ts
  src/types/presence.ts
  src/types/webhook.ts
  src/utils/cache.ts
  src/utils/cdn.ts
  src/utils/permissions.ts
  src/utils/utils.ts
Labels: refactor

#159 Rename permission overwrites
  .github/workflows/greetings.yml
  .github/workflows/test.yml
  .vscode/settings.json
  README.md
  deps.ts
  docs/content/advanced/dynamiccommands.md
  docs/content/djs.md
  docs/content/gettingstarted.md
  docs/content/introduction.md
  egg.yml
  src/controllers/bans.ts
  src/controllers/cache.ts
  src/controllers/channels.ts
  src/controllers/guilds.ts
  src/controllers/members.ts
  src/controllers/messages.ts
  src/controllers/misc.ts
  src/controllers/reactions.ts
  src/controllers/roles.ts
  src/handlers/channel.ts
  src/handlers/guild.ts
  src/handlers/member.ts
  src/handlers/message.ts
  src/handlers/webhook.ts
  src/module/basicShard.ts
  src/module/client.ts
  src/module/requestManager.ts
  src/module/shard.ts
  src/module/shardingManager.ts
  src/structures/channel.ts
  src/structures/guild.ts
  src/structures/member.ts
  src/structures/message.ts
  src/structures/role.ts
  src/types/activity.ts
  src/types/channel.ts
  src/types/discord.ts
  src/types/errors.ts
  src/types/guild.ts
  src/types/member.ts
  src/types/message.ts
  src/types/options.ts
  src/types/presence.ts
  src/types/webhook.ts
  src/utils/cache.ts
  src/utils/cdn.ts
  src/utils/permissions.ts
  src/utils/utils.ts
  tests/mod.test.ts
Labels: refactor

#162 Update dependencies to latest
  deps.ts
Labels: build
