Repository discordeno/discordeno, pull requests merged in 2021-01, with the labels that each got.

#317 types: rename rate_limit.ts
  src/types/rate_limits.ts
Labels: types

#316 ci: trigger workflow only when certain files are modified
  .github/workflows/deploy.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
Labels: ci

#322 fix: separate event for APPLICATION_COMMAND_CREATE
  src/api/controllers/interactions.ts
  src/api/controllers/mod.ts
  src/types/options.ts
Labels: fix

#334 fix(RoleData): "tags" property can be undefined not null
  src/types/role.ts
Labels: fix

#330 fix: replace incorrect check for GUILD_UPDATE controller
  src/api/controllers/guilds.ts
Labels: fix

#332 fix: outdated pin & unpin handlers and endpoints
  src/api/handlers/message.ts
  src/util/constants.ts
Labels: fix

#341 types(structures): add return type for methods
  src/api/structures/channel.ts
  src/api/structures/guild.ts
  src/api/structures/member.ts
  src/api/structures/message.ts
  src/api/structures/role.ts
Labels: types

#331 chore: setup "deno lint"
  .github/workflows/lint.yml
  .vscode/settings.json
  src/api/controllers/cache.ts
  src/api/controllers/guilds.ts
  src/api/controllers/interactions.ts
  src/api/controllers/members.ts
  src/api/controllers/misc.ts
  src/api/handlers/channel.ts
  src/api/handlers/guild.ts
  src/api/handlers/member.ts
  src/api/structures/channel.ts
  src/api/structures/guild.ts
  src/api/structures/member.ts
  src/api/structures/message.ts
  src/api/structures/role.ts
  src/api/structures/structures.ts
  src/api/structures/template.ts
  src/interactions/server.ts
  src/interactions/types/interactions.ts
  src/rest/request_manager.ts
  src/types/channel.ts
  src/types/guild.ts
  src/types/member.ts
  src/types/message.ts
  src/types/options.ts
  src/types/role.ts
  src/types/webhook.ts
  src/util/cache.ts
  src/util/permissions.ts
  src/util/utils.ts
  src/ws/shard.ts
  src/ws/shard_manager.ts
  tests/mod.test.ts
Labels: ci, refactor

#348 types(message): make attachment dimensions optional
  src/types/message.ts
Labels: types

#347 types(message): add message type 16 and 17
  src/types/message.ts
Labels: types

#345 types(activity): add missing properties
  src/types/activity.ts
Labels: types

#346 feat: add welcome screen structure, types, endpoints and handlers
  src/api/handlers/guild.ts
  src/api/structures/mod.ts
  src/types/guild.ts
  src/util/constants.ts
Labels: feat

#343 feat(guild): support for membership screening feature
  src/api/handlers/guild.ts
  src/types/guild.ts
  src/types/member.ts
  src/util/constants.ts
Labels: feat

#351 fix: slash command edit functions
  src/api/handlers/webhook.ts
  src/types/webhook.ts
Labels: fix

#353 fix(misc): check whether guilds' loaded every 2s
  src/api/controllers/misc.ts
  src/api/handlers/webhook.ts
  src/types/discord.ts
Labels: fix

#354 refactor: replace "return await"
  src/api/handlers/channel.ts
  src/api/handlers/guild.ts
  src/util/permissions.ts
Labels: refactor

#364 ci(test): run workflow on label assignment
  .github/workflows/test.yml
Labels: ci

#365 ci(test): run workflow on label assignment
  .github/workflows/test.yml
Labels: ci

#367 ci(test): run workflow on label assignment
  .github/workflows/test.yml
Labels: ci

#370 ci: add "check" workflow
  .github/workflows/check.yml
  .github/workflows/test.yml
Labels: ci

#369 refactor(tests): separate tests into categories
  tests/01_main.ts
  tests/02_guild.ts
  tests/03_role.ts
  tests/04_channel.ts
  tests/05_message.ts
  tests/06_cleanup.ts
  tests/deps.ts
  tests/mod.test.ts
Labels: test

#384 test: fix "Token not provided" error
  .github/workflows/test.yml
  tests/01_main.test.ts
  tests/02_guild.test.ts
  tests/03_role.test.ts
  tests/04_channel.test.ts
  tests/05_message.test.ts
  tests/06_cleanup.test.ts
  tests/mod.test.ts
Labels: test

#371 test(message): add missing tests
  tests/05_message.ts
Labels: run-tests, test

#376 docs: add jsdoc comments for documented event handlers
  src/types/options.ts
Labels: docs

#391 ci: run workflow on push to master
  .github/workflows/check.yml
  .github/workflows/deploy.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
Labels: ci

#394 types(message): add 16 & 17 to MessageTypes
  src/types/message.ts
Labels: types

#393 types(message): make attachment dimensions optional
  src/types/message.ts
Labels: types

#363 docs: improve wording
  README.md
  docs/src/README.md
Labels: docs

#383 refactor(util): update endpoints
  src/api/handlers/channel.ts
  src/api/handlers/guild.ts
  src/api/handlers/member.ts
  src/api/handlers/webhook.ts
  src/util/constants.ts
Labels: refactor

#390 feat: internal intents resolution
  README.md
  src/bot.ts
  src/types/options.ts
  test/mod.test.ts
Labels: feat

#400 fix(handlers): support for custom emoji in reaction remove functions
  src/api/handlers/message.ts
Labels: fix

#402 chore: update exports
  mod.ts
Labels: refactor

#403 feat(handlers): add editChannelOverwrite() & deleteChannelOverwrite()
  src/api/handlers/guild.ts
Labels: feat

#414 fix(controllers): cache updated guild object with new emojis
  src/api/controllers/guilds.ts
Labels: fix

#404 feat(handlers): add startTyping()
  src/api/handlers/channel.ts
Labels: feat

#408 feat(handlers): add getGuildPreview()
  src/api/handlers/guild.ts
  src/types/errors.ts
Labels: feat

#415 feat(handlers): add editBotNickname()
  src/api/handlers/member.ts
  src/types/errors.ts
Labels: feat

#426 fix(controllers): check if the cached content is same as the updated content
  src/api/controllers/messages.ts
Labels: fix

#416 feat(handlers): check for message max delete days
  src/api/handlers/guild.ts
  src/types/errors.ts
  src/types/guild.ts
Labels: feat, pending

#430 refactor(util): remove GUILD_INTEGRATION_CREATE endpoint
  src/util/constants.ts
Labels: refactor

#429 fix(controllers): cache updated message on MESSAGE_UPDATE
  src/api/controllers/messages.ts
Labels: fix

#431 refactor: remove index signatures
  src/api/controllers/guilds.ts
  src/api/controllers/misc.ts
  src/api/structures/guild.ts
  src/api/structures/member.ts
  src/types/guild.ts
Labels: refactor

#427 types: add UnknownApplicationCommand error
  src/types/opcodes_status_codes.ts
Labels: types

#433 fix(controllers): update cache with new value in gateway events
  src/api/controllers/guilds.ts
  src/api/controllers/members.ts
  src/api/controllers/misc.ts
  src/api/controllers/reactions.ts
  src/api/controllers/roles.ts
Labels: fix

#428 feat(handlers): add getGatewayBot() & getApplicationInformation()
  src/api/handlers/gateway.ts
  src/api/handlers/oauth.ts
  src/bot.ts
  src/types/oauth.ts
  src/types/teams.ts
  src/util/constants.ts
Labels: feat

#436 fix(handlers): add missing handlers
  src/api/handlers/mod.ts
Labels: fix

#413 types: better types
  src/util/cache.ts
  src/ws/shard_manager.ts
Labels: types

#434 feat(ws): add additional info to wsError debug event
  src/ws/shard.ts
Labels: feat

#425 feat(handlers): add getAvailableVoiceRegions()
  src/api/handlers/guild.ts
  src/api/handlers/mod.ts
  src/util/constants.ts
Labels: feat

#422 feat(handlers): add getTemplate()
  src/api/handlers/guild.ts
  src/api/handlers/mod.ts
Labels: feat

#437 fix: use applicationID for slash commands instead of botID
  src/api/controllers/misc.ts
  src/api/handlers/webhook.ts
  src/bot.ts
  src/util/constants.ts
Labels: fix

#421 feat(handlers): add getInvite() & deleteInvite()
  src/api/handlers/channel.ts
  src/api/handlers/mod.ts
  src/types/invite.ts
  src/types/mod.ts
Labels: feat

#444 feat(handlers): add getSlashCommand()
  src/api/handlers/webhook.ts
Labels: feat

#439 docs: improve wording & organize sections
  README.md
  docs/src/README.md
  docs/src/gettingstarted.md
  docs/src/migrating.md
Labels: docs

#445 fix(controllers): cache member in "members" table
  src/api/controllers/members.ts
Labels: fix

#442 feat(handlers): add upsertSlashCommands()
  src/api/handlers/mod.ts
  src/api/handlers/webhook.ts
  src/types/webhook.ts
Labels: feat

#447 feat: add rateLimit event
  src/rest/request_manager.ts
  src/types/options.ts
Labels: feat

#446 fix: valid type "member" in "interactionCreate" event
  src/types/options.ts
Labels: fix

#461 fix(util): use custom cache instead of default cache
  src/util/permissions.ts
Labels: fix

#456 docs(CONTRIBUTING): improve wording & add sections
  .github/CONTRIBUTING.md
  README.md
Labels: docs

#399 fix(handlers): add editSlashResponse()
  src/api/handlers/webhook.ts
Labels: fix

#466 types(structures): strong types 💪
  src/api/structures/guild.ts
  src/api/structures/member.ts
  src/api/structures/template.ts
Labels: types

#468 refactor(handlers): resolve RequestManager.<method> using await before returning the value
  src/api/handlers/channel.ts
  src/api/handlers/gateway.ts
  src/api/handlers/guild.ts
  src/api/handlers/member.ts
  src/api/handlers/message.ts
  src/api/handlers/oauth.ts
  src/api/handlers/webhook.ts
Labels: refactor

#472 test: await all handlers
  test/mod.test.ts
Labels: test

#459 feat(controllers): add INTEGRATION* gateway events
  .github/workflows/lint.yml
  src/api/controllers/misc.ts
  src/api/controllers/mod.ts
  src/types/discord.ts
  src/types/guild.ts
  src/types/message.ts
  src/types/options.ts
  src/types/util.ts
Labels: feat

#467 feat(controllers): add membershipScreeningPassed event
  src/api/controllers/members.ts
  src/types/guild.ts
  src/types/options.ts
Labels: feat

#449 feat(handlers): add Membership Screening
  src/api/handlers/guild.ts
  src/types/guild.ts
  src/util/constants.ts
Labels: feat

#477 fix(controllers/misc): use cacheHandler in ready event event
  src/api/controllers/misc.ts
Labels: fix

#479 feat(controllers/interactions): add APPLICATION_COMMAND_{CREATE,UPDATE,DELETE} events
  src/api/controllers/interactions.ts
  src/api/controllers/mod.ts
  src/types/discord.ts
  src/types/interactions.ts
  src/types/options.ts
Labels: feat

#412 feat(handlers): add getMembers()
  src/api/handlers/guild.ts
  src/api/handlers/mod.ts
  src/types/guild.ts
Labels: feat

#481 fix(util/permissions): include guild ID while resolving bits
  src/util/permissions.ts
Labels: fix

#484 feat(rest/request_manager): support for multiple attachments
  src/rest/request_manager.ts
  src/types/channel.ts
Labels: feat

#489 style: fix lint warnings
  src/api/structures/message.ts
  src/interactions/types/embed.ts
  src/interactions/types/interactions.ts
  src/interactions/types/member.ts
  src/interactions/types/slash.ts
  src/interactions/types/webhook.ts
  src/types/activity.ts
  src/types/channel.ts
  src/types/discord.ts
  src/types/guild.ts
  src/types/interactions.ts
  src/types/invite.ts
  src/types/member.ts
  src/types/message.ts
  src/types/oauth.ts
  src/types/role.ts
  src/types/teams.ts
  src/types/webhook.ts
Labels: style

#486 fix(controllers/roles): emit roleDelete only once
  src/api/controllers/roles.ts
Labels: fix

#495 fix: add handler/oauth to exports
  mod.ts
Labels: fix

#491 refactor(ws/shard): rewrite the onclose event listener
  src/ws/shard.ts
Labels: refactor
