Repository discordeno/discordeno, pull requests merged in 2021-03, with the labels that each got.

#563 style: format json files
  .devcontainer/devcontainer.json
  .vscode/settings.json
  docs/src/stepbystep/createlanguage.md
Labels: style

#565 docs(structures/member): update description for Member#guildMember()
  src/api/structures/member.ts
Labels: docs

#599 fix(types/interactions): make "content" optional in SlashCommandCallbackData
  .github/workflows/lint.yml
  src/interactions/types/interactions.ts
Labels: fix

#601 fix(handlers/webhook): do not add Date.now() to 900000 ms in executeSlashCommand()
  src/api/handlers/webhook.ts
Labels: fix

#595 feat(types/permission): add USE_SLASH_COMMANDS permission
  src/types/permission.ts
Labels: feat

#597 fix(handlers/channel): handle max_age and max_uses limit in createInvite()
  src/api/handlers/channel.ts
  src/types/channel.ts
Labels: fix

#611 fix(handlers/webhook): return Message object instead of raw payload
  src/api/handlers/webhook.ts
Labels: BREAKING, fix

#613 feat(handlers/webhook): test slash command name against ^[\w-]{1,32}$
  src/api/handlers/webhook.ts
  src/util/constants.ts
Labels: feat

#616 feat(types/embed): add proxy_url to EmbedVideo interface
  src/types/api/embed.ts
  src/types/message.ts
Labels: feat

#615 feat(util): add camelToSnakeCase() & snakeToCamelCase()
  src/util/utils.ts
  test/utils.test.ts
Labels: feat

#617 fix(handlers/webhook): update slash commands handlers' types
  src/api/handlers/webhook.ts
  src/types/webhook.ts
Labels: fix

#610 fix(types/webhook): update interaction response types
  src/interactions/types/interactions.ts
  src/types/webhook.ts
Labels: BREAKING, fix

#603 feat(types/interaction): add "resolved" field to DiscordInteractionCommand
  src/types/api/interaction.ts
  src/types/api/member.ts
Labels: feat, pending

#605 feat(types/guild): add computePruneCount to PruneOptions
  src/api/handlers/guild.ts
  src/types/guild.ts
Labels: feat

#641 feat(types/member): add permissions in MemberCreatePayload
  src/interactions/types/member.ts
  src/types/member.ts
Labels: feat

#642 feat(types/message): add fail_if_not_exists to Reference interface
  src/api/handlers/channel.ts
  src/api/structures/message.ts
  src/types/channel.ts
  src/types/message.ts
Labels: feat

#619 feat(types/interaction): add missing fields in DiscordInteractionDataOption
  src/types/api/interaction.ts
Labels: feat, pending

#626 fix(handlers/channel): add permission handler for startTyping()
  src/api/handlers/channel.ts
Labels: fix

#509 fix(types/channel): change FileContent.blob type to Blob
  src/interactions/types/webhook.ts
  src/rest/request_manager.ts
  src/types/api/message.ts
  src/types/channel.ts
  src/types/webhook.ts
Labels: BREAKING, fix

#388 feat: change Guild.emojis to use collection
  src/api/controllers/guilds.ts
  src/api/handlers/guild.ts
  src/api/structures/guild.ts
  src/types/options.ts
Labels: BREAKING, feat

#578 fix(handlers/member): change editMember() to return a Member object
  src/api/handlers/member.ts
Labels: BREAKING, fix

#598 fix(types/interactions): remove "default" from ApplicationCommandOption
  src/types/interactions.ts
Labels: BREAKING, fix

#505 fix(types/guild): change "user" to "creator" in GuildTemplate
  src/types/guild.ts
Labels: BREAKING, fix

#528 feat(handlers/guild): change createGuildChannel() to use guild ID
  src/api/handlers/guild.ts
  test/mod.test.ts
Labels: BREAKING, feat

#386 refactor(handlers/guild): rename guild widget functions
  src/api/handlers/guild.ts
  src/api/handlers/mod.ts
Labels: BREAKING, refactor

#643 fix(handlers/webhook): return Message object instead of raw payload
  src/api/handlers/webhook.ts
Labels: BREAKING, fix

#644 fix(types/webhook): update interaction response types
  src/interactions/types/interactions.ts
  src/types/webhook.ts
Labels: BREAKING

#645 refactor: rename slowmode to rateLimitPerUser
  src/api/handlers/channel.ts
  src/api/structures/channel.ts
  src/types/channel.ts
Labels: BREAKING, refactor

#559 fix(ws/shard): update status update payload
  src/types/discord.ts
  src/util/utils.ts
  src/ws/shard.ts
  src/ws/shard_manager.ts
Labels: BREAKING, fix

#395 refactor(structures): rename create* functions
  docs/src/advanced/customizations.md
  src/api/controllers/channels.ts
  src/api/controllers/guilds.ts
  src/api/controllers/interactions.ts
  src/api/controllers/members.ts
  src/api/controllers/messages.ts
  src/api/controllers/misc.ts
  src/api/controllers/reactions.ts
  src/api/controllers/roles.ts
  src/api/handlers/channel.ts
  src/api/handlers/guild.ts
  src/api/handlers/member.ts
  src/api/handlers/message.ts
  src/api/handlers/mod.ts
  src/api/handlers/webhook.ts
  src/api/structures/channel.ts
  src/api/structures/guild.ts
  src/api/structures/member.ts
  src/api/structures/message.ts
  src/api/structures/mod.ts
  src/api/structures/role.ts
  src/api/structures/template.ts
  test/mod.test.ts
Labels: BREAKING, refactor

#410 feat(handlers/webhook): change getSlashCommands() to return Collection
  src/api/handlers/webhook.ts
Labels: BREAKING, feat

#420 feat(handlers/guild): add getWidget() & getWidgetImageUrl()
  src/api/handlers/guild.ts
  src/api/handlers/mod.ts
  src/types/errors.ts
Labels: feat, pending

#654 refactor(handlers/guild): rename roles option to includeRoles
  src/api/handlers/guild.ts
  src/types/guild.ts
Labels: BREAKING, refactor

#651 feat(controllers): add CHANNEL_PINS_UPDATE controller
  src/api/controllers/CHANNEL_PINS_UPDATE.ts
  src/api/controllers/mod.ts
  src/types/discord.ts
  src/types/options.ts
Labels: feat

#650 feat(controllers): add GUILD_INTEGRATIONS_UPDATE controller
  src/api/controllers/GUILD_INTEGRATIONS_UPDATE.ts
  src/api/controllers/mod.ts
  src/types/discord.ts
  src/types/options.ts
Labels: feat

#649 docs(README): template -> boilerplate
  README.md
Labels: docs

#653 refactor(controllers): remove redundant DiscordPayload#t check
  docs/src/advanced/customizations.md
  src/api/controllers/bans.ts
  src/api/controllers/channels.ts
  src/api/controllers/guilds.ts
  src/api/controllers/interactions.ts
  src/api/controllers/members.ts
  src/api/controllers/messages.ts
  src/api/controllers/misc.ts
  src/api/controllers/reactions.ts
  src/api/controllers/roles.ts
Labels: refactor

#655 feat(handlers/message): change getReactions() to use collection
  src/api/handlers/message.ts
Labels: BREAKING, feat

#647 fix(controllers/READY): reimplement guild cache mechanism
  src/api/controllers/READY.ts
  src/api/controllers/guilds.ts
  src/api/controllers/misc.ts
  src/api/controllers/mod.ts
  src/bot.ts
  src/types/options.ts
  src/ws/shard.ts
Labels: BREAKING, fix

#662 refactor(helpers/message): divide message arg into channelID & messageID in getReactions()
  src/helpers/message.ts
Labels: BREAKING, refactor

#381 feat(util/permissions): improve permission-checking
  src/handlers/guilds/GUILD_CREATE.ts
  src/helpers/channel.ts
  src/helpers/guild.ts
  src/helpers/member.ts
  src/helpers/message.ts
  src/helpers/webhook.ts
  src/types/errors.ts
  src/types/permission.ts
  src/util/permissions.ts
Labels: BREAKING, feat

#668 refactor(helpers): rename & replace deleteMessageByID() with deleteMessage()
  src/helpers/messages/delete_message.ts
  src/helpers/messages/delete_message_by_id.ts
  src/helpers/mod.ts
  src/structures/message.ts
Labels: refactor

#676 refactor(helpers): rename executeSlashCommand to sendInteractionResponse
  src/helpers/commands/send_interaction_response.ts
  src/helpers/mod.ts
  src/interactions/types/slash.ts
  src/types/webhook.ts
Labels: BREAKING, refactor

#678 refactor(helpers): rename createGuildChannel to createChannel
  src/helpers/channels/create_channel.ts
  src/helpers/mod.ts
Labels: BREAKING, refactor

#680 fix(util/collection): .first(), .last(), .random() may return undefined
  src/util/collection.ts
Labels: fix
