Repository discordeno/discordeno, pull requests merged in 2021-07, with the labels that each got.

#1068 feat: requiredStructureProperties
  src/cache.ts
  src/structures/channel.ts
  src/structures/guild.ts
  src/structures/member.ts
  src/structures/message.ts
  src/structures/role.ts
  src/structures/voice_state.ts
Labels: feat

#1069 feat(types): add 10068 code to DiscordJsonErrorCodes
  src/types/codes/json_error_codes.ts
Labels: pending

#1072 fix: typo in EditMessage.flags
  src/types/messages/message_flags.ts
Labels: BREAKING, pending

#1073 fix(util): remove guildId from Thread interface
  src/util/transformers/channel_to_thread.ts
Labels: fix
