Repository discordeno/discordeno, pull requests merged in 2021-02, with the labels that each got.

#499 feat(rest/request_manager): support multiple attachments
  src/rest/request_manager.ts
  src/types/channel.ts
Labels: feat

#504 feat(controllers/misc): add inviteCreate & inviteDelete listeners
  src/api/controllers/misc.ts
  src/api/controllers/mod.ts
  src/types/discord.ts
  src/types/options.ts
Labels: feat

#512 fix(controllers/guild): guildDelete listener not emitted & guildUpdate listener caching irrelevant fields
  src/api/controllers/guilds.ts
Labels: fix

#514 feat(ws/shard): add sendWS()
  src/ws/shard.ts
Labels: feat

#516 fix(ws/shard): pass shardID to sendWS()
  src/ws/shard.ts
Labels: fix

#517 fix: remove structure automatic caching
  src/api/controllers/channels.ts
  src/api/controllers/guilds.ts
  src/api/controllers/interactions.ts
  src/api/controllers/members.ts
  src/api/controllers/messages.ts
  src/api/controllers/misc.ts
  src/api/controllers/reactions.ts
  src/api/handlers/guild.ts
  src/api/handlers/member.ts
  src/api/structures/channel.ts
  src/api/structures/guild.ts
  src/api/structures/member.ts
Labels: fix

#518 fix(ws/shard): use WebSocket#close() instead of WebSocket#send() to close connection
  src/ws/shard.ts
Labels: fix

#521 docs: rename discordeno/discordeno-boilerplate to discordeno/boilerplate
  README.md
  docs/src/migrating.md
  docs/src/stepbystep/createbot.md
Labels: docs

#522 docs(migrating): format file
  docs/src/migrating.md
Labels: docs

#523 feat(structures/message): add DM redirect for send message methods
  src/api/structures/message.ts
Labels: feat

#529 docs(README): mention usage of SemVer
  README.md
Labels: docs

#531 refactor: use updated identify payload instead
  src/bot.ts
  src/ws/shard.ts
  src/ws/shard_manager.ts
Labels: BREAKING, refactor

#540 build: update zlib & ed25519 to latest
  .swp
  src/interactions/deps.ts
  src/ws/deps.ts
Labels: build

#538 fix(rest): fix standalone REST queue
  src/api/handlers/channel.ts
  src/rest/deps.ts
  src/rest/queue.ts
  src/rest/request.ts
  src/rest/request_manager.ts
  src/rest/server.ts
  src/rest/types/requests.ts
  src/rest/types/server.ts
Labels: fix

#543 feat(ws/shard): add closeWS() function
  src/ws/shard.ts
Labels: feat

#550 build: update dependencies to latest
  deps.ts
  src/interactions/deps.ts
  test/deps.ts
Labels: build

#549 fix(rest/queue): logical error in response status handling
  src/rest/queue.ts
Labels: fix

#551 fix(structures/channel): empty guildID in Channel struct
  src/api/structures/guild.ts
Labels: fix

#555 fix(util/permissions): move owner check before member cache check
  src/util/permissions.ts
Labels: fix

#552 docs(README): add link to invalid request limit
  README.md
Labels: docs
