Repository discordeno/discordeno, pull requests merged in 2021-04, with the labels that each got.

#730 refactor(structures/channel): auto-convert the paylaod fields to camel case
  src/structures/channel.ts
  src/util/utils.ts
Labels: refactor

#525 feat(ws): support for proxy websocket
  mod.ts
  src/bot.ts
  src/cache.ts
  src/handlers/guilds/GUILD_CREATE.ts
  src/handlers/guilds/GUILD_DELETE.ts
  src/helpers/channels/create_channel.ts
  src/helpers/guilds/guild_banner_url.ts
  src/helpers/members/fetch_members.ts
  src/helpers/members/get_member.ts
  src/helpers/members/get_members_by_query.ts
  src/structures/guild.ts
  src/structures/message.ts
  src/types/users/connection.ts
  src/util/constants.ts
  src/util/random.ts
  src/util/utils.ts
  src/ws/README.md
  src/ws/cleanup_loading_shards.ts
  src/ws/create_shard.ts
  src/ws/events.ts
  src/ws/handle_discord_payload.ts
  src/ws/handle_on_message.ts
  src/ws/heartbeat.ts
  src/ws/identify.ts
  src/ws/mod.ts
  src/ws/resharder.ts
  src/ws/resume.ts
  src/ws/shard.ts
  src/ws/shard_manager.ts
  src/ws/spawn_shards.ts
  src/ws/start_gateway.ts
  src/ws/start_gateway_options.ts
  src/ws/tell_cluster_to_identify.ts
  src/ws/ws.ts
Labels: feat

#799 tests: react with custom emojis tests
  tests/messages/add_reaction.ts
Labels: run-tests

#802 tests: add all messages tests
  tests/messages/add_reactions.ts
  tests/messages/delete_messages.ts
  tests/messages/get_message.ts
  tests/messages/get_messages.ts
  tests/messages/get_reactions.ts
  tests/messages/pin_message.ts
  tests/messages/remove_all_reactions.ts
  tests/messages/remove_reaction.ts
  tests/messages/remove_reaction_emoji.ts
  tests/messages/remove_user_reaction.ts
  tests/messages/unpin_message.ts
  tests/mod.ts
Labels: run-tests

#810 fix(tests): fix reactions tests
  tests/channels/category_children.ts
  tests/channels/create_channel.ts
  tests/messages/add_reaction.ts
  tests/messages/add_reactions.ts
  tests/messages/create_message.ts
  tests/messages/remove_all_reactions.ts
  tests/messages/remove_reaction.ts
  tests/messages/remove_reaction_emoji.ts
  tests/messages/remove_user_reaction.ts
  tests/util/utils.ts
Labels: run-tests

#822 tests: add roles tests
  src/handlers/roles/GUILD_ROLE_CREATE.ts
  src/handlers/roles/GUILD_ROLE_UPDATE.ts
  src/helpers/roles/create_role.ts
  src/helpers/roles/swap_roles.ts
  tests/mod.ts
  tests/roles/add_role.ts
  tests/roles/create_role.ts
  tests/roles/delete_role.ts
  tests/roles/edit_role.ts
  tests/roles/get_roles.ts
  tests/roles/remove_role.ts
  tests/roles/swap_roles.ts
Labels: run-tests

#728 feat: add support for stage channels
  src/helpers/guilds/update_bot_voice_state.ts
  src/helpers/guilds/update_user_voice_state.ts
  src/types/channels/channel_types.ts
  src/types/guilds/update_others_voice_state.ts
  src/types/guilds/update_self_voice_state.ts
  src/types/permissions/bitwise_permission_flags.ts
  src/types/voice/voice_state.ts
  src/util/constants.ts
Labels: feat, pending

#855 tests: add invites tests
  src/helpers/invites/get_invite.ts
  tests/invites/create_invite.ts
  tests/invites/delete_invite.ts
  tests/invites/get_channel_invites.ts
  tests/invites/get_invite.ts
  tests/invites/get_invites.ts
  tests/mod.ts
Labels: run-tests

#858 feat: implement channel cloning
  src/helpers/channels/clone_channel.ts
  src/structures/channel.ts
  tests/channels/clone_channel.ts
  tests/mod.ts
Labels: run-tests
