Repository discordeno/discordeno, pull requests merged in 2021-05, with the labels that each got.

#891 add(types): max ban fetch error code 30037
  src/types/codes/json_error_codes.ts
Labels: pending, run-tests

#899 add(tests): validateSlashCommands
  tests/deps.ts
  tests/util/utils.ts
Labels: pending, test

#905 test(util): add options & choices tests
  tests/util/utils.ts
Labels: run-tests, test

#923 add(structures): applicationId to Message
  src/structures/message.ts
  src/types/messages/message.ts
Labels: pending

#924 add: stage instances
  src/helpers/channels/create_stage_instance.ts
  src/helpers/channels/delete_stage_instance.ts
  src/helpers/channels/get_stage_instance.ts
  src/helpers/channels/update_stage_instance.ts
  src/helpers/mod.ts
  src/types/channels/stage_instance.ts
  src/types/discordeno/errors.ts
  src/types/mod.ts
  src/util/constants.ts
Labels: feat

#932 fix(types): joinedAt is nullable
  src/types/members/guild_member_update.ts
Labels: fix

#944 add: stage instances events
  src/handlers/channels/STAGE_INSTANCE_CREATE.ts
  src/handlers/channels/STAGE_INSTANCE_DELETE.ts
  src/handlers/channels/STAGE_INSTANCE_UPDATE.ts
  src/handlers/mod.ts
  src/plugins/proxyEvents.ts
  src/types/discordeno/eventHandlers.ts
  src/types/gateway/gateway_intents.ts
  src/types/gateway/gateway_payload.ts
  src/types/guilds/guild.ts
  tests/ws/start_bot.ts
Labels: feat, pending

#958 add(types): nsfw_level field to Guild
  .gitignore
  src/types/guilds/guild.ts
  src/types/guilds/guild_nsfw_level.ts
Labels: pending

#975 add: getDiscovery() & change: rename endpoint constant DISCOVERY_MODIFY to DISCOVERY_METADATA
  src/helpers/discovery/edit_discovery.ts
  src/helpers/discovery/get_discovery.ts
  src/structures/voice_state.ts
  src/util/constants.ts
Labels: BREAKING, feat, pending

#996 InteractionResponseTypes: add: UpdateMessage & change: rename DefferedMessageUpdate to DeferredUpdateMessage
  src/types/interactions/interaction_response_types.ts
Labels: BREAKING

#993 change: interactionTypes rename Button to MessageComponent
  src/types/interactions/interaction_types.ts
Labels: BREAKING

#1003 change: editMessage using Id & fix: editMessage snakelize body
  src/helpers/messages/edit_message.ts
  src/structures/message.ts
  tests/messages/edit_message.ts
Labels: BREAKING, fix
