Repository discordeno/discordeno, pull requests merged in 2022-05, with the labels that each got.

#2216 fix(.github): repo syncer remove deleted files
  .github/sync.yml
Labels: t-fix

#2220 refactor(plugins/permissions)!: rename `createForumPosts` to `createForumPost`
  plugins/permissions/src/channels/forums/createForumPost.ts
  plugins/permissions/src/channels/forums/mod.ts
Labels: t-refactor, p-permissions

#2222 fix(rest,types): `getArchivedThreads` `before` option and wrong return type
  helpers/channels/threads/getArchivedThreads.ts
  types/discord.ts
Labels: t-fix, m-types, m-rest

#2223 docs(helpers,types): add discord doc links & remove leftover comments
  types/discord.ts
  types/shared.ts
Labels: t-docs, m-types, p-helpers

#2225 docs(rest,types): Update AuditLog related comments
  helpers/guilds/getAuditLogs.ts
  types/discord.ts
  types/shared.ts
Labels: t-docs, m-types, m-rest

#2243 refactor(.github,README,gateway,plugins/fileloader,tests,types)!: make intent calculation manual
  .github/ISSUE_TEMPLATE/bug_report.md
  README.md
  bot.ts
  gateway/README.md
  gateway/gatewayManager.ts
  plugins/fileloader/README.md
  site/docs/big-bot-guide/events.md
  site/docs/big-bot-guide/gateway.md
  site/docs/general/getting-started.md
  site/docs/general/migrating.md
  tests/mod.ts
  testss/mod.ts
  types/shared.ts
Labels: t-refactor, t-breaking, m-types, m-gateway, p-fileloader

#2238 fix(rest)!: `editApplicationCommandPermissions`
  helpers/interactions/commands/batchEditApplicationCommandPermissions.ts
  helpers/interactions/commands/editApplicationCommandPermissions.ts
  helpers/interactions/commands/mod.ts
  rest/createRequestBody.ts
  rest/rest.ts
  rest/runMethod.ts
Labels: t-fix, t-breaking, m-types, m-rest

#2239 fix(rest): `sendInteractionResponse` file upload
  helpers/interactions/sendInteractionResponse.ts
Labels: t-fix, m-rest

#2241 refactor(gateway,types,util)!: finalize gateway code
  bot.ts
  gateway/calculateMaxShards.ts
  gateway/closeWs.ts
  gateway/createShard.ts
  gateway/gatewayManager.ts
  gateway/handleOnMessage.ts
  gateway/heartbeat.ts
  gateway/identify.ts
  gateway/manager/calculateTotalShards.ts
  gateway/manager/calculateWorkerId.ts
  gateway/manager/gatewayManager.ts
  gateway/manager/mod.ts
  gateway/manager/prepareBuckets.ts
  gateway/manager/resharder.ts
  gateway/manager/shardManager.ts
  gateway/manager/spawnShards.ts
  gateway/manager/stop.ts
  gateway/manager/tellWorkerToIdentify.ts
  gateway/mod.ts
  gateway/processGatewayQueue.ts
  gateway/resharder.ts
  gateway/resume.ts
  gateway/safeRequestsPerShard.ts
  gateway/sendShardMessage.ts
  gateway/shard.ts
  gateway/shard/calculateSafeRequests.ts
  gateway/shard/close.ts
  gateway/shard/connect.ts
  gateway/shard/createShard.ts
  gateway/shard/deps.ts
  gateway/shard/handleClose.ts
  gateway/shard/handleMessage.ts
  gateway/shard/identify.ts
  gateway/shard/isOpen.ts
  gateway/shard/mod.ts
  gateway/shard/resume.ts
  gateway/shard/send.ts
  gateway/shard/shutdown.ts
  gateway/shard/startHeartbeating.ts
  gateway/shard/stopHeartbeating.ts
  gateway/shard/types.ts
  gateway/spawnShards.ts
  gateway/stopGateway.ts
  helpers/members/fetchMembers.ts
  helpers/misc/editBotStatus.ts
  helpers/misc/editShardStatus.ts
  helpers/misc/mod.ts
  helpers/voice/connectToVoiceChannel.ts
  types/shared.ts
  util/bucket.ts
  util/calculateShardId.ts
Labels: t-refactor, t-breaking, m-types, m-gateway

#2253 fix(bot): pass intents to gatewayConfig
  bot.ts
Labels: t-fix

#2261 fix(gateway,bot): socket close debug handling & last/totalShards
  bot.ts
  gateway/shard/handleClose.ts
Labels: t-fix, m-gateway
