Repository discordeno/discordeno, pull requests merged in 2022-02, with the labels that each got.

#1990 fix: docs home page
  site/docusaurus.config.js
  site/src/components/HomepageFeatures.tsx
Labels: docs, fix

#1993 fix(permissions): `editMessage` content length check
  plugins/permissions/src/messages/create.ts
Labels: t-fix, p-permissions

#1991 ci(site_tests): fix invalid pr path filter
  .github/workflows/site_tests.yml
Labels: t-fix, t-ci

#1995 test: remove `configs.ts`
  .github/workflows/pr_tests.yml
  .github/workflows/test.yml
  .gitignore
  configs.example.ts
  tests/deps.ts
  tests/mod.ts
Labels: t-test

#1996 fix(cname): website domain not getting set
  site/static/CNAME
Labels: t-fix

#1958 discord-api-docs: Document partial member data in message interaction object
  src/transformers/message.ts
  src/types/interactions/messageInteraction.ts
Labels: t-feat, m-types

#1960 discord-api-docs: Document Scheduled Event Covers
  src/transformers/scheduledEvent.ts
  src/types/guilds/scheduledEvents.ts
Labels: t-feat, m-types

#1997 ci(npm): publish to npm on tag creation
  .github/workflows/npm.yml
  dnt.ts
Labels: t-ci

#1999 fix(types): handle `communicationDisabledUntil` correctly
  src/transformers/message.ts
  src/types/members/guildMemberUpdate.ts
Labels: t-fix, m-types

#2002 refactor!: do not store token prefixed with `Bot`
  src/bot.ts
  src/rest/createRequestBody.ts
  src/ws/identify.ts
  src/ws/resharder.ts
  src/ws/resume.ts
Labels: t-refactor, t-breaking, m-gateway, m-rest

#2004 style: remove .prettierrc
  .prettierrc
Labels: t-style

#2001 test: fix unit tests related to code bugs
  src/transformers/voiceRegion.ts
  src/ws/handleOnMessage.ts
  tests/deps.ts
  tests/helpers/channels/deleteChannelOverwrite.ts
  tests/misc/editBotStatus.ts
  tests/mod.ts
  tests/utils.ts
  tests/webhooks/deleteWebhook.ts
  tests/webhooks/webhooks.ts
Labels: t-test, t-fix

#2007 ci: also run tests on pull requests
  .github/workflows/format.yml
  .github/workflows/test.yml
Labels: t-ci

#2012 refactor(gateway)!: move `createGatewayManager` to gateway module
  src/bot.ts
  src/util/calculateShardId.ts
  src/ws/createShard.ts
  src/ws/gateway_manager.ts
  src/ws/handleOnMessage.ts
  src/ws/heartbeat.ts
  src/ws/identify.ts
  src/ws/mod.ts
  src/ws/processGatewayQueue.ts
  src/ws/resharder.ts
  src/ws/resume.ts
  src/ws/sendShardMessage.ts
  src/ws/spawnShards.ts
  src/ws/tellWorkerToIdentify.ts
Labels: t-refactor, t-breaking, m-gateway

#2013 refactor(rest)!: move `createRestManager` to rest module
  src/bot.ts
  src/rest/mod.ts
  src/rest/rest_manager.ts
Labels: t-refactor, t-breaking, m-rest

#2021 refactor: remove unused imports
  src/bot.ts
  src/handlers/channels/THREAD_LIST_SYNC.ts
  src/helpers/channels/createChannel.ts
  src/helpers/channels/startTyping.ts
  src/helpers/channels/threads/getArchivedThreads.ts
  src/helpers/discovery/validDiscoveryTerm.ts
  src/helpers/emojis/getEmoji.ts
  src/helpers/emojis/getEmojis.ts
  src/helpers/guilds/scheduledEvents/editScheduledEvent.ts
  src/helpers/interactions/commands/editInteractionResponse.ts
  src/helpers/interactions/commands/upsertApplicationCommands.ts
  src/helpers/interactions/followups/editFollowupMessage.ts
  src/helpers/interactions/getOriginalInteractionResponse.ts
  src/helpers/invites/getInvites.ts
  src/helpers/members/fetchMembers.ts
  src/helpers/members/getMembers.ts
  src/helpers/messages/publishMessage.ts
  src/helpers/messages/sendMessage.ts
  src/helpers/misc/editBotProfile.ts
  src/helpers/misc/getGatewayBot.ts
  src/helpers/misc/getUser.ts
  src/helpers/webhooks/editWebhookWithToken.ts
  src/helpers/webhooks/getWebhooks.ts
  src/helpers/webhooks/sendWebhook.ts
  src/transformers/auditlogEntry.ts
  src/transformers/guild.ts
  src/transformers/invite.ts
  src/types/interactions/commands/applicationCommandCallbackData.ts
  src/types/messages/components/buttonComponent.ts
  src/types/messages/createMessage.ts
Labels: t-refactor, m-types, m-gateway, m-rest

#2025 fix(types): add missing message component exports
  src/types/messages/mod.ts
Labels: t-fix, m-types

#2024 ci: run local tests on PR
  .github/workflows/local_tests.yml
Labels: t-ci

#2022 style: deny changes to `deno.json`
  .github/CONTRIBUTING.md
Labels: t-style

#2026 feat(types): add `value` to `InputTextComponent`
  src/types/messages/components/inputTextComponent.ts
Labels: t-feat, m-types

#2027 feat: rc19 release
  src/util/constants.ts
Labels: t-feat, m-all, p-all

#2029 ci: change the name of the NPM publish workflow to publish
  .github/workflows/npm.yml
Labels: t-ci

#1979 fix(gatway): resharder bug
  src/bot.ts
  src/ws/gateway_manager.ts
  src/ws/resharder.ts
Labels: t-fix, m-gateway

#2037 refactor!: rename the `ws` folder to `gateway`
  .github/workflows/local_tests.yml
  bot.ts
  dnt.ts
  gateway/README.md
  gateway/closeWs.ts
  gateway/createShard.ts
  gateway/deps.ts
  gateway/gateway_manager.ts
  gateway/handleOnMessage.ts
  gateway/heartbeat.ts
  gateway/identify.ts
  gateway/mod.ts
  gateway/processGatewayQueue.ts
  gateway/resharder.ts
  gateway/resume.ts
  gateway/sendShardMessage.ts
  gateway/spawnShards.ts
  gateway/startGatewayOptions.ts
  gateway/tellWorkerToIdentify.ts
  gateway/ws.ts
  mod.ts
  util/calculateShardId.ts
Labels: t-refactor, t-breaking, m-gateway

#2033 feat(plugins/helpers): add `sendTextMessage` to send a simple string
  plugins/helpers/mod.ts
  plugins/helpers/src/sendTextMessage.ts
Labels: t-feat, p-helpers

#2034 fix(plugins/permissions): getting disabled welcome screens requires `MANAGE_GUILD`
  plugins/permissions/src/guilds/welcomeScreen.ts
Labels: t-fix, p-permissions

#2035 feat(plugins/helpers): `fetchAndRetrieveMembers`
  plugins/helpers/mod.ts
  plugins/helpers/src/fetchAndRetrieveMembers.ts
Labels: t-feat, p-helpers

#2038 fix(types): add code 40060 to `JsonErrorCodes`
  types/codes/jsonErrorCodes.ts
Labels: t-fix, m-types

#2039 fix(types): add code 40004 to `JsonErrorCodes`
  types/codes/jsonErrorCodes.ts
Labels: t-fix, m-types

#2065 fix(plugins): await old function return
  plugins/permissions/src/channels/deleteChannel.ts
  plugins/permissions/src/channels/deleteChannelOverwrite.ts
  plugins/permissions/src/channels/editChannel.ts
  plugins/permissions/src/channels/editChannelOverwrite.ts
  plugins/permissions/src/channels/followChannel.ts
  plugins/permissions/src/channels/getChannelWebhooks.ts
  plugins/permissions/src/channels/stage.ts
  plugins/permissions/src/channels/swapChannels.ts
  plugins/permissions/src/channels/threads/addToThread.ts
  plugins/permissions/src/channels/threads/getArchivedThreads.ts
  plugins/permissions/src/channels/threads/getThreadMembers.ts
  plugins/permissions/src/channels/threads/joinThread.ts
  plugins/permissions/src/channels/threads/leaveThread.ts
  plugins/permissions/src/channels/threads/removeThreadMember.ts
  plugins/permissions/src/connectToVoiceChannels.ts
  plugins/permissions/src/discovery.ts
  plugins/permissions/src/editMember.ts
  plugins/permissions/src/emojis.ts
  plugins/permissions/src/guilds/createGuild.ts
  plugins/permissions/src/guilds/deleteGuild.ts
  plugins/permissions/src/guilds/editGuild.ts
  plugins/permissions/src/guilds/events.ts
  plugins/permissions/src/guilds/getAuditLogs.ts
  plugins/permissions/src/guilds/getBan.ts
  plugins/permissions/src/guilds/getBans.ts
  plugins/permissions/src/guilds/getPruneCount.ts
  plugins/permissions/src/guilds/getVanityUrl.ts
  plugins/permissions/src/guilds/welcomeScreen.ts
  plugins/permissions/src/guilds/widget.ts
  plugins/permissions/src/integrations.ts
  plugins/permissions/src/interactions/commands.ts
  plugins/permissions/src/interactions/editFollowupMessage.ts
  plugins/permissions/src/invites.ts
  plugins/permissions/src/members/ban.ts
  plugins/permissions/src/members/editBot.ts
  plugins/permissions/src/members/editMember.ts
  plugins/permissions/src/members/kickMember.ts
  plugins/permissions/src/members/pruneMembers.ts
  plugins/permissions/src/messages/create.ts
  plugins/permissions/src/messages/delete.ts
  plugins/permissions/src/messages/get.ts
  plugins/permissions/src/messages/pin.ts
  plugins/permissions/src/messages/reactions.ts
  plugins/permissions/src/misc/mod.ts
  plugins/permissions/src/roles/add.ts
  plugins/permissions/src/roles/create.ts
  plugins/permissions/src/roles/delete.ts
  plugins/permissions/src/roles/edit.ts
  plugins/permissions/src/roles/remove.ts
  plugins/permissions/src/webhooks/createWebhook.ts
  plugins/permissions/src/webhooks/deleteWebhook.ts
  plugins/permissions/src/webhooks/editWebhook.ts
  plugins/permissions/src/webhooks/message.ts
  plugins/permissions/src/webhooks/sendWebhook.ts
  r.ts
Labels: t-fix, p-permissions

#2061 docs(types): add link for `InputTextComponent`
  types/messages/components/inputTextComponent.ts
Labels: t-docs, m-types

#2060 docs(types): update `MessageComponentTypes` variant description
  types/messages/components/messageComponentTypes.ts
Labels: t-docs, m-types

#2059 fix(types): `ScheduledEvent#creator_id` is nullable
  types/guilds/scheduledEvents.ts
Labels: t-fix, m-types

#2057 fix(types): `ThreadMetadata#create_timestamp` is optional and nullable & `locked` is not optional
  types/channels/threads/threadMetadata.ts
Labels: t-fix, m-types

#2056 fix(types): `invitable` & `createTimestamp` are in `ThreadMetadata` and not in `Channel`
  transformers/channel.ts
  types/channels/channel.ts
Labels: t-fix, m-types

#2055 docs(types): Clarify documentation on the `CREATE_PUBLIC_THREADS` permission
  types/permissions/bitwisePermissionFlags.ts
Labels: t-docs, m-types

#2062 docs(types): add `attachment` to `InteractionData`
  types/interactions/commands/applicationCommandInteractionData.ts
Labels: t-docs, m-types

#2066 fix(types): `SelectOption#default` is not required
  transformers/component.ts
  types/messages/components/selectOption.ts
Labels: t-fix, m-types

#2054 fix(types, helpers)!: EditMessage helper transformer & change `Embed` to `DiscordenoEmbed`
  helpers/messages/editMessage.ts
  transformers/embed.ts
  types/messages/editMessage.ts
Labels: t-fix, t-breaking, m-types, m-rest, p-helpers

#2051 docs(types): clarify which message flags can be sent
  types/interactions/commands/applicationCommandCallbackData.ts
Labels: t-docs, m-types

#2076 fix(dnt): add transformers
  dnt.ts
Labels: t-fix

#2079 fix(gateway): rate-limit handling
  gateway/gateway_manager.ts
  gateway/handleOnMessage.ts
  gateway/identify.ts
  gateway/mod.ts
  gateway/processGatewayQueue.ts
  gateway/resume.ts
  gateway/safeRequestsPerShard.ts
  gateway/sendShardMessage.ts
  gateway/shard.ts
Labels: t-feat, t-fix, t-refactor, t-breaking, m-gateway

#2078 feat(gateway): add `stopGateway` function
  bot.ts
  gateway/gateway_manager.ts
  gateway/stopGateway.ts
Labels: t-feat, m-gateway
