Repository discordeno/discordeno, pull requests merged in 2022-09, with the labels that each got.

#2411 fix: remove GUILD_LOADED_DD as it's no longer an event
  bot.ts
  handlers/guilds/GUILD_LOADED_DD.ts
  handlers/guilds/mod.ts
  template/bigbot/src/bot/events/raw.ts
  template/bigbot/src/bot/index.ts
  types/shared.ts
Labels: t-breaking

#2419 add applicationCommandBadge to application flags
  types/shared.ts
Labels: t-breaking

#2417 update channel types names
  helpers/channels/threads/startThreadWithoutMessage.ts
  tests/channels/createNews.test.ts
  tests/channels/editChannelWithReason.test.ts
  tests/channels/invites/invite.test.ts
  types/shared.ts
Labels: t-breaking

#2439 types/shared: add InvitesDisabled to GuildFeatures
  transformers/toggles/guild.ts
  types/shared.ts
Labels: m-types

#2459 add nonce to sendMessage options
  helpers/messages/sendMessage.ts
  transformers/message.ts
Labels: m-types, m-rest

#2458 add union type DiscordConnectionServices
  types/discord.ts
Labels: m-types

#2449 types: WithReason
  helpers/channels/createChannel.ts
  helpers/channels/deleteChannelPermissionOverride.ts
  helpers/channels/editChannel.ts
  helpers/channels/editChannelPermissionOverrides.ts
  helpers/channels/forums/createForumThread.ts
  helpers/channels/stages/createStageInstance.ts
  helpers/channels/stages/deleteStageInstance.ts
  helpers/channels/stages/editStageInstance.ts
  helpers/channels/threads/startThreadWithMessage.ts
  helpers/channels/threads/startThreadWithoutMessage.ts
  helpers/emojis/createEmoji.ts
  helpers/emojis/editEmoji.ts
  helpers/guilds/automod/createAutomodRule.ts
  helpers/guilds/automod/editAutomodRule.ts
  helpers/guilds/events/createScheduledEvent.ts
  helpers/guilds/events/editScheduledEvent.ts
  helpers/guilds/invites/createInvite.ts
  helpers/guilds/invites/deleteInvite.ts
  helpers/members/banMember.ts
  helpers/members/editBotMember.ts
  helpers/messages/pinMessage.ts
  helpers/messages/unpinMessage.ts
  helpers/webhooks/createWebhook.ts
  helpers/webhooks/editWebhook.ts
  types/discordeno.ts
Labels: t-breaking, m-types

#2464 BREAKING: Remove server discovery helpers due to lack of support
  helpers/discovery/addDiscoverySubcategory.ts
  helpers/discovery/deleteDiscoverySubcategory.ts
  helpers/discovery/editDiscovery.ts
  helpers/discovery/getDiscovery.ts
  helpers/discovery/getDiscoveryCategories.ts
  helpers/discovery/getIsValidDiscoveryTerm.ts
  helpers/discovery/mod.ts
  helpers/mod.ts
  plugins/permissions/mod.ts
  plugins/permissions/src/discovery.ts
  tests/misc/discovery.test.ts
Labels: t-breaking

#2473 BREAKING: MANAGE_EMOJIS -> MANAGE_EMOJIS_AND_STICKERS
  plugins/permissions/src/emojis/createEmoji.ts
  plugins/permissions/src/emojis/deleteEmoji.ts
  plugins/permissions/src/emojis/editEmoji.ts
  types/shared.ts
Labels: t-breaking, m-types
