Repository discordeno/discordeno, pull requests merged in 2023-09, with the labels that each got.

#3118 Fix: added getActiveThreads return value transformer
  packages/bot/src/helpers.ts
Labels: pkg-bot

#3120 fix(types): change communicationDisabledUntil to string or null
  packages/types/src/discordeno.ts
Labels: t-fix, pkg-types

#3117 Fix(rest) Fix error when serializing payload with a BigInt
  packages/rest/src/manager.ts
Labels: pkg-rest

#3114 feat: Implement OAuth2 endpoints
  packages/bot/src/helpers.ts
  packages/rest/src/manager.ts
  packages/rest/src/queue.ts
  packages/rest/src/routes.ts
  packages/rest/src/types.ts
  packages/rest/src/typings/routes.ts
  packages/types/src/camel.ts
  packages/types/src/discord.ts
  packages/types/src/discordeno.ts
  packages/utils/src/index.ts
  packages/utils/src/oauth2.ts
  packages/utils/src/token.ts
Labels: t-feat, pkg-types, pkg-rest, pkg-bot, pkg-utils

#3125 fix: bug with rest manager passing a timestamp instead of milliseconds in setTimeout
  packages/rest/src/manager.ts
Labels: t-fix, pkg-rest

#3122 feat: rest header injection
  packages/rest/src/manager.ts
  packages/rest/src/types.ts
Labels: t-feat, pkg-rest

#3126 fix(gateway): workerId calculation
  packages/gateway/src/manager.ts
Labels: t-fix, pkg-gateway

#3127 Use `desiredProperties` in `transformInvite`
  packages/bot/src/transformers/invite.ts
Labels: pkg-bot

#3128 Use `desiredProperties` in `transformGuild`
  packages/bot/src/transformers.ts
  packages/bot/src/transformers/guild.ts
Labels: pkg-bot

#3129 Use `desiredProperties` in `transformWebhook`
  packages/bot/src/transformers/webhook.ts
Labels: pkg-bot

#3130 Use `desiredProperties` in `transformSticker`
  packages/bot/src/transformers/sticker.ts
Labels: pkg-bot

#3132 Use `desiredProperties` in `transformScheduledEvent`
  packages/bot/src/transformers/scheduledEvent.ts
Labels: pkg-bot

#3133 Use `desiredProperties` in `transformEmoji`
  packages/bot/src/transformers/emoji.ts
Labels: pkg-bot

#3134 Use `desiredProperties` in `transformAttachment`
  packages/bot/src/transformers/attachment.ts
Labels: pkg-bot

#3141 fix(bot): bug with overriding lastShardId if it's not provided in createBot() options
  packages/bot/src/bot.ts
Labels: t-fix, pkg-bot

#3144 Add default_values support for SelectMenu
  packages/types/src/camel.ts
  packages/types/src/discord.ts
  packages/types/src/discordeno.ts
Labels: pkg-types

#3143 Pr/livelove1987/3138
  packages/bot/src/helpers.ts
  packages/bot/src/transformers.ts
  packages/bot/src/transformers/invite.ts
  packages/bot/src/transformers/stageInviteInstance.ts
  packages/utils/src/typeguards.ts
Labels: pkg-bot, pkg-utils
