Repository discordeno/discordeno, pull requests merged in 2023-10, with the labels that each got.

#3139 feat: add support for more customizers
  packages/bot/src/helpers.ts
  packages/bot/src/transformers.ts
  packages/bot/src/transformers/activity.ts
  packages/bot/src/transformers/application.ts
  packages/bot/src/transformers/applicationCommand.ts
  packages/bot/src/transformers/applicationCommandOption.ts
  packages/bot/src/transformers/applicationCommandOptionChoice.ts
  packages/bot/src/transformers/applicationCommandPermission.ts
  packages/bot/src/transformers/attachment.ts
  packages/bot/src/transformers/auditLogEntry.ts
  packages/bot/src/transformers/automodActionExecution.ts
  packages/bot/src/transformers/automodRule.ts
  packages/bot/src/transformers/channel.ts
  packages/bot/src/transformers/component.ts
  packages/bot/src/transformers/embed.ts
  packages/bot/src/transformers/emoji.ts
  packages/bot/src/transformers/gatewayBot.ts
  packages/bot/src/transformers/guild.ts
  packages/bot/src/transformers/integration.ts
  packages/bot/src/transformers/invite.ts
  packages/bot/src/transformers/presence.ts
  packages/bot/src/transformers/scheduledEvent.ts
  packages/bot/src/transformers/stageInstance.ts
  packages/bot/src/transformers/stageInviteInstance.ts
  packages/bot/src/transformers/sticker.ts
  packages/bot/src/transformers/team.ts
  packages/bot/src/transformers/template.ts
  packages/bot/src/transformers/threadMember.ts
  packages/bot/src/transformers/voiceRegion.ts
  packages/bot/src/transformers/voiceState.ts
  packages/bot/src/transformers/webhook.ts
  packages/bot/src/transformers/welcomeScreen.ts
  packages/bot/src/transformers/widget.ts
  packages/bot/src/transformers/widgetSettings.ts
Labels: t-feat, pkg-bot

#3145 feat(utils): add embed builder
  packages/utils/src/builders.ts
  packages/utils/src/builders/embeds.ts
  packages/utils/src/index.ts
  packages/utils/tests/builders.spec.ts
Labels: t-feat, pkg-utils

#3146 Add interactionDataOptions customizer
  packages/bot/src/transformers/interaction.ts
Labels: pkg-bot

#3037 feat(cli): add cli
  .npmignore
  packages/discordeno/bin/disocrdeno.js
  packages/discordeno/package.json
  packages/discordeno/src/bin/index.ts
  yarn.lock
Labels: t-feat, pkg-all

#3148 refactor: ignore handlers if events for an handler isnt provided
  packages/bot/src/handlers/channels/CHANNEL_CREATE.ts
  packages/bot/src/handlers/channels/CHANNEL_DELETE.ts
  packages/bot/src/handlers/channels/CHANNEL_PINS_UPDATE.ts
  packages/bot/src/handlers/channels/CHANNEL_UPDATE.ts
  packages/bot/src/handlers/channels/STAGE_INSTANCE_CREATE.ts
  packages/bot/src/handlers/channels/STAGE_INSTANCE_DELETE.ts
  packages/bot/src/handlers/channels/STAGE_INSTANCE_UPDATE.ts
  packages/bot/src/handlers/channels/THREAD_CREATE.ts
  packages/bot/src/handlers/channels/THREAD_DELETE.ts
  packages/bot/src/handlers/channels/THREAD_LIST_SYNC.ts
  packages/bot/src/handlers/channels/THREAD_MEMBERS_UPDATE.ts
  packages/bot/src/handlers/channels/THREAD_MEMBER_UPDATE.ts
  packages/bot/src/handlers/channels/THREAD_UPDATE.ts
  packages/bot/src/handlers/emojis/GUILD_EMOJIS_UPDATE.ts
  packages/bot/src/handlers/guilds/GUILD_AUDIT_LOG_ENTRY_CREATE.ts
  packages/bot/src/handlers/guilds/GUILD_BAN_ADD.ts
  packages/bot/src/handlers/guilds/GUILD_BAN_REMOVE.ts
  packages/bot/src/handlers/guilds/GUILD_CREATE.ts
  packages/bot/src/handlers/guilds/GUILD_DELETE.ts
  packages/bot/src/handlers/guilds/GUILD_INTEGRATIONS_UPDATE.ts
  packages/bot/src/handlers/guilds/GUILD_STICKERS_UPDATE.ts
  packages/bot/src/handlers/guilds/GUILD_UPDATE.ts
  packages/bot/src/handlers/guilds/automod/AUTO_MODERATION_ACTION_EXECUTION.ts
  packages/bot/src/handlers/guilds/automod/AUTO_MODERATION_RULE_CREATE.ts
  packages/bot/src/handlers/guilds/automod/AUTO_MODERATION_RULE_DELETE.ts
  packages/bot/src/handlers/guilds/automod/AUTO_MODERATION_RULE_UPDATE.ts
  packages/bot/src/handlers/guilds/scheduledEvents/GUILD_SCHEDULED_EVENT_CREATE.ts
  packages/bot/src/handlers/guilds/scheduledEvents/GUILD_SCHEDULED_EVENT_DELETE.ts
  packages/bot/src/handlers/guilds/scheduledEvents/GUILD_SCHEDULED_EVENT_UPDATE.ts
  packages/bot/src/handlers/guilds/scheduledEvents/GUILD_SCHEDULED_EVENT_USER_ADD.ts
  packages/bot/src/handlers/guilds/scheduledEvents/GUILD_SCHEDULED_EVENT_USER_REMOVE.ts
  packages/bot/src/handlers/integrations/INTEGRATION_CREATE.ts
  packages/bot/src/handlers/integrations/INTEGRATION_DELETE.ts
  packages/bot/src/handlers/integrations/INTEGRATION_UPDATE.ts
  packages/bot/src/handlers/interactions/APPLICATION_COMMAND_PERMISSIONS_UPDATE.ts
  packages/bot/src/handlers/interactions/INTERACTION_CREATE.ts
  packages/bot/src/handlers/invites/INVITE_CREATE.ts
  packages/bot/src/handlers/invites/INVITE_DELETE.ts
  packages/bot/src/handlers/members/GUILD_MEMBER_ADD.ts
  packages/bot/src/handlers/members/GUILD_MEMBER_REMOVE.ts
  packages/bot/src/handlers/members/GUILD_MEMBER_UPDATE.ts
  packages/bot/src/handlers/messages/MESSAGE_CREATE.ts
  packages/bot/src/handlers/messages/MESSAGE_DELETE.ts
  packages/bot/src/handlers/messages/MESSAGE_DELETE_BULK.ts
  packages/bot/src/handlers/messages/MESSAGE_REACTION_ADD.ts
  packages/bot/src/handlers/messages/MESSAGE_REACTION_REMOVE.ts
  packages/bot/src/handlers/messages/MESSAGE_REACTION_REMOVE_ALL.ts
  packages/bot/src/handlers/messages/MESSAGE_REACTION_REMOVE_EMOJI.ts
  packages/bot/src/handlers/messages/MESSAGE_UPDATE.ts
  packages/bot/src/handlers/misc/PRESENCE_UPDATE.ts
  packages/bot/src/handlers/misc/READY.ts
  packages/bot/src/handlers/misc/TYPING_START.ts
  packages/bot/src/handlers/misc/USER_UPDATE.ts
  packages/bot/src/handlers/roles/GUILD_ROLE_CREATE.ts
  packages/bot/src/handlers/roles/GUILD_ROLE_DELETE.ts
  packages/bot/src/handlers/roles/GUILD_ROLE_UPDATE.ts
  packages/bot/src/handlers/voice/VOICE_SERVER_UPDATE.ts
  packages/bot/src/handlers/voice/VOICE_STATE_UPDATE.ts
  packages/bot/src/handlers/webhooks/WEBHOOKS_UPDATE.ts
Labels: t-refactor, pkg-bot

#3149 feat: allow for custom function to send the payload to shards
  packages/gateway/src/Shard.ts
  packages/gateway/src/manager.ts
  packages/gateway/src/types.ts
Labels: t-feat, pkg-gateway

#3150 fix(rest)!: Update OAuth2 to use the Basic authentication
  packages/bot/src/helpers.ts
  packages/rest/src/manager.ts
  packages/rest/src/types.ts
  packages/types/src/discord.ts
Labels: t-fix, t-breaking, pkg-types, pkg-rest, pkg-bot

#3153 feat(rest): Add option for the header of authorization on rest proxy
  packages/rest/src/manager.ts
  packages/rest/src/types.ts
Labels: t-feat, pkg-rest

#3151 refactor(gateway)!: Remove `guildMemberChunk` shard event
  packages/bot/src/handlers/members/GUILD_MEMBERS_CHUNK.ts
  packages/gateway/src/Shard.ts
  packages/gateway/src/manager.ts
  packages/gateway/src/types.ts
Labels: t-refactor, t-breaking, pkg-gateway, pkg-bot

#3158 feat(ci): add cache for deno
  .github/workflows/other-runtime-unit-test.yml
Labels: t-feat, t-ci

#3159 fix(utils): Mark bucket as in processing, delay if no requests available
  packages/utils/src/bucket.ts
Labels: t-fix, pkg-utils

#2798 test: bun test
  .github/workflows/other-runtime-unit-test.yml
  .gitignore
  package.json
  packages/rest/package.json
  packages/utils/package.json
  packages/utils/tests/bucket.spec.ts
  scripts/fixBunTestExtension.js
  turbo.json
Labels: t-test, t-ci, pkg-rest, pkg-all, pkg-utils

#3160 Create stale.yml
  .github/workflows/stale.yml
Labels: t-ci

#3161 feat: add after install script
  .husky/post-merge
  .husky/pre-commit
  .yarn/plugins/@yarnpkg/plugin-after-install.cjs
  .yarn/releases/yarn-3.3.0.cjs
  .yarn/releases/yarn-3.6.4.cjs
  .yarnrc.yml
  package.json
  website/package.json
  website/yarn.lock
  yarn.lock
Labels: t-feat, pkg-all, website

#3180 fix(website): header terminology, copyright year, edit links, and blog post times
  website/blog/changelogs/19.0.0.md
  website/blog/why-we-switched-from-deno-to-nodejs.md
  website/docusaurus.config.js
Labels: t-fix, website

#3167 feat: add extensions and updating settings
  .vscode/extensions.json
  .vscode/settings.json
  .vscode/tasks.json
  package.json
  packages/benchmark/src/benchmarks/transformers.ts
  packages/eslint-config-discordeno/index.js
  packages/eslint-config-discordeno/package.json
  yarn.lock
Labels: t-feat, pkg-all

#3166 feat(.github): new issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.yml
Labels: t-feat
