Repository discordeno/discordeno, pull requests merged in 2023-07, with the labels that each got.

#3064 fix: 'INVITE_DELETE' event now uses 'handleInviteDelete' (previously used 'handleInviteCreate')
  packages/bot/src/handlers.ts
  packages/bot/src/transformers/message.ts
  website/src/components/home/reviews/index.tsx
Labels: t-fix, pkg-bot, website

#3087 fix(rest): add missing files for editMessage
  packages/rest/src/manager.ts
  packages/rest/tests/e2e/message.spec.ts
  packages/types/src/discordeno.ts
Labels: t-fix, pkg-types, pkg-rest

#3062 🐛 - fix: snakelize json when files are used
  packages/rest/src/manager.ts
Labels: pkg-rest

#3065 fix(docs): set ListGuildMembers options.limit default to 1
  packages/types/src/discordeno.ts
Labels: t-fix, pkg-types
