Repository discordeno/discordeno, pull requests merged in 2023-11, with the labels that each got.

#3182 chore(website): update community feedback bots' guild counts and logo
  website/src/components/home/reviews/index.tsx
Labels: website

#3164 fix(website): beginner how to get token & add link to fork in contributing
  website/docs/beginner/token.md
  website/docs/contributing.md
Labels: t-fix, website

#3183 fix(vscode): Explicitly sort the code actions
  .vscode/settings.json
Labels: t-fix

#3187 adding document use of external sounds permission
  packages/types/src/shared.ts
Labels: pkg-types

#3184 fix: add no daemon to turbo commands
  package.json
Labels: t-fix, pkg-all

#3189 feat: all cjs export
  .gitignore
  denoImportMap.json
  examples/bigbot/.swcrc
  packages/benchmark/.swcrc
  packages/benchmark/package.json
  packages/bot/.swcrc
  packages/bot/package.json
  packages/discordeno/.swcrc
  packages/discordeno/package.json
  packages/gateway/.swcrc
  packages/gateway/package.json
  packages/rest/.swcrc
  packages/rest/package.json
  packages/types/.swcrc
  packages/types/package.json
  packages/types/src/shared.ts
  packages/utils/.swcrc
  packages/utils/package.json
  proxies/rest/.swcrc
  proxies/rest/.yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
  proxies/rest/.yarn/releases/yarn-3.5.0.cjs
  proxies/rest/Dockerfile
  scripts/fixCjsExtension.js
  scripts/fixDenoTestExtension.js
Labels: t-feat, pkg-types, pkg-gateway, pkg-rest, pkg-all, pkg-bot, pkg-utils
