Repository discordeno/discordeno, pull requests merged in 2023-01, with the labels that each got.

#2731 🐛 - fix: types - slashcommands - add nsfw prop
  packages/types/src/discordeno.ts
Labels: t-fix, m-types

#2734 test(rest): fix missing import
  packages/rest/tests/e2e/user.spec.ts
Labels: t-test, t-fix, m-rest

#2736 test(rest): fix "TypeError: [Function] is not a thenable"
  packages/rest/tests/e2e/user.spec.ts
Labels: t-test, t-fix, m-rest

#2737 test(utils): add utils tests
  packages/utils/src/casing.ts
  packages/utils/tests/casting.spec.ts
  packages/utils/tests/token.spec.ts
  packages/utils/tests/urlToBase64.spec.ts
Labels: t-test, m-utils
