Repository discordeno/discordeno, pull requests merged in 2023-06, with the labels that each got.

#3030 fix(gateway): Use Deno's WebSocket
  packages/bot/src/bot.ts
  packages/gateway/src/Shard.ts
Labels: t-fix, pkg-gateway, pkg-bot

#3046 test(rest-proxy): add image scan on push to main
  .github/workflows/rest-proxy.yml
Labels: t-test, t-ci

#3052 fix(gateway): fix deno detection for ws
  packages/gateway/src/Shard.ts
Labels: t-fix, pkg-gateway

#3053 fix(types,bot) Fix global name typing
  packages/bot/src/handlers/guilds/GUILD_DELETE.ts
  packages/bot/src/transformers/reverse/member.ts
  packages/types/src/discord.ts
  packages/utils/tests/interactions.spec.ts
Labels: t-fix, pkg-types, pkg-bot, pkg-utils

#3057 test(rest): fix test for new user system
  packages/rest/tests/e2e/user.spec.ts
Labels: t-test, pkg-rest
