Repository discordeno/discordeno, pull requests merged in 2023-04, with the labels that each got.

#2918 feat(bench): commit benchmark benchies
  .github/workflows/benchmark.yml
  .github/workflows/commentBenchResult.yml
  .github/workflows/retryBenchmark.yml
  packages/benchmark/package.json
  packages/benchmark/src/index.ts
  packages/benchmark/src/utils/generateMessage.ts
  scripts/generateMessage.js
Labels: t-feat, t-ci

#2934 feat(types)!: add guild expression & view monetization permissions
  packages/types/src/shared.ts
Labels: t-feat, t-breaking, pkg-types

#2935 feat(bot,types): add `Guild.maxStageVideoChannelUsers`
  packages/bot/src/transformers/guild.ts
  packages/types/src/discord.ts
Labels: t-feat, pkg-types, pkg-bot

#2936 docs(rest): webhook names cannot contain 'discord'
  packages/rest/src/types.ts
Labels: t-docs, pkg-rest

#2938 ci: add git reset before store benchmark
  .github/workflows/benchmark.yml
  packages/benchmark/package.json
Labels: t-ci

#2916 fix(transformers): message transformer using different style
  packages/benchmark/src/benchmarks/transformers.ts
  packages/benchmark/src/utils/memoryBenchmark.ts
  packages/bot/src/transformers.ts
  packages/bot/src/transformers/message.ts
  packages/bot/src/transformers/toggles/ToggleBitfield.ts
  packages/bot/src/typings.ts
  packages/bot/src/utils.ts
Labels: t-fix, pkg-bot

#2941 fix(README): dd logo path
  README.md
Labels: t-fix, pkg-all

#2942 build: update turbo
  package.json
  yarn.lock
Labels: t-build, pkg-all

#2940 fix(rest, types)!: support auditlog reason
  packages/rest/src/manager.ts
  packages/rest/src/types.ts
  packages/rest/tests/e2e/guild.spec.ts
  packages/types/src/discordeno.ts
Labels: t-fix, t-breaking, pkg-types, pkg-rest

#2939 feat(site): add back benchmark to site (also change cpu model)
  .github/workflows/site.yml
  packages/benchmark/src/generateMessage.ts
  scripts/generateMessage.js
  website/docs/benchmark.mdx
  website/package.json
  website/src/components/Benchmark.tsx
  website/yarn.lock
Labels: t-feat, t-ci, website

#2924 refactor!(rest): rest proxy attachment sending
  packages/rest/src/manager.ts
Labels: t-ci, pkg-rest

#2945 refactor(utils)!: remove unused files utility
  packages/utils/src/files.ts
  packages/utils/src/index.ts
Labels: t-refactor, t-style, t-breaking, pkg-utils

#2944 refactor(rest): interaction handling
  packages/rest/src/manager.ts
  packages/rest/src/types.ts
Labels: t-refactor, t-style, pkg-rest

#2946 refactor(rest): improve `unauthorized` readability
  packages/rest/src/manager.ts
Labels: t-refactor, t-style, pkg-rest

#2947 fix: eslint no async error
  packages/rest/src/manager.ts
Labels: t-fix, pkg-rest

#2949 refactor(rest)!: remove falsy token check
  packages/rest/src/manager.ts
  packages/rest/src/types.ts
  packages/rest/tests/unit/manager.spec.ts
Labels: t-refactor, t-style, t-breaking, pkg-rest

#2950 refactor(rest)!: move routes to their own creator function
  packages/rest/src/index.ts
  packages/rest/src/manager.ts
  packages/rest/src/routes.ts
  packages/rest/src/typings/routes.ts
Labels: t-refactor, t-style, t-breaking, pkg-rest

#2951 docs(types)!: update intents
  packages/types/src/shared.ts
Labels: t-docs, t-breaking, pkg-types

#2953 ci: fix benchmarks
  bench/memory.ts
  packages/benchmark/src/benchmarks/memory.ts
  packages/benchmark/src/benchmarks/rest.ts
  packages/gateway/tests/integration/connection.spec.ts
Labels: t-ci, pkg-gateway

#2954 feat(bot): allow passing of `applicationId`
  packages/bot/src/bot.ts
Labels: t-feat, pkg-bot

#2955 fix(bench): missing app id
  packages/benchmark/src/benchmarks/transformers.ts
Labels: t-fix

#2956 refactor(rest)!: improve `sendRequest`
  packages/rest/src/manager.ts
  packages/rest/src/queue.ts
  packages/rest/src/types.ts
Labels: t-refactor, t-breaking, pkg-rest

#2958 blog: why we switched from deno to node.js
  website/blog/authors.yml
  website/blog/why-we-switched-from-deno-to-nodejs.md
Labels: website

#2959 fix: export transformers and handlers
  packages/bot/src/index.ts
  packages/bot/src/transformers.ts
  packages/bot/src/transformers/reverse/applicationCommandOptionChoice.ts
  packages/bot/src/transformers/reverse/createApplicationCommand.ts
  packages/bot/src/typings.ts
  packages/types/src/discordeno.ts
Labels: t-fix, pkg-types, pkg-bot

#2960 feat: start reaction role guide
  website/docs/examples/_category_.json
  website/docs/examples/reactionroles.md
Labels: t-feat, website

#2966 fix(rest): `processRequest` does not need to set the absolute url
  packages/rest/src/manager.ts
Labels: t-fix, pkg-rest

#2967 refactor(rest)!: make invalid bucket lazy
  packages/rest/src/invalidBucket.ts
  packages/rest/tests/e2e/automod.spec.ts
  packages/rest/tests/e2e/emoji.spec.ts
  packages/rest/tests/e2e/guild.spec.ts
  packages/rest/tests/e2e/member.spec.ts
  packages/rest/tests/e2e/message.spec.ts
  packages/rest/tests/e2e/role.spec.ts
  packages/rest/tests/e2e/stickers.spec.ts
  packages/rest/tests/e2e/user.spec.ts
  packages/rest/tests/e2e/webhook.spec.ts
Labels: t-refactor, t-breaking, pkg-rest

#2961 feat: commandOptionsParser util
  packages/utils/src/interactions.ts
  packages/utils/tests/interactions.spec.ts
Labels: t-feat, pkg-utils

#2969 fix(rest): set the correct auth header when using proxy
  packages/rest/src/manager.ts
Labels: t-fix, pkg-rest

#2973 feat(bot,types): add missing automod trigger metadata
  packages/bot/src/transformers/automodRule.ts
  packages/types/src/discord.ts
  packages/types/src/discordeno.ts
Labels: t-feat, pkg-types, pkg-bot

#2968 fix: finish bucket file coverage
  packages/utils/tests/bucket.spec.ts
Labels: t-fix, pkg-utils

#2974 refactor(types)!: remove `PRIVATE_THREADS` guild feature
  packages/types/src/shared.ts
Labels: t-refactor, t-breaking, pkg-types

#2972 feat(rest-proxy): init docker
  proxies/rest/.swcrc
  proxies/rest/.yarnrc.yml
  proxies/rest/Dockerfile
  proxies/rest/package.json
  proxies/rest/src/index.ts
  proxies/rest/yarn.lock
Labels: t-feat

#2975 docs(rest-proxy): add comment to dockerfile
  proxies/rest/Dockerfile
Labels: t-docs

#2976 ci(rest): proxy add basic ci
  .github/workflows/rest-proxy.yml
Labels: t-ci

#2978 ci(rest): fix rest proxy image registry
  .github/workflows/rest-proxy.yml
Labels: t-ci

#2980 ci(rest): proxy multi arch image
  .github/workflows/rest-proxy.yml
  proxies/rest/Dockerfile
Labels: t-ci

#2981 ci(bench): fix benchmark result not saved for pr
  .github/workflows/benchmark.yml
Labels: t-ci

#2982 fix: data.guildId is useless
  packages/bot/src/transformers/interaction.ts
Labels: t-fix, pkg-bot

#2984 fix(gateway): manager create `preferSnakeCase` option
  packages/gateway/src/manager.ts
Labels: t-fix, pkg-gateway

#2987 feat(bot): add `Interaction.data.type` for Command interactions
  packages/bot/src/transformers/interaction.ts
Labels: t-feat, pkg-bot

#2986 fix(types): `DiscordCreateApplicationCommand.description` is optional
  packages/types/src/discord.ts
Labels: t-fix, pkg-types

#2995 fix(rest,utils): reverse "refactor: use node-fetch" a6a334
  denoImportMap.json
  packages/rest/package.json
  packages/rest/src/manager.ts
  packages/utils/package.json
  packages/utils/src/urlToBase64.ts
  yarn.lock
Labels: t-fix, pkg-rest, pkg-all, pkg-utils

#3000 fix(rest): only calculate bits if not undefined
  packages/rest/src/manager.ts
Labels: t-fix, pkg-rest

#2999 fix(website): big bot guide code typos
  website/docs/bigbot/step-3-gateway.md
Labels: t-fix, website

#3002 fix(rest): `oauth2Application` route
  packages/rest/src/routes.ts
Labels: t-fix, pkg-rest

#2996 Feat: Website Rewrite
  website/.eslintrc.yml
  website/.gitignore
  website/.prettierrc
  website/docs/bigbot/step-2-rest.md
  website/docs/bigbot/step-3-gateway.md
  website/docs/bigbot/step-4-bot.md
  website/docs/examples/reactionroles.md
  website/docusaurus.config.js
  website/package-lock.json
  website/package.json
  website/src/components/Benchmark.tsx
  website/src/components/HomepageFeatures/index.tsx
  website/src/components/footer/index.tsx
  website/src/components/header/index.tsx
  website/src/components/home/faq/index.tsx
  website/src/components/home/features/feature.tsx
  website/src/components/home/features/index.tsx
  website/src/components/home/reviews/index.tsx
  website/src/pages/index.tsx
  website/src/styling/index.css
  website/src/styling/index.ts
  website/src/styling/styles.module.css
  website/src/types.ts
  website/static/img/deno_background.png
  website/yarn.lock
Labels: website

#3004 fix(bot): missing exports of types
  packages/bot/src/handlers/channels/index.ts
  packages/bot/src/index.ts
  packages/bot/src/transformers/index.ts
  packages/bot/src/transformers/reverse/index.ts
  packages/bot/src/transformers/toggles/index.ts
Labels: t-fix, pkg-bot

#3005 Mobile responsiveness + add loading
  website/babel.config.js
  website/docs/bigbot/step-3-gateway.md
  website/package-lock.json
  website/package.json
  website/src/components/home/faq/index.tsx
  website/src/components/home/features/feature.tsx
  website/src/components/home/reviews/index.tsx
  website/src/pages/index.tsx
  website/src/styling/index.ts
  website/yarn.lock
Labels: website

#3006 🐛 - fix: bot pkg - gateway - prefer snakecase by default
  packages/bot/src/bot.ts
Labels: pkg-bot

#3003 fix(website): faq grammar
  website/src/components/home/faq/index.tsx
Labels: t-fix, website

#3007 fix(types): MessageActivityTypes.JoinRequest
  packages/types/src/shared.ts
Labels: t-fix, pkg-types

#3008 fix: hack in helpers again
  packages/bot/src/bot.ts
  packages/bot/src/helpers.ts
  packages/bot/src/index.ts
  packages/bot/src/transformers.ts
  packages/bot/src/transformers/channel.ts
  packages/bot/src/transformers/member.ts
  packages/bot/src/transformers/role.ts
  packages/gateway/src/Shard.ts
  packages/rest/src/manager.ts
  packages/rest/src/types.ts
  packages/types/src/discord.ts
Labels: t-fix, pkg-types, pkg-gateway, pkg-rest, pkg-bot

#3013 fix: Fixed message transformers
  packages/bot/src/transformers/message.ts
Labels: t-fix, pkg-bot

#3012 fix(website): header gradient shadow overlapping navbar
  website/src/styling/index.ts
Labels: t-fix, website

#3015 Update step-4-bot.md
  website/docs/bigbot/step-4-bot.md
Labels: website
