Repository discordeno/discordeno, pull requests merged in 2023-05, with the labels that each got.

#3017 Add CactusFire to Community Feedback
  website/src/components/home/reviews/index.tsx
Labels: website

#3016 📚 - docs: add deno example with gateway workaround
  website/docs/examples/deno.md
Labels: website

#3018 feat(bot): add more helper functions to `BaseInteraction`
  packages/bot/src/transformers/interaction.ts
Labels: t-feat, pkg-bot

#3021 feat: Added the rewrite Appy review, also changed default color for d…
  website/src/components/home/reviews/index.tsx
  website/src/styling/index.css
  website/src/types.ts
Labels: t-feat, website

#3022 fix(bot): Toggle `Interaction.acknowledged` in `defer`
  packages/bot/src/transformers/interaction.ts
Labels: t-fix, pkg-bot

#3023 fix(bot): Fix `BaseInteraction.respond` & add response validation
  packages/bot/src/transformers/interaction.ts
Labels: t-fix, pkg-bot

#3026 fix(gateway): lastShardId
  packages/gateway/src/manager.ts
Labels: t-fix, pkg-gateway

#3027 feat(bot,types): Add `channel_types` prop to channel select menu
  packages/bot/src/transformers/component.ts
  packages/bot/src/transformers/reverse/component.ts
  packages/bot/src/typings.ts
  packages/types/src/discord.ts
  packages/types/src/discordeno.ts
Labels: t-feat, pkg-types, pkg-bot
