Repository discordeno/discordeno, pull requests merged in 2023-12, with the labels that each got.

#3201 feat: add individuals to codeowners
  .github/CODEOWNERS
Labels: t-feat

#3194 feat: only require one guild delete event
  packages/bot/src/handlers/guilds/GUILD_DELETE.ts
Labels: t-feat, pkg-bot

#3256 fix: cjs extensions for require
  packages/benchmark/package.json
  packages/bot/package.json
  packages/discordeno/package.json
  packages/gateway/package.json
  packages/rest/package.json
Labels: t-fix, pkg-gateway, pkg-rest, pkg-bot

#3195 chore(deps)!: upgrade all deps to new major versions
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarn/plugins/@yarnpkg/plugin-typescript.cjs
  .yarn/releases/yarn-3.6.4.cjs
  .yarn/releases/yarn-4.0.2.cjs
  .yarnrc.yml
  package.json
  packages/benchmark/package.json
  packages/benchmark/src/utils/memoryBenchmark.ts
  packages/bot/package.json
  packages/bot/typedoc.json
  packages/discordeno/package.json
  packages/eslint-config-discordeno/index.js
  packages/eslint-config-discordeno/package.json
  packages/gateway/package.json
  packages/gateway/src/types.ts
  packages/gateway/typedoc.json
  packages/rest/package.json
  packages/rest/typedoc.json
  packages/tsconfig/base.json
  packages/types/package.json
  packages/types/src/shared.ts
  packages/types/typedoc.json
  packages/utils/package.json
  packages/utils/src/Collection.ts
  packages/utils/typedoc.json
  script/generateHandlerData.ts
  typedoc.json
  website/docusaurus.config.js
  website/package.json
  website/yarn.lock
  yarn.lock
Labels: t-feat, t-breaking, pkg-types, pkg-gateway, pkg-rest, pkg-all, pkg-bot, pkg-utils, website

#3259 feat(utils): Add missing image url function
  packages/utils/src/images.ts
Labels: t-feat, pkg-utils

#3257 feat: api docs catchup part 1
  .husky/pre-commit
  packages/benchmark/src/benchmarks/transformers.ts
  packages/bot/src/helpers.ts
  packages/bot/src/transformers.ts
  packages/bot/src/transformers/attachment.ts
  packages/bot/src/transformers/auditLogEntry.ts
  packages/bot/src/transformers/channel.ts
  packages/bot/src/transformers/guild.ts
  packages/bot/src/transformers/interaction.ts
  packages/bot/src/transformers/message.ts
  packages/bot/src/transformers/reverse/attachment.ts
  packages/bot/src/transformers/reverse/auditLogEntry.ts
  packages/bot/src/transformers/role.ts
  packages/bot/src/transformers/user.ts
  packages/bot/src/typings.ts
  packages/rest/src/manager.ts
  packages/rest/src/routes.ts
  packages/rest/src/types.ts
  packages/rest/src/typings/routes.ts
  packages/types/src/discord.ts
  packages/types/src/discordeno.ts
  packages/types/src/shared.ts
  packages/utils/src/images.ts
Labels: t-feat, pkg-types, pkg-rest, pkg-bot, pkg-utils

#3260 feat(bot,rest,types): Add support for guild onboarding
  packages/bot/src/helpers.ts
  packages/bot/src/transformers.ts
  packages/bot/src/transformers/onboarding.ts
  packages/rest/src/manager.ts
  packages/rest/src/routes.ts
  packages/rest/src/types.ts
  packages/rest/src/typings/routes.ts
  packages/types/src/camel.ts
  packages/types/src/discord.ts
  packages/types/src/discordeno.ts
Labels: t-feat, pkg-types, pkg-rest, pkg-bot

#3264 chore(deps): update docusaurus to v3
  scripts/finalizeTypedocs.js
  website/docusaurus.config.js
  website/package.json
  website/yarn.lock
Labels: website

#3263 refactor: try faster docusaurus build
  website/docusaurus.config.js
  website/package-lock.json
  website/package.json
  website/webpack-docusaurus-plugin.js
  website/yarn.lock
Labels: t-refactor, website

#3266 feat: api docs catchup part 2
  packages/bot/src/bot.ts
  packages/bot/src/handlers.ts
  packages/bot/src/handlers/entitlements/ENTITLEMENT_CREATE.ts
  packages/bot/src/handlers/entitlements/ENTITLEMENT_DELETE.ts
  packages/bot/src/handlers/entitlements/ENTITLEMENT_UPDATE.ts
  packages/bot/src/handlers/entitlements/index.ts
  packages/bot/src/handlers/index.ts
  packages/bot/src/handlers/invites/INVITE_CREATE.ts
  packages/bot/src/helpers.ts
  packages/bot/src/transformers.ts
  packages/bot/src/transformers/application.ts
  packages/bot/src/transformers/entitlement.ts
  packages/bot/src/transformers/guild.ts
  packages/bot/src/transformers/invite.ts
  packages/bot/src/transformers/reverse/team.ts
  packages/bot/src/transformers/sku.ts
  packages/bot/src/transformers/team.ts
  packages/bot/src/typings.ts
  packages/rest/src/manager.ts
  packages/rest/src/routes.ts
  packages/rest/src/types.ts
  packages/rest/src/typings/routes.ts
  packages/types/src/camel.ts
  packages/types/src/discord.ts
  packages/types/src/discordeno.ts
  packages/types/src/shared.ts
Labels: t-feat, pkg-types, pkg-rest, pkg-bot

#3261 fix(benchmark): fix TS error on transformer benchmark
  packages/benchmark/package.json
  packages/benchmark/src/benchmarks/transformers.ts
  packages/types/src/discord.ts
  yarn.lock
Labels: t-fix, pkg-types, pkg-all

#3268 Revert "fix(benchmark): fix TS error on transformer benchmark"
  packages/benchmark/package.json
  packages/benchmark/src/benchmarks/transformers.ts
  packages/types/src/discord.ts
  yarn.lock
Labels: pkg-types, pkg-all

#3262 fix(.github/workflows) Update help wanted label name
  .github/workflows/stale.yml
Labels: t-ci

#3199 feat: add Discordeno team to codeowners
  .github/CODEOWNERS
Labels: t-feat

#3271 chore: mark bot, utils, types as beta
  packages/benchmark/package.json
  packages/benchmark/src/benchmarks/transformers.ts
  packages/bot/package.json
  packages/discordeno/package.json
  packages/gateway/package.json
  packages/rest/package.json
  packages/types/package.json
  packages/utils/package.json
  yarn.lock
Labels: pkg-types, pkg-gateway, pkg-rest, pkg-all, pkg-bot, pkg-utils

#3277 ci: add merge group event to site
  .github/workflows/site.yml
Labels: t-ci

#3274 chore: move architecture to new docs
  .gitignore
  typedoc.json
  website/api_reference/generated/.nojekyll
  website/api_reference/generated/README.md
  website/api_reference/generated/_category_.json
  website/api_reference/generated/classes/_category_.json
  website/api_reference/generated/enums/_category_.json
  website/api_reference/generated/interfaces/_category_.json
  website/api_reference/generated/modules.md
  website/api_reference/generated/modules/_category_.json
  website/docs/architecture.mdx
  website/docusaurus.config.js
  website/sidebars.js
  website/webpack-docusaurus-plugin.js
Labels: pkg-all, website

#3278 ci: make required ci always run
  .github/workflows/lib-check.yml
  .github/workflows/site.yml
Labels: t-ci

#3272 ci: add dependabot
  .github/dependabot.yml
  .npmignore
Labels: t-ci

#3300 ci: temp fix #3299
  .github/workflows/e2e-test.yml
  .github/workflows/lib-check-e2e.yml
  .github/workflows/lib-check.yml
Labels: t-ci

#3317 ci: fix-labeler
  .github/workflows/labeler.yml
Labels: t-ci, w-unverified

#3269 feat!: rewrite proxy app with fastify
  .github/dependabot.yml
  .github/workflows/docker-app-rest-passthrough.yml
  docker-apps/README.md
  docker-apps/rest-passthrough/.cliff-jumperrc.yml
  docker-apps/rest-passthrough/.gitattributes
  docker-apps/rest-passthrough/.gitignore
  docker-apps/rest-passthrough/.swcrc
  docker-apps/rest-passthrough/.yarn/releases/yarn-4.0.2.cjs
  docker-apps/rest-passthrough/.yarnrc.yml
  docker-apps/rest-passthrough/CHANGELOG.md
  docker-apps/rest-passthrough/Dockerfile
  docker-apps/rest-passthrough/LICENSE
  docker-apps/rest-passthrough/README.md
  docker-apps/rest-passthrough/cliff.toml
  docker-apps/rest-passthrough/package.json
  docker-apps/rest-passthrough/src/fastify.ts
  docker-apps/rest-passthrough/src/server.ts
  docker-apps/rest-passthrough/yarn.lock
  proxies/rest/.yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
  proxies/rest/.yarn/releases/yarn-3.5.0.cjs
  proxies/rest/.yarnrc.yml
  proxies/rest/Dockerfile
  proxies/rest/README.md
  proxies/rest/package.json
  proxies/rest/src/index.ts
  proxies/rest/src/rest.ts
  proxies/rest/yarn.lock
Labels: t-feat, t-ci, w-unverified, t-breaking, pkg-all, w-verified

#3332 fix: docker app workflow
  .github/workflows/docker-app-rest-passthrough.yml
Labels: t-fix, t-ci, w-verified

#3333 fix: remove release-script for now
  .github/workflows/docker-app-rest-passthrough.yml
Labels: t-fix, t-ci, w-verified

#3334 fix(gateway): Fix RTT calculation
  packages/gateway/src/Shard.ts
Labels: t-fix, w-unverified, pkg-gateway

#3188 fix(bot): Review checks to prevent JS from excluding values that might be useful
  packages/bot/src/transformers/attachment.ts
  packages/bot/src/transformers/channel.ts
  packages/bot/src/transformers/guild.ts
  packages/bot/src/transformers/interaction.ts
  packages/bot/src/transformers/invite.ts
  packages/bot/src/transformers/member.ts
  packages/bot/src/transformers/message.ts
  packages/bot/src/transformers/role.ts
  packages/bot/src/transformers/scheduledEvent.ts
  packages/bot/src/transformers/stageInviteInstance.ts
  packages/bot/src/transformers/sticker.ts
  packages/bot/src/transformers/user.ts
Labels: t-fix, pkg-bot
