Repository discordeno/discordeno, pull requests merged in 2023-03, with the labels that each got.

#2832 refactor: use node-fetch
  denoImportMap.json
  packages/rest/package.json
  packages/rest/src/manager.ts
  packages/utils/package.json
  packages/utils/src/urlToBase64.ts
  yarn.lock
Labels: t-refactor, pkg-rest, pkg-utils

#2835 test(gw): fix gw integration test
  .github/workflows/integration-test.yml
  packages/gateway/src/Shard.ts
  packages/gateway/tests/integration/connection.spec.ts
Labels: t-test, t-fix, pkg-gateway

#2837 ci(site): add trigger on more file
  .github/workflows/site.yml
Labels: t-ci, website

#2839 test(bot): fix test type
  packages/bot/tests/e2e/resetguilds.spec.ts
Labels: t-test, t-fix, pkg-bot

#2887 feat(bot,types): add `customMessage` to `AutoModerationActionMetadata`
  packages/bot/src/transformers/automodActionExecution.ts
  packages/bot/src/transformers/automodRule.ts
  packages/types/src/discord.ts
Labels: t-feat, pkg-types, pkg-bot

#2888 feat(client): make `MessageTypes` up to date
  packages/client/src/Constants.ts
Labels: t-feat, pkg-client

#2889 docs(types): update `CreateGuildStickerOptions` file size
  packages/types/src/discordeno.ts
Labels: t-docs, pkg-types

#2897 feat(bot,types): add `Channel.managed`
  packages/bot/src/transformers/channel.ts
  packages/types/src/discord.ts
Labels: t-feat, pkg-types, pkg-bot

#2900 feat(client,types): add `FormLayout` enum
  packages/client/src/typings.ts
  packages/types/src/discord.ts
  packages/types/src/shared.ts
Labels: t-feat, pkg-types, pkg-client

#2898 feat(client,rest,types): add `GetAuditLog.after`
  packages/client/src/typings.ts
  packages/rest/src/manager.ts
  packages/types/src/discordeno.ts
Labels: t-feat, pkg-types, pkg-rest, pkg-client

#2899 feat(bot,client,types): add role subscriptions
  packages/bot/src/transformers/toggles/guild.ts
  packages/bot/src/transformers/toggles/role.ts
  packages/client/src/Constants.ts
  packages/client/src/Structures/guilds/Role.ts
  packages/types/src/discord.ts
  packages/types/src/shared.ts
Labels: t-feat, pkg-types, pkg-bot, pkg-client

#2902 feat(website): move to discordeno.js.org
  website/docusaurus.config.js
Labels: t-docs, t-feat

#2905 refactor(rest): simplify `manager.simplifyUrl`
  packages/rest/src/manager.ts
  packages/rest/tests/unit/manager.spec.ts
Labels: t-refactor, pkg-rest

#2907 fix(utils): leaky bucket slow refill test
  packages/utils/tests/bucket.spec.ts
Labels: t-fix, pkg-utils

#2910 perf(rest): remove regex check from `RestManager.simplifyUrl`
  packages/rest/src/manager.ts
Labels: t-perf, pkg-rest

#2913 fix(website): CNAME
  website/static/CNAME
Labels: t-fix, website

#2914 fix(website): move to new url
  README.md
  examples/README.md
  packages/types/README.md
  packages/utils/README.md
  website/docs/intro.md
  website/docusaurus.config.js
Labels: t-fix, website

#2911 ci: move tests into one single workflow file
  .github/workflows/discordeno-test.yml
  .github/workflows/gateway-test.yml
  .github/workflows/lib-check.yml
  .github/workflows/lint.yml
  .github/workflows/rest-test.yml
  .github/workflows/types-test.yml
  .github/workflows/utils-test.yml
  README.md
Labels: t-ci

#2915 ci: add run e2e test on merge group
  .github/workflows/lib-check.yml
Labels: t-ci

#2830 benchmark test
  .github/workflows/benchmark.yml
  .github/workflows/retryBenchmark.yml
  .gitignore
  packages/benchmark/.swcrc
  packages/benchmark/package.json
  packages/benchmark/src/benchmarkSuite.ts
  packages/benchmark/src/benchmarks/casting.ts
  packages/benchmark/src/benchmarks/memory.ts
  packages/benchmark/src/benchmarks/rest.ts
  packages/benchmark/src/index.ts
  packages/benchmark/src/utils/db.ts
  packages/benchmark/src/utils/memoryBenchmark.ts
  packages/benchmark/tsconfig.json
  scripts/checkCpuModel.js
  scripts/fixBenchExtension.js
  yarn.lock
Labels: t-ci, pkg-all

#2919 docs(README): add dev guide
  README.md
Labels: t-docs, pkg-all

#2917 fix(bot,rest,types)!: attachment sending
  packages/bot/src/typings.ts
  packages/rest/src/manager.ts
  packages/rest/src/types.ts
  packages/rest/tests/e2e/member.spec.ts
  packages/rest/tests/e2e/message.spec.ts
  packages/rest/tests/e2e/utils.ts
  packages/types/src/discord.ts
  packages/types/src/discordeno.ts
Labels: t-fix, t-breaking, pkg-types, pkg-rest, pkg-bot

#2922 ci: add name to labeler workflow
  .github/workflows/labeler.yml
Labels: t-ci

#2921 feat(types): add `ApplicationFlags.ApplicationAutoModerationRuleCreateBadge`
  packages/types/src/shared.ts
Labels: t-feat, pkg-types
