Repository discordeno/discordeno, pull requests merged in 2023-08, with the labels that each got.

#3091 fix(bot): Transform hashes correctly
  packages/bot/src/transformers/auditLogEntry.ts
  packages/bot/src/transformers/reverse/auditLogEntry.ts
Labels: t-fix, pkg-bot

#3092 fix(gateway): update deno detection
  packages/gateway/src/Shard.ts
Labels: t-fix, pkg-gateway

#3098 Bug(gateway) Fix fetch of discord gateway session information
  packages/bot/src/bot.ts
  packages/gateway/src/manager.ts
Labels: pkg-gateway, pkg-bot

#3099 fix(rest): failing to convert to Discord format for permission related fields in object in changeToDiscordFormat() with proxy rest
  packages/rest/src/manager.ts
Labels: t-fix, pkg-rest

#3097 Bug(utils) Fix bucket refill after the first time
  packages/utils/src/bucket.ts
Labels: pkg-utils

#3100 fix(bot): channel transformer bitrate prop
  packages/bot/src/transformers/channel.ts
Labels: t-fix, pkg-bot

#3101 feat: add message_author_id to Message Reaction Add event
  packages/bot/src/bot.ts
  packages/bot/src/handlers/messages/MESSAGE_REACTION_ADD.ts
  packages/types/src/discord.ts
Labels: t-feat, pkg-types, pkg-bot

#3102 fix: remove slash command test for now to fix tests
  packages/rest/tests/e2e/misc.spec.ts
Labels: t-fix, pkg-rest

#3104 fix(rest): invert unauthorized check
  packages/rest/src/manager.ts
Labels: t-fix, pkg-rest

#3116 fix(bot): properly handle thread list sync event
  packages/bot/src/bot.ts
  packages/bot/src/handlers/channels/THREAD_LIST_SYNC.ts
Labels: t-fix, pkg-bot
