Repository discordeno/discordeno, pull requests merged in 2024-07, with the labels that each got.

#3701 feat(types); Update default values for poll creation
  packages/types/src/discordeno.ts
Labels: w-unverified, pkg-types

#3185 fix(rest)!: Fix Basic OAuth2 queues and add method for updating the queues and ratelimit paths after a refresh
  packages/rest/src/manager.ts
  packages/rest/src/queue.ts
  packages/rest/src/types.ts
  packages/rest/tests/unit/manager.spec.ts
Labels: t-fix, t-breaking, pkg-rest

#3361 docs: Reaction roles bot example
  examples/reaction-roles/.env.example
  examples/reaction-roles/.gitignore
  examples/reaction-roles/.swcrc
  examples/reaction-roles/README.md
  examples/reaction-roles/package.json
  examples/reaction-roles/src/collector.ts
  examples/reaction-roles/src/commands/index.ts
  examples/reaction-roles/src/commands/roles.ts
  examples/reaction-roles/src/events/index.ts
  examples/reaction-roles/src/events/interactionCreate.ts
  examples/reaction-roles/src/events/ready.ts
  examples/reaction-roles/src/index.ts
  examples/reaction-roles/src/register-commands.ts
  examples/reaction-roles/tsconfig.json
  examples/reaction-roles/yarn.lock
  website/docs/examples/reactionroles.md
  website/docusaurus.config.ts
  website/src/styling/index.css
Labels: t-docs, t-ci, pkg-all, w-verified, website

#3704 fix(bot)!: Use `bot.transformers.emoji` in `handleGuildEmojisUpdate`
  packages/bot/src/bot.ts
  packages/bot/src/handlers/emojis/GUILD_EMOJIS_UPDATE.ts
Labels: t-fix, w-unverified, t-breaking, pkg-bot

#3709 fix(utils): Use '%20' instead of ' ' for joining scopes
  packages/utils/src/oauth2.ts
Labels: t-fix, w-unverified, pkg-utils

#3706 fix(bot)!: Add `guildId` to `guildStickersUpdate` event
  packages/bot/src/bot.ts
  packages/bot/src/handlers/guilds/GUILD_STICKERS_UPDATE.ts
Labels: t-fix, w-unverified, t-breaking, pkg-bot

#3691 feat(bot,types): Add attachment titles
  packages/bot/src/transformers.ts
  packages/bot/src/transformers/attachment.ts
  packages/types/src/discord.ts
Labels: t-feat, w-unverified, pkg-types, pkg-bot

#3614 feat(bot,types): Add invite types
  packages/bot/src/transformers.ts
  packages/bot/src/transformers/invite.ts
  packages/types/src/discord.ts
Labels: t-feat, w-unverified, pkg-types, pkg-bot

#3690 fix(types): Document the position behavior for duplicate position values
  packages/types/src/discord.ts
  packages/types/src/discordeno.ts
Labels: t-fix, w-unverified, pkg-types

#3680 feat(bot,types,utils)!: Add premium interaction
  packages/bot/src/transformers/interaction.ts
  packages/types/src/discord.ts
  packages/types/src/shared.ts
  packages/utils/src/index.ts
  packages/utils/src/urls.ts
Labels: t-feat, w-unverified, t-breaking, pkg-types, pkg-bot, pkg-utils

#3679 feat(types): Add avatarDecorationData to guildMemberUpdate
  packages/types/src/discord.ts
Labels: t-feat, w-unverified, pkg-types

#3696 feat(rest,types)!: User apps GA
  packages/rest/src/types.ts
  packages/types/src/discord.ts
  packages/types/src/discordeno.ts
Labels: t-feat, w-unverified, t-breaking, pkg-types, pkg-rest

#3694 fix(types): Update max poll duration and defaults for creating a poll
  packages/types/src/discordeno.ts
Labels: t-fix, w-unverified, pkg-types

#3615 feat(bot,rest,types): Add burst (super reaction) informations on events & DiscordReactionType
  packages/bot/src/bot.ts
  packages/bot/src/handlers/messages/MESSAGE_REACTION_ADD.ts
  packages/bot/src/handlers/messages/MESSAGE_REACTION_REMOVE.ts
  packages/rest/src/routes.ts
  packages/types/src/discord.ts
  packages/types/src/discordeno.ts
Labels: t-feat, w-unverified, pkg-types, pkg-rest, pkg-bot

#3718 docs: update big bot guide
  website/docs/bigbot/step-1-decisions.md
  website/docs/bigbot/step-2-rest.md
  website/docs/bigbot/step-3-gateway.md
  website/docs/bigbot/step-4-bot.md
  website/src/components/bigbotguide/GatewayFlowChart.tsx
Labels: t-docs, w-unverified, website

#3717 feat(types)!: Add flags enums
  packages/bot/src/transformers/interaction.ts
  packages/bot/src/transformers/message.ts
  packages/bot/src/transformers/sku.ts
  packages/bot/src/typings.ts
  packages/types/src/discord.ts
  packages/types/src/discordeno.ts
  packages/types/src/shared.ts
Labels: t-feat, w-unverified, t-breaking, pkg-types, pkg-bot

#3705 fix(bot)!: Add `guild.features` to guild transformer
  packages/bot/src/transformers/guild.ts
  packages/bot/src/transformers/toggles/guild.ts
Labels: t-fix, w-unverified, t-breaking, pkg-bot

#3646 feat(types): Add the Guild Incident message types
  packages/types/src/shared.ts
Labels: t-feat, w-unverified, pkg-types

#3642 feat(types)!: Add automod types for blocking words in member profiles
  packages/types/src/discord.ts
Labels: t-feat, w-unverified, t-breaking, pkg-types

#3719 fix(bot)!: Guild features type
  packages/bot/src/transformers.ts
  packages/bot/src/transformers/toggles/guild.ts
  packages/types/src/shared.ts
Labels: t-fix, w-unverified, t-breaking, pkg-types, pkg-bot

#3618 feat(bot,types)!: Add partial guild to interaction
  packages/bot/src/handlers/interactions/INTERACTION_CREATE.ts
  packages/bot/src/transformers.ts
  packages/bot/src/transformers/interaction.ts
  packages/types/src/discord.ts
Labels: t-feat, w-unverified, t-breaking, pkg-types, pkg-bot

#3726 feat(types)!: Use BigInt for permission flags
  packages/bot/src/transformers/toggles/Permissions.ts
  packages/types/src/shared.ts
  packages/utils/src/permissions.ts
Labels: t-feat, w-unverified, t-breaking, pkg-types, pkg-bot, pkg-utils

#3014 Feat: resharding
  packages/gateway/src/manager.ts
Labels: pkg-gateway

#3733 fix(website): fix typedoc configuration
  .gitignore
  README.md
  package.json
  packages/bot/README.md
  packages/gateway/README.md
  packages/gateway/src/manager.ts
  packages/rest/README.md
  packages/types/README.md
  packages/utils/README.md
  scripts/finalizeTypedocs.js
  typedoc.json
  website/api_reference/generated/.nojekyll
  website/api_reference/generated/@discordeno/bot/_category_.json
  website/api_reference/generated/@discordeno/gateway/_category_.json
  website/api_reference/generated/@discordeno/rest/_category_.json
  website/api_reference/generated/@discordeno/types/_category_.json
  website/api_reference/generated/@discordeno/utils/_category_.json
  website/api_reference/generated/README.md
  website/api_reference/generated/classes/_category_.json
  website/api_reference/generated/enums/_category_.json
  website/api_reference/generated/interfaces/_category_.json
  website/api_reference/generated/modules.md
  website/api_reference/generated/modules/_category_.json
  website/docusaurus.config.ts
  website/yarn.lock
  yarn.lock
Labels: t-fix, w-unverified, pkg-types, pkg-gateway, pkg-rest, pkg-all, pkg-bot, pkg-utils, website

#3737 fix(docker): Fix invalid snyk serif
  .github/workflows/docker-app-rest-passthrough.yml
Labels: t-fix, t-ci, w-unverified

#3741 fix(bot)!: Rename `channel.autoArchiveDuration` to `defaultAutoArchiveDuration`
  packages/bot/src/transformers.ts
  packages/bot/src/transformers/channel.ts
Labels: t-fix, w-unverified, t-breaking, pkg-bot

#3740 fix(gateway): Log the `code.code` more often, incluing in the generic message
  packages/gateway/src/Shard.ts
Labels: t-fix, w-unverified, pkg-gateway

#3736 fix(bot): Add missing proprieties on `Channel`
  packages/bot/src/transformers.ts
  packages/bot/src/transformers/channel.ts
  packages/bot/src/transformers/emoji.ts
  packages/bot/src/transformers/toggles/channel.ts
Labels: t-fix, w-unverified, pkg-bot

#3744 fix(types): Update `ModifyChannel` interface
  packages/types/src/discordeno.ts
Labels: t-fix, w-unverified, pkg-types

#3617 fix(bot,types): guild members flags
  packages/bot/src/handlers/members/GUILD_MEMBER_UPDATE.ts
  packages/bot/src/transformers.ts
  packages/bot/src/transformers/member.ts
  packages/bot/src/transformers/reverse/member.ts
  packages/bot/src/transformers/toggles/member.ts
  packages/types/src/discord.ts
  packages/types/src/discordeno.ts
  packages/types/src/shared.ts
Labels: t-fix, w-unverified, pkg-types, pkg-bot

#3745 fix: adapt biome formatting of package.json files to match the yarn one
  biome.jsonc
  package.json
  packages/bot/src/transformers/toggles/member.ts
  packages/tsconfig/package.json
  website/package.json
Labels: t-fix, w-unverified, pkg-all, pkg-bot, website

#3734 fix: tsconfig.json
  tsconfig.json
Labels: t-fix, w-unverified, pkg-all

#3759 ci: Add token parameter to codecov action
  .github/workflows/e2e-test.yml
  .github/workflows/integration-test.yml
  .github/workflows/lib-check.yml
  .github/workflows/unit-test.yml
Labels: t-ci, w-unverified

#3757 feat(types): Add roblox connection
  packages/types/src/discord.ts
Labels: t-feat, w-unverified, pkg-types

#3761 fix(rest): Fix followups from getting stuck in queue
  packages/rest/src/manager.ts
  packages/rest/src/queue.ts
  packages/rest/src/types.ts
Labels: t-fix, w-unverified, pkg-rest

#3760 ci: Update actions versions
  .github/workflows/benchmark.yml
  .github/workflows/docker-app-rest-passthrough.yml
  .github/workflows/e2e-test.yml
  .github/workflows/integration-test.yml
  .github/workflows/lib-check.yml
  .github/workflows/other-runtime-unit-test.yml
  .github/workflows/release.yml
  .github/workflows/site.yml
  .github/workflows/unit-test.yml
Labels: t-ci, w-unverified

#3746 fix(docker): prevent snyk null in severity scores for unassigned CVEs
  .github/workflows/docker-app-rest-passthrough.yml
  docker-apps/rest-passthrough/Dockerfile
Labels: t-fix, t-ci, w-unverified

#3765 fix(gateway): Use passed in logger instead of the imported one
  packages/gateway/src/manager.ts
Labels: t-fix, w-unverified, pkg-gateway

#3768 feat(types)!: Remove `DiscordPartialGuild`, use `Partial<DiscordGuild>`
  packages/bot/src/helpers.ts
  packages/rest/src/manager.ts
  packages/rest/src/types.ts
  packages/types/src/camel.ts
  packages/types/src/discord.ts
Labels: t-feat, w-unverified, t-breaking, pkg-types, pkg-rest, pkg-bot

#3774 feat(types,rest,bot): Add application emoji endpoints
  packages/bot/src/helpers.ts
  packages/rest/src/manager.ts
  packages/rest/src/routes.ts
  packages/rest/src/types.ts
  packages/rest/src/typings/routes.ts
  packages/types/src/discordeno.ts
Labels: t-feat, w-unverified, pkg-types, pkg-rest, pkg-bot

#3764 feat(bot,types): Add message forward
  packages/bot/src/transformers.ts
  packages/bot/src/transformers/message.ts
  packages/bot/src/transformers/types.ts
  packages/types/src/discord.ts
  packages/types/src/discordeno.ts
Labels: t-feat, w-unverified, pkg-types, pkg-bot

#3787 feat(bot): Add `desiredProperties` to createBot
  packages/bot/src/bot.ts
  packages/bot/src/transformers.ts
  packages/types/src/shared.ts
Labels: t-feat, w-unverified, pkg-types, pkg-bot

#3789 fix(discordeno): Add shebang
  packages/discordeno/bin/discordeno.js
Labels: t-fix, w-unverified

#3790 feat(ci): Add discordeno to the release workflow
  .github/workflows/release.yml
Labels: t-feat, t-ci, w-unverified

#3806 fix(gateway): Clear `offlineSendQueue` after resolving all the promises
  packages/gateway/src/Shard.ts
Labels: t-fix, w-unverified, pkg-gateway

#3807 feat(types)!: Rename `Game` activity type to `Playing`
  packages/types/src/shared.ts
Labels: t-feat, w-unverified, t-breaking, pkg-types

#3792 fix(bot,gateway): Fix (some) resharding bugs
  packages/bot/src/bot.ts
  packages/gateway/src/manager.ts
Labels: t-fix, w-unverified, pkg-gateway, pkg-bot

#3809 fix(ci): Add env to `test:e2e` turbo task
  turbo.json
Labels: t-fix, t-ci, w-unverified, pkg-all

#3793 fix(gateway): Make heartbeat logging clearer
  packages/gateway/src/Shard.ts
Labels: t-fix, w-unverified, pkg-gateway

#3794 fix(bot)!: Remove old unprovided params from event params
  packages/bot/src/bot.ts
Labels: t-fix, w-unverified, t-breaking, pkg-bot

#3795 fix(rest): ignore snakelized properties in `changeToDiscordFormat`
  packages/rest/src/manager.ts
Labels: t-fix, w-unverified, pkg-rest

#3817 docs: remove tutorial section
  website/docs/architecture.mdx
  website/docusaurus.config.ts
  website/sidebars.ts
  website/tutorial/amethyst/AmethystCollection.md
  website/tutorial/amethyst/AmethystEmbed.md
  website/tutorial/amethyst/_category_.json
  website/tutorial/amethyst/client.md
  website/tutorial/amethyst/exampleBot.md
  website/tutorial/amethyst/intro.md
  website/tutorial/big-bot-guide/_category_.json
  website/tutorial/big-bot-guide/cache.md
  website/tutorial/big-bot-guide/events.md
  website/tutorial/big-bot-guide/gateway.md
  website/tutorial/big-bot-guide/rest.md
  website/tutorial/big-bot-guide/step-by-step.md
  website/tutorial/nodejs/CommandHandler/_category_.json
  website/tutorial/nodejs/CommandHandler/command-manager.md
  website/tutorial/nodejs/CommandHandler/create-command.md
  website/tutorial/nodejs/CommandHandler/getting-started.md
  website/tutorial/nodejs/EventHandler/_category_.json
  website/tutorial/nodejs/EventHandler/event-manager.md
  website/tutorial/nodejs/EventHandler/getting-started.md
  website/tutorial/nodejs/EventHandler/handle-event.md
  website/tutorial/nodejs/Structures/_category_.json
  website/tutorial/nodejs/Structures/collectors.md
  website/tutorial/nodejs/Structures/components.md
  website/tutorial/nodejs/Structures/create-structure.md
  website/tutorial/nodejs/Structures/embeds.md
  website/tutorial/nodejs/Structures/getting-started.md
  website/tutorial/nodejs/_category_.json
  website/tutorial/nodejs/create-application.md
  website/tutorial/nodejs/design.md
  website/tutorial/nodejs/getting-started.md
  website/tutorial/nodejs/initial-setup.md
  website/tutorial/nodejs/installion.md
  website/tutorial/nodejs/slash-command.md
Labels: t-docs, w-unverified, website
