Repository discordeno/discordeno, pull requests merged in 2024-04, with the labels that each got.

#3536 fix(build): Fix CJS extension script to avoid replacing .json
  scripts/fixCjsExtension.js
Labels: t-fix, w-unverified, t-build, pkg-all

#3526 feat(types): Add bungie discord connection
  packages/types/src/discord.ts
Labels: t-feat, w-unverified, pkg-types

#3503 feat(rest): Update comment for permissions needed when pruning members
  packages/rest/src/types.ts
Labels: t-feat, w-unverified, pkg-rest

#3311 chore: remove skillz and itoh from global codeowner
  .github/CODEOWNERS
Labels: t-feat, w-verified

#3543 feat(types,rest,bot): Add bulk ban support
  packages/bot/src/helpers.ts
  packages/rest/src/manager.ts
  packages/rest/src/routes.ts
  packages/rest/src/types.ts
  packages/rest/src/typings/routes.ts
  packages/types/src/camel.ts
  packages/types/src/discord.ts
  packages/types/src/discordeno.ts
Labels: t-feat, w-unverified, pkg-types, pkg-rest, pkg-bot

#3542 feat(bot,rest,types): Add polls support
  packages/bot/src/bot.ts
  packages/bot/src/handlers.ts
  packages/bot/src/handlers/index.ts
  packages/bot/src/handlers/poll/MESSAGE_POLL_VOTE_ADD.ts
  packages/bot/src/handlers/poll/MESSAGE_POLL_VOTE_REMOVE.ts
  packages/bot/src/handlers/poll/index.ts
  packages/bot/src/transformers.ts
  packages/bot/src/transformers/poll.ts
  packages/bot/src/typings.ts
  packages/rest/src/manager.ts
  packages/rest/src/routes.ts
  packages/rest/src/types.ts
  packages/rest/src/typings/routes.ts
  packages/types/src/camel.ts
  packages/types/src/discord.ts
  packages/types/src/discordeno.ts
  packages/types/src/shared.ts
Labels: t-feat, w-unverified, pkg-types, pkg-rest, pkg-bot

#3547 fix: bump script ignoring some `@discordeno` deps
  scripts/bumpVersionByCommit.js
Labels: t-fix, t-ci, pkg-all, w-verified

#3502 feat(bot,rest,types,utils): Support User-Installed apps, Interaction contexts and install types
  packages/bot/src/transformers.ts
  packages/bot/src/transformers/application.ts
  packages/bot/src/transformers/interaction.ts
  packages/bot/src/transformers/message.ts
  packages/rest/src/manager.ts
  packages/rest/src/routes.ts
  packages/rest/src/typings/routes.ts
  packages/types/src/camel.ts
  packages/types/src/discord.ts
  packages/types/src/discordeno.ts
  packages/types/src/shared.ts
  packages/utils/src/oauth2.ts
Labels: t-feat, pkg-types, pkg-rest, w-verified, pkg-bot, pkg-utils
