Repository discordeno/discordeno, pull requests merged in 2024-03, with the labels that each got.

#3465 feat(bot)!: update interaction helpers
  packages/bot/src/transformers/interaction.ts
Labels: t-feat, w-unverified, t-breaking, pkg-bot

#3422 refactor(bot, gateway, rest)!: Improve the interface of the `createBot()` function.
  packages/benchmark/src/benchmarks/rest.ts
  packages/bot/src/bot.ts
  packages/bot/src/handlers/members/GUILD_MEMBERS_CHUNK.ts
  packages/gateway/src/manager.ts
  packages/rest/src/manager.ts
  packages/rest/src/types.ts
  packages/rest/tests/unit/manager.spec.ts
Labels: t-refactor, t-breaking, pkg-gateway, pkg-rest, w-verified, pkg-bot

#3386 docs: Update contributing docs
  .devcontainer/base.Dockerfile
  .devcontainer/devcontainer.json
  .vscode/tasks.json
  README.md
  howToUseTurborepo.md
  packages/rest/src/README.md
  readme.hbs
  website/docs/contributing.md
Labels: t-docs, t-ci, pkg-rest, pkg-all, w-verified, website

#3382 feat(rest): Improve rest errors
  packages/rest/src/manager.ts
Labels: t-feat, pkg-rest, w-verified

#3481 fix(rest-proxy): check for multi-part bodies
  docker-apps/rest-passthrough/package.json
  docker-apps/rest-passthrough/src/fastify.ts
  docker-apps/rest-passthrough/src/server.ts
  docker-apps/rest-passthrough/yarn.lock
Labels: t-fix, w-unverified

#3383 feat(bot, rest, gateway, utils): Add support for custom loggers
  packages/bot/src/bot.ts
  packages/bot/src/transformers.ts
  packages/gateway/src/Shard.ts
  packages/gateway/src/manager.ts
  packages/rest/src/invalidBucket.ts
  packages/rest/src/manager.ts
  packages/rest/src/queue.ts
  packages/rest/src/types.ts
  packages/utils/src/bucket.ts
Labels: t-feat, pkg-gateway, pkg-rest, w-verified, pkg-bot, pkg-utils
