Repository discordeno/discordeno, pull requests merged in 2024-12, with the labels that each got.

#4037 fix(rest): Use files[n] for uploading files
  packages/rest/src/manager.ts
Labels: t-fix, w-unverified, pkg-rest

#4042 fix(types,bot)!: Dates are nullable not optional in Entitilement
  packages/bot/src/transformers/types.ts
  packages/types/src/discord.ts
Labels: t-fix, w-unverified, t-breaking, pkg-types, pkg-bot

#4046 fix(gateway): close not resolving in some cases
  packages/gateway/src/Shard.ts
Labels: t-fix, w-unverified, pkg-gateway

#4051 feat(types): Add `bluesky` and `mastodon` to the user connections
  packages/types/src/discord.ts
Labels: t-feat, w-unverified, pkg-types

#4053 Allow edit and deferEdit on modal submit interaction
  packages/bot/src/transformers/interaction.ts
Labels: w-unverified, pkg-bot

#4052 feat(website): show bots' guild count at the time of review in reviews section & update guild count of bots
  website/src/components/home/reviews/index.tsx
  website/src/types.ts
Labels: t-feat, w-unverified, website

#4049 feat(types,bot): Add renewalSkuIds to subscription
  packages/bot/src/desiredProperties.ts
  packages/bot/src/transformers/subscription.ts
  packages/bot/src/transformers/types.ts
  packages/types/src/discord.ts
Labels: t-feat, w-unverified, pkg-types, pkg-bot

#4057 fix(gateway): set a nonce if none is provided for gateway.requestMembers
  denoImportMap.json
  packages/gateway/src/manager.ts
Labels: t-fix, w-unverified, pkg-gateway, pkg-all

#4050 feat(bot): Remove some clutter from desired proprerties intellisense
  packages/bot/src/bot.ts
  packages/bot/src/commandOptionsParser.ts
  packages/bot/src/desiredProperties.ts
  packages/bot/src/events.ts
  packages/bot/src/helpers.ts
  packages/bot/src/transformers.ts
  website/docs/desired-properties.md
Labels: t-feat, w-unverified, pkg-bot, website

#4060 feat(utils): add an export for DISCORDENO_VERSION
  packages/utils/src/constants.ts
  packages/utils/src/index.ts
Labels: t-feat, w-unverified, pkg-utils

#4059 chore: use DISCORDENO_VERSION from utils for docs and rest manager
  packages/rest/src/manager.ts
  website/docs/bigbot/step-2-rest.md
Labels: t-docs, w-unverified, pkg-rest, website

#4062 chore: Bump to v21
  package.json
  packages/benchmarks/package.json
  packages/bot/package.json
  packages/discordeno/package.json
  packages/gateway/package.json
  packages/rest/package.json
  packages/rest/src/types.ts
  packages/types/package.json
  packages/utils/package.json
  packages/utils/src/constants.ts
  yarn.lock
Labels: w-unverified, pkg-types, pkg-gateway, pkg-rest, pkg-all, pkg-bot, pkg-utils

#4064 fix(bigbot-example): add missing dotenv dependency
  examples/bigbot/package.json
  examples/bigbot/yarn.lock
Labels: t-fix, w-unverified

#4063 docs: Remove yarn postinstall mention
  examples/bigbot/README.md
Labels: t-docs, w-unverified

#4065 fix(bitbot-example): MESSAGEQUEUE_ENABLE being a string instead of a bool
  examples/bigbot/src/config.ts
Labels: t-fix, w-unverified

#4069 fix: add chokidar as dev dependencie
  examples/bigbot/package.json
  examples/bigbot/yarn.lock
Labels: t-fix, w-unverified

#4078 fix: EmbedsBuilder missing s typo
  packages/utils/src/builders/embeds.ts
Labels: t-fix, w-unverified, pkg-utils

#4076 fix(dependabot): switch to monthly dependencie updates
  .github/dependabot.yml
Labels: t-fix, w-unverified

#4077 feat(utils): add EmbedsBuilder.addFields()
  packages/utils/src/builders/embeds.ts
  packages/utils/tests/builders.spec.ts
Labels: t-feat, w-unverified, pkg-utils
