Repository discordeno/discordeno, pull requests merged in 2024-11, with the labels that each got.

#3965 fix(bot): Always include the message content if desired
  packages/bot/src/transformers/message.ts
Labels: t-fix, w-unverified, pkg-bot

#3959 feat(types,bot): Add command target to interaction response messages
  packages/bot/src/transformers.ts
  packages/bot/src/transformers/message.ts
  packages/bot/src/transformers/types.ts
  packages/types/src/discord.ts
Labels: t-feat, w-unverified, pkg-types, pkg-bot

#3952 feat(types): Use numbers in the template partial source guild
  packages/types/src/discord.ts
Labels: t-feat, w-unverified, pkg-types

#3950 fix(rest): Fix the remark on `getWebhook`
  packages/rest/src/types.ts
Labels: t-fix, w-unverified, pkg-rest

#3949 feat(types,bot): Add banners to members
  packages/bot/src/transformers.ts
  packages/bot/src/transformers/member.ts
  packages/bot/src/transformers/types.ts
  packages/types/src/discord.ts
Labels: t-feat, w-unverified, pkg-types, pkg-bot

#3892 feat(bot,rest,types): Add subscriptions
  packages/bot/src/bot.ts
  packages/bot/src/handlers.ts
  packages/bot/src/handlers/index.ts
  packages/bot/src/handlers/subscriptions/SUBSCRIPTION_CREATE.ts
  packages/bot/src/handlers/subscriptions/SUBSCRIPTION_DELETE.ts
  packages/bot/src/handlers/subscriptions/SUBSCRIPTION_UPDATE.ts
  packages/bot/src/handlers/subscriptions/index.ts
  packages/bot/src/helpers.ts
  packages/bot/src/transformers.ts
  packages/bot/src/transformers/subscription.ts
  packages/bot/src/transformers/types.ts
  packages/bot/src/typings.ts
  packages/rest/src/manager.ts
  packages/rest/src/routes.ts
  packages/rest/src/types.ts
  packages/rest/src/typings/routes.ts
  packages/types/src/discord.ts
  packages/types/src/discordeno.ts
  packages/types/src/shared.ts
Labels: t-feat, pkg-types, pkg-rest, w-verified, pkg-bot

#3919 feat(bot,rest,gateway,utils,types)!: Add soundboard support
  packages/bot/src/bot.ts
  packages/bot/src/handlers.ts
  packages/bot/src/handlers/index.ts
  packages/bot/src/handlers/soundboard/GUILD_SOUNDBOARD_SOUNDS_UPDATE.ts
  packages/bot/src/handlers/soundboard/GUILD_SOUNDBOARD_SOUND_CREATE.ts
  packages/bot/src/handlers/soundboard/GUILD_SOUNDBOARD_SOUND_DELETE.ts
  packages/bot/src/handlers/soundboard/GUILD_SOUNDBOARD_SOUND_UPDATE.ts
  packages/bot/src/handlers/soundboard/SOUNDBOARD_SOUNDS.ts
  packages/bot/src/handlers/soundboard/index.ts
  packages/bot/src/helpers.ts
  packages/bot/src/transformers.ts
  packages/bot/src/transformers/index.ts
  packages/bot/src/transformers/soundboardSound.ts
  packages/bot/src/transformers/subscription.ts
  packages/bot/src/transformers/toggles/guild.ts
  packages/bot/src/transformers/types.ts
  packages/bot/src/typings.ts
  packages/gateway/src/manager.ts
  packages/rest/src/manager.ts
  packages/rest/src/routes.ts
  packages/rest/src/types.ts
  packages/rest/src/typings/routes.ts
  packages/types/src/camel.ts
  packages/types/src/discord.ts
  packages/types/src/discordeno.ts
  packages/types/src/shared.ts
  packages/utils/src/urls.ts
Labels: t-feat, w-unverified, t-breaking, pkg-types, pkg-gateway, pkg-rest, pkg-bot, pkg-utils

#3907 fix(gateway): Fix shard reconnecting in a loop
  packages/gateway/src/Shard.ts
  packages/gateway/src/manager.ts
  packages/gateway/tests/integration/connection.spec.ts
Labels: t-fix, pkg-gateway, pkg-all, w-verified

#3951 refactor(types,utils,rest,bot)!: Cleanup types & files
  biome.jsonc
  examples/bigbot/src/rest/index.ts
  packages/bot/src/bot.ts
  packages/bot/src/desiredProperties.ts
  packages/bot/src/events.ts
  packages/bot/src/handlers.ts
  packages/bot/src/helpers.ts
  packages/bot/src/index.ts
  packages/bot/src/optionalize.ts
  packages/bot/src/transformers.ts
  packages/bot/src/transformers/auditLogEntry.ts
  packages/bot/src/transformers/component.ts
  packages/bot/src/transformers/index.ts
  packages/bot/src/transformers/interaction.ts
  packages/bot/src/transformers/member.ts
  packages/bot/src/transformers/onboarding.ts
  packages/bot/src/transformers/reverse/auditLogEntry.ts
  packages/bot/src/transformers/reverse/component.ts
  packages/bot/src/transformers/reverse/createApplicationCommand.ts
  packages/bot/src/transformers/reverse/index.ts
  packages/bot/src/transformers/reverse/interactionResponse.ts
  packages/bot/src/transformers/threadMember.ts
  packages/bot/src/transformers/types.ts
  packages/bot/src/typings.ts
  packages/bot/tests/e2e/resetguilds.spec.ts
  packages/discordeno/src/bin/generate/typescript.ts
  packages/discordeno/tests/generate.spec.ts
  packages/gateway/src/Shard.ts
  packages/rest/src/types.ts
  packages/types/src/camel.ts
  packages/types/src/discord.ts
  packages/types/src/discordeno.ts
  packages/types/src/index.ts
  packages/types/src/shared.ts
  packages/utils/src/typeguards.ts
  website/sidebars.ts
  website/src/components/architecture/FlowChart.tsx
  website/src/components/home/features/feature.tsx
  website/src/components/home/features/index.tsx
  website/src/styling/index.css
Labels: t-refactor, w-unverified, t-breaking, pkg-types, pkg-gateway, pkg-rest, pkg-all, pkg-bot, pkg-utils, website

#3978 chore(website): Enable docusaurus `future.experimental_faster`
  website/docusaurus.config.ts
  website/package.json
  website/yarn.lock
Labels: w-unverified, website

#3977 refactor(rest): make proxy.authorization optional in CreateRestManagerOptions
  packages/rest/src/manager.ts
  packages/rest/src/types.ts
Labels: t-fix, t-refactor, w-unverified, pkg-rest

#3976 fix(bot): role.color being undefined when value is 0
  packages/bot/src/transformers/role.ts
Labels: t-fix, w-unverified, pkg-bot

#3979 fix(bot): Incorrect return type in `interaction.respond`
  packages/bot/src/transformers/channel.ts
  packages/bot/src/transformers/guild.ts
  packages/bot/src/transformers/interaction.ts
  packages/bot/src/transformers/member.ts
  packages/bot/src/transformers/message.ts
  packages/bot/src/transformers/role.ts
  packages/bot/src/transformers/types.ts
  packages/bot/src/transformers/user.ts
Labels: t-fix, w-unverified, pkg-bot

#3954 feat(bot)!: Add type helpers for type-level based desired props
  packages/benchmarks/src/benchmarks/memory.ts
  packages/benchmarks/src/benchmarks/transformers.ts
  packages/bot/src/bot.ts
  packages/bot/src/desiredProperties.ts
  packages/bot/src/events.ts
  packages/bot/src/handlers.ts
  packages/bot/src/handlers/members/GUILD_MEMBER_ADD.ts
  packages/bot/src/handlers/messages/MESSAGE_CREATE.ts
  packages/bot/src/handlers/messages/MESSAGE_UPDATE.ts
  packages/bot/src/helpers.ts
  packages/bot/src/transformers.ts
  packages/bot/src/transformers/activity.ts
  packages/bot/src/transformers/attachment.ts
  packages/bot/src/transformers/channel.ts
  packages/bot/src/transformers/emoji.ts
  packages/bot/src/transformers/entitlement.ts
  packages/bot/src/transformers/guild.ts
  packages/bot/src/transformers/interaction.ts
  packages/bot/src/transformers/invite.ts
  packages/bot/src/transformers/member.ts
  packages/bot/src/transformers/message.ts
  packages/bot/src/transformers/onboarding.ts
  packages/bot/src/transformers/poll.ts
  packages/bot/src/transformers/presence.ts
  packages/bot/src/transformers/reverse/application.ts
  packages/bot/src/transformers/reverse/emoji.ts
  packages/bot/src/transformers/reverse/member.ts
  packages/bot/src/transformers/reverse/presence.ts
  packages/bot/src/transformers/reverse/team.ts
  packages/bot/src/transformers/role.ts
  packages/bot/src/transformers/scheduledEvent.ts
  packages/bot/src/transformers/sku.ts
  packages/bot/src/transformers/soundboardSound.ts
  packages/bot/src/transformers/stageInstance.ts
  packages/bot/src/transformers/stageInviteInstance.ts
  packages/bot/src/transformers/sticker.ts
  packages/bot/src/transformers/subscription.ts
  packages/bot/src/transformers/team.ts
  packages/bot/src/transformers/template.ts
  packages/bot/src/transformers/types.ts
  packages/bot/src/transformers/user.ts
  packages/bot/src/transformers/voiceState.ts
  packages/bot/src/transformers/webhook.ts
  packages/bot/tests/e2e/resetguilds.spec.ts
  packages/bot/tests/unit/desiredProprieties.spec.ts
  packages/discordeno/src/index.ts
Labels: t-feat, w-unverified, t-breaking, pkg-bot

#3980 chore(discordeno)!: Remove CLI
  packages/discordeno/bin/discordeno.js
  packages/discordeno/package.json
  packages/discordeno/src/bin/config.ts
  packages/discordeno/src/bin/generate/desiredProperty.ts
  packages/discordeno/src/bin/generate/emitter.ts
  packages/discordeno/src/bin/generate/typescript.ts
  packages/discordeno/src/bin/index.ts
  packages/discordeno/src/index.ts
  packages/discordeno/tests/generate.spec.ts
  yarn.lock
Labels: w-unverified, t-breaking, pkg-all

#3988 ci: Release v19
  .github/workflows/release.yml
  package.json
  packages/benchmarks/package.json
  packages/bot/package.json
  packages/discordeno/package.json
  packages/gateway/package.json
  packages/rest/package.json
  packages/rest/src/manager.ts
  packages/types/package.json
  packages/utils/package.json
  yarn.lock
Labels: t-ci, w-unverified, pkg-types, pkg-gateway, pkg-rest, pkg-all, pkg-bot, pkg-utils

#3995 ci: Remove turbo cache from release
  .github/workflows/release.yml
Labels: t-ci, w-unverified

#3991 website: Remove migrations, reorder stuff in website
  website/docs/beginner/_category_.json
  website/docs/benchmark.mdx
  website/docs/bigbot/_category_.json
  website/docs/caching.md
  website/docs/contributing.md
  website/docs/examples/_category_.json
  website/docs/migrating/_category_.json
  website/docs/migrating/eris.md
Labels: w-unverified, website

#4002 fix(utils): Fix broken urlToBase64 test
  packages/utils/tests/urlToBase64.spec.ts
Labels: t-fix, w-unverified, pkg-utils

#4007 refactor(bot): export base objects with getters from transformers
  packages/bot/src/transformers/emoji.ts
  packages/bot/src/transformers/guild.ts
  packages/bot/src/transformers/interaction.ts
  packages/bot/src/transformers/member.ts
  packages/bot/src/transformers/message.ts
  packages/bot/src/transformers/role.ts
  packages/bot/src/transformers/user.ts
Labels: t-refactor, w-unverified, pkg-bot

#4009 fix(bot): Add missing breaks in component transformer switch
  packages/bot/src/transformers/component.ts
Labels: t-fix, w-unverified, pkg-bot

#3994 fix(bot)!: fix type errors when using `commandOptionsParser`
  packages/bot/src/commandOptionsParser.ts
  packages/bot/src/desiredProperties.ts
Labels: t-fix, w-unverified, t-breaking, pkg-bot

#4012 fix(rest): errors returned from makeRequest() doesn't provide more info rest is proxied
  packages/rest/src/manager.ts
Labels: t-fix, w-unverified, pkg-rest

#4013 website: Add the /desired-props redirect
  website/docusaurus.config.ts
  website/package.json
  website/yarn.lock
Labels: w-unverified, website

#4010 docs: change wordings on caching and desired props page
  website/docs/bigbot/step-2-rest.md
  website/docs/bigbot/step-3-gateway.md
  website/docs/bigbot/step-4-bot.md
  website/docs/caching.md
  website/docs/desired-properties.md
Labels: t-docs, w-unverified, website

#4021 feat(types,rest,bot): Document new entitlement endpoint behavior
  packages/bot/src/helpers.ts
  packages/rest/src/manager.ts
  packages/rest/src/types.ts
  packages/types/src/discordeno.ts
Labels: t-feat, w-unverified, pkg-types, pkg-rest, pkg-bot

#4017 fix(gateway): shard.resume() ending in a loop of constant resumes
  packages/gateway/src/Shard.ts
  packages/gateway/src/manager.ts
  packages/gateway/tests/integration/connection.spec.ts
Labels: t-fix, w-unverified, pkg-gateway

#4022 docs: improve docs
  README.md
  website/docs/architecture.mdx
  website/docs/beginner/_category_.json
  website/docs/benchmark.mdx
  website/docs/bigbot/_category_.json
  website/docs/bigbot/step-2-rest.md
  website/docs/bigbot/step-3-gateway.md
  website/docs/bigbot/step-4-bot.md
  website/docs/caching.md
  website/docs/contributing.md
  website/docs/faq.md
  website/docs/intro.md
  website/docusaurus.config.ts
  website/old_docs/amethyst/AmethystCollection.md
  website/old_docs/amethyst/AmethystEmbed.md
  website/old_docs/amethyst/_category_.json
  website/old_docs/amethyst/client.md
  website/old_docs/amethyst/exampleBot.md
  website/old_docs/amethyst/intro.md
  website/old_docs/benchmark.mdx
  website/old_docs/big-bot-guide/_category_.json
  website/old_docs/big-bot-guide/cache.md
  website/old_docs/big-bot-guide/events.md
  website/old_docs/big-bot-guide/gateway.md
  website/old_docs/big-bot-guide/rest.md
  website/old_docs/big-bot-guide/step-by-step.md
  website/old_docs/general/frequently-asked-questions.md
  website/old_docs/general/getting-started.md
  website/old_docs/general/migrating.md
  website/old_docs/getting-started.md
  website/old_docs/intro.md
  website/old_docs/migrating.md
  website/old_docs/nodejs/CommandHandler/_category_.json
  website/old_docs/nodejs/CommandHandler/command-manager.md
  website/old_docs/nodejs/CommandHandler/create-command.md
  website/old_docs/nodejs/CommandHandler/getting-started.md
  website/old_docs/nodejs/EventHandler/_category_.json
  website/old_docs/nodejs/EventHandler/event-manager.md
  website/old_docs/nodejs/EventHandler/getting-started.md
  website/old_docs/nodejs/EventHandler/handle-event.md
  website/old_docs/nodejs/Structures/_category_.json
  website/old_docs/nodejs/Structures/collectors.md
  website/old_docs/nodejs/Structures/components.md
  website/old_docs/nodejs/Structures/create-structure.md
  website/old_docs/nodejs/Structures/embeds.md
  website/old_docs/nodejs/Structures/getting-started.md
  website/old_docs/nodejs/_category_.json
  website/old_docs/nodejs/create-application.md
  website/old_docs/nodejs/design.md
  website/old_docs/nodejs/getting-started.md
  website/old_docs/nodejs/initial-setup.md
  website/old_docs/nodejs/installion.md
  website/old_docs/nodejs/slash-command.md
  website/src/components/architecture/FlowChart3.tsx
  website/src/components/architecture/FlowChart4.tsx
Labels: t-docs, w-unverified, pkg-all, website

#4027 docs: update faq
  website/docs/faq.md
Labels: t-docs, w-unverified, website

#4028 fix!: Remove `WithAtLeast`
  packages/bot/src/commandOptionsParser.ts
  packages/bot/src/desiredProperties.ts
Labels: t-fix, w-unverified, t-breaking, pkg-bot

#4029 feat(types): Add the crunchyroll connection
  packages/types/src/discord.ts
Labels: t-feat, w-unverified, pkg-types

#4030 chore: Release v20
  package.json
  packages/benchmarks/package.json
  packages/bot/package.json
  packages/discordeno/package.json
  packages/gateway/package.json
  packages/rest/package.json
  packages/types/package.json
  packages/utils/package.json
  yarn.lock
Labels: w-unverified, pkg-types, pkg-gateway, pkg-rest, pkg-all, pkg-bot, pkg-utils

#4032 feat(examples): Update examples to v20
  examples/advanced/package.json
  examples/advanced/src/bot.ts
  examples/advanced/src/commands/warn.ts
  examples/advanced/src/events/interactionCreate.ts
  examples/advanced/src/utils/permissions.ts
  examples/advanced/yarn.lock
  examples/beginner/package.json
  examples/beginner/src/bot.ts
  examples/beginner/src/utils/helpers.ts
  examples/beginner/yarn.lock
  examples/bigbot/package.json
  examples/bigbot/src/bot/commands.ts
  examples/bigbot/src/bot/events/interactions/create.ts
  examples/bigbot/yarn.lock
  examples/minimal/package.json
  examples/minimal/yarn.lock
  examples/reaction-roles/package.json
  examples/reaction-roles/src/events/interactionCreate.ts
  examples/reaction-roles/yarn.lock
Labels: t-feat, w-unverified
