Repository discordeno/discordeno, pull requests merged in 2024-05, with the labels that each got.

#3550 fix(bot,utils): Add poll transformer export & fix typedoc warn
  packages/bot/src/transformers/index.ts
  packages/utils/src/oauth2.ts
Labels: t-fix, w-unverified, pkg-bot, pkg-utils

#3548 feat(.github): add Skillz to more codeowners
  .github/CODEOWNERS
Labels: t-feat, w-verified

#3558 fix(gateway): Remove bot token from the shard debug logs
  packages/gateway/src/Shard.ts
Labels: t-fix, w-unverified, pkg-gateway

#3561 fix(rest,type): getPollAnswerVoters return type
  packages/rest/src/manager.ts
  packages/rest/src/types.ts
Labels: t-fix, w-unverified, pkg-rest

#3557 feat(docs): Add getting-started with installation
  website/docs/beginner/_category_.json
  website/docs/bigbot/_category_.json
  website/docs/examples/_category_.json
  website/docs/examples/bun.md
  website/docs/examples/deno.md
  website/docs/examples/node.md
  website/docs/getting-started.md
  website/docs/intro.md
  website/docs/migrating/_category_.json
  website/docusaurus.config.ts
Labels: t-feat, w-verified, website

#3628 feat(bot,types): Add MessageCall
  packages/bot/src/transformers.ts
  packages/bot/src/transformers/message.ts
  packages/types/src/discord.ts
Labels: t-feat, w-unverified, pkg-types, pkg-bot

#3626 feat(bot,rest,types): Add support for one-time entitlements
  packages/bot/src/transformers.ts
  packages/bot/src/transformers/entitlement.ts
  packages/rest/src/manager.ts
  packages/rest/src/routes.ts
  packages/rest/src/types.ts
  packages/rest/src/typings/routes.ts
  packages/types/src/discord.ts
Labels: t-feat, w-unverified, pkg-types, pkg-rest, pkg-bot

#3625 fix(utils): Use media.discordapp.net for gif stickers
  packages/types/src/shared.ts
  packages/utils/src/images.ts
Labels: t-fix, w-unverified, pkg-types, pkg-utils

#3623 feat(types): Add domain connection service type
  packages/types/src/discord.ts
Labels: t-feat, w-unverified, pkg-types

#3624 fix(bot): Add the poll object to the message transformer
  packages/bot/src/transformers.ts
  packages/bot/src/transformers/message.ts
Labels: t-fix, w-unverified, pkg-bot

#3622 feat(rest): Add reason to followAnnouncement
  packages/rest/src/manager.ts
  packages/rest/src/types.ts
Labels: t-feat, w-unverified, pkg-rest

#3620 feat(rest): Add `botBannerURL` to edit current bot banner
  packages/rest/src/manager.ts
  packages/rest/src/types.ts
Labels: t-feat, w-unverified, pkg-rest

#3619 docs(types): Update some documentation of the options for slash commands
  packages/types/src/discord.ts
  packages/types/src/discordeno.ts
Labels: t-docs, w-unverified, pkg-types

#3616 feat(types): Add AuditLog events for onboarding
  packages/types/src/shared.ts
Labels: t-feat, w-unverified, pkg-types

#3621 fix(bot,types,utils)!: change avatar decoration url link
  packages/bot/src/transformers.ts
  packages/bot/src/transformers/avatarDecorationData.ts
  packages/bot/src/transformers/index.ts
  packages/bot/src/transformers/member.ts
  packages/bot/src/transformers/reverse/member.ts
  packages/bot/src/transformers/user.ts
  packages/types/src/discord.ts
  packages/utils/src/images.ts
Labels: t-fix, w-unverified, t-breaking, pkg-types, pkg-bot, pkg-utils

#3627 feat(bot,types)!: Replace userId with User object in interactionMetadata
  packages/bot/src/transformers.ts
  packages/bot/src/transformers/message.ts
  packages/types/src/discord.ts
Labels: t-feat, w-unverified, t-breaking, pkg-types, pkg-bot
