Repository discordeno/discordeno, pull requests merged in 2024-08, with the labels that each got.

#3820 fix(bot): Make token in rest and gateway for `createBot` optional
  packages/bot/src/bot.ts
Labels: t-fix, w-unverified, pkg-bot

#3825 fix(rest): Use a `_` check instead of the manual one on the switch
  packages/rest/src/manager.ts
Labels: t-fix, w-unverified, pkg-rest

#3824 fix(discordeno)!: Fix some errors in `DiscordenoConfig`
  examples/advanced/src/bot.ts
  examples/beginner/src/bot.ts
  examples/bigbot/src/bot/bot.ts
  examples/minimal/src/bot.ts
  packages/bot/src/bot.ts
  packages/bot/src/transformers.ts
  packages/discordeno/src/bin/config.ts
  packages/discordeno/src/bin/generate/desiredProperty.ts
  packages/discordeno/src/bin/generate/typescript.ts
  packages/types/src/discordeno.ts
Labels: t-fix, w-unverified, t-breaking, pkg-types, pkg-bot

#3808 feat(gateway): Use the native WebSocket implementation when available
  packages/gateway/src/Shard.ts
Labels: t-feat, w-unverified, pkg-gateway

#3828 fix(rest): Add the property if it has `_` to the object
  packages/rest/src/manager.ts
Labels: t-fix, w-unverified, pkg-rest

#3830 fix(types): Add attachments to `CreateMessageOptions`
  packages/types/src/discordeno.ts
Labels: t-fix, w-unverified, pkg-types

#3834 feat(bot,types): Add recurrence rule to scheduled event
  packages/bot/src/transformers.ts
  packages/bot/src/transformers/scheduledEvent.ts
  packages/bot/src/transformers/types.ts
  packages/types/src/discord.ts
  packages/types/src/discordeno.ts
Labels: t-feat, w-unverified, pkg-types, pkg-bot

#3841 feat(bot,rest): Add voice state http endpoints
  packages/bot/src/helpers.ts
  packages/bot/src/transformers.ts
  packages/bot/src/transformers/voiceState.ts
  packages/rest/src/manager.ts
  packages/rest/src/types.ts
Labels: t-feat, w-unverified, pkg-rest, pkg-bot

#3844 feat(rest,bot): Add get sticker pack endpoint
  packages/bot/src/helpers.ts
  packages/rest/src/manager.ts
  packages/rest/src/routes.ts
  packages/rest/src/types.ts
  packages/rest/src/typings/routes.ts
Labels: t-feat, w-unverified, pkg-rest, pkg-bot

#3845 feat(bot,types): Add `approximate_user_install_count` to `DiscordApplication`
  packages/bot/src/transformers/application.ts
  packages/bot/src/transformers/reverse/application.ts
  packages/bot/src/transformers/types.ts
  packages/types/src/discord.ts
Labels: t-feat, w-unverified, pkg-types, pkg-bot

#3854 feat(gateway): Make `resharding.getSessionInfo` optional
  packages/gateway/src/manager.ts
Labels: t-feat, w-unverified, pkg-gateway

#3855 fix(gateway): change logLevel for some resharding logs
  packages/gateway/src/manager.ts
Labels: t-fix, w-unverified, pkg-gateway

#3849 fix(rest): Use camelCase for body members
  packages/rest/src/manager.ts
Labels: t-fix, w-unverified, pkg-rest

#3868 fix(types): Update description for 4003 close code
  packages/types/src/shared.ts
Labels: t-fix, w-unverified, pkg-types

#3848 fix(examples): Add commands dir import to examples register commands script
  examples/advanced/src/register-commands.ts
  examples/beginner/src/register-commands.ts
  examples/bigbot/src/bot/register-commands.ts
  examples/minimal/src/register-commands.ts
Labels: t-fix, w-unverified

#3861 feat(bot, rest): Add get guild role endpoint
  packages/bot/src/helpers.ts
  packages/rest/src/manager.ts
  packages/rest/src/types.ts
Labels: t-feat, w-unverified, pkg-rest, pkg-bot

#3863 fix(bot)!: Remove direct calls to transformers
  packages/bot/src/transformers.ts
  packages/bot/src/transformers/interaction.ts
  packages/bot/src/transformers/message.ts
  packages/bot/src/transformers/onboarding.ts
Labels: t-fix, w-unverified, t-breaking, pkg-bot

#3857 docs: added example to resharding in big bot guide
  website/docs/bigbot/step-3-gateway.md
Labels: t-docs, w-unverified, website

#3859 docs: add caching guide
  website/docs/benchmark.mdx
  website/docs/bigbot/step-4-bot.md
  website/docs/caching.md
  website/docs/examples/_category_.json
  website/docs/migrating/_category_.json
Labels: t-docs, w-unverified, website

#3869 feat(bot,types): Add `voiceChannelEffectSend` event
  packages/bot/src/bot.ts
  packages/bot/src/handlers.ts
  packages/bot/src/handlers/voice/VOICE_CHANNEL_EFFECT_SEND.ts
  packages/bot/src/handlers/voice/index.ts
  packages/bot/src/typings.ts
  packages/types/src/discord.ts
  packages/types/src/shared.ts
Labels: t-feat, w-unverified, pkg-types, pkg-bot

#3851 feat(gateway): Expose `makePresence` from `GatewayManager`
  packages/gateway/src/Shard.ts
  packages/gateway/src/manager.ts
Labels: t-feat, w-unverified, pkg-gateway

#3870 feat(types): Add `poll_result` Message/Embed Type
  packages/types/src/shared.ts
Labels: t-feat, w-unverified, pkg-types

#3871 fix(types)!: Set `recurrenceRule` as nullable in update guild scheduled event
  packages/types/src/discordeno.ts
Labels: t-fix, w-unverified, t-breaking, pkg-types

#3887 add .yarnrc.yml to advanced example solution
  examples/advanced/.yarnrc.yml
  examples/beginner/.yarnrc.yml
  examples/minimal/.yarnrc.yml
  examples/reaction-roles/.yarnrc.yml
Labels: w-unverified

#3858 build(website): Update website deps, remove 1s load time
  biome.jsonc
  website/README.md
  website/docusaurus.config.ts
  website/package.json
  website/src/pages/index.tsx
  website/src/pages/markdown-page.md
  website/static/img/docusaurus-social-card.jpg
  website/static/img/docusaurus.png
  website/static/img/undraw_docusaurus_mountain.svg
  website/static/img/undraw_docusaurus_react.svg
  website/static/img/undraw_docusaurus_tree.svg
  website/tsconfig.json
  website/webpack-docusaurus-plugin.ts
  website/yarn.lock
Labels: w-unverified, t-build, pkg-all, website
