Repository discordeno/discordeno, pull requests merged in 2024-02, with the labels that each got.

#3421 feat(types): Update locales
  packages/types/src/shared.ts
Labels: t-feat, w-unverified, pkg-types

#3395 fix(bot): Use helpers in interaction methods
  packages/bot/src/helpers.ts
  packages/bot/src/transformers/interaction.ts
Labels: t-fix, w-unverified, pkg-bot

#3360 fix(rest): Add support for getGuilds with bot token
  packages/rest/src/manager.ts
  packages/rest/src/types.ts
Labels: t-fix, w-unverified, pkg-rest

#3369 fix(types): rm `options` from `SelectMenuUsersAndRolesComponent`
  packages/types/src/discordeno.ts
Labels: t-fix, w-unverified, pkg-types

#3355 chore(website): Cleanup docusaurus setup
  .github/workflows/site.yml
  .gitignore
  jsdoc2md.json
  package.json
  packages/bot/src/optionalize.ts
  packages/bot/src/transformers/index.ts
  packages/rest/src/types.ts
  packages/utils/src/images.ts
  scripts/finalizeTypedocs.js
  typedoc.json
  website/.eslintrc.yml
  website/api_reference/generated/modules.md
  website/babel.config.js
  website/docusaurus.config.js
  website/docusaurus.config.ts
  website/package.json
  website/sidebars.ts
  website/src/components/Benchmark.tsx
  website/src/components/architecture/BaseFlowChart.tsx
  website/src/components/architecture/FlowChart.tsx
  website/src/components/architecture/FlowChart2.tsx
  website/src/components/architecture/FlowChart3.tsx
  website/src/components/footer/index.tsx
  website/src/components/header/index.tsx
  website/src/components/home/faq/index.tsx
  website/src/components/home/features/feature.tsx
  website/src/components/home/features/index.tsx
  website/src/components/home/reviews/index.tsx
  website/src/pages/index.tsx
  website/src/styling/index.ts
  website/src/types.ts
  website/tsconfig.json
  website/webpack-docusaurus-plugin.ts
  website/yarn.lock
  yarn.lock
Labels: t-ci, w-unverified, pkg-rest, pkg-all, pkg-bot, pkg-utils, website

#3424 feat: Add voice state to the desired properties object.
  packages/bot/src/transformers.ts
  packages/bot/src/transformers/voiceState.ts
Labels: t-feat, w-verified, pkg-bot

#3384 fix(rest): remove has_message from forum route
  packages/rest/src/routes.ts
Labels: t-fix, pkg-rest, w-verified

#3454 ci: labeler exclude dependabot and api-docs-commits
  .github/workflows/labeler.yml
Labels: t-ci, w-verified
