Repository discordeno/discordeno, pull requests merged in 2025-04, with the labels that each got.

#4166 fix(docs): update documentation links to point to the new site
  packages/bot/README.md
  packages/gateway/README.md
  packages/rest/README.md
  packages/types/README.md
  packages/utils/README.md
Labels: t-fix, w-unverified, pkg-types, pkg-gateway, pkg-rest, pkg-bot, pkg-utils

#4169 feat(bot,rest): Deprecate `createGuild` and `createGuildFromTemplate`
  packages/bot/src/helpers.ts
  packages/rest/src/types.ts
Labels: t-feat, w-unverified, pkg-rest, pkg-bot

#4164 fix: triple-n typos in types.ts and application.ts
  packages/bot/src/transformers/types.ts
  packages/types/src/discord/application.ts
Labels: t-fix, w-unverified, pkg-types, pkg-bot

#4158 feat(types, rest, bot): Add lobby support
  packages/bot/src/desiredProperties.ts
  packages/bot/src/helpers.ts
  packages/bot/src/transformers.ts
  packages/bot/src/transformers/index.ts
  packages/bot/src/transformers/lobby.ts
  packages/bot/src/transformers/types.ts
  packages/rest/src/manager.ts
  packages/rest/src/routes.ts
  packages/rest/src/types.ts
  packages/rest/src/typings/routes.ts
  packages/types/src/discord/lobby.ts
  packages/types/src/discordeno.ts
  packages/types/src/index.ts
Labels: t-feat, w-unverified, pkg-types, pkg-rest, pkg-bot

#4102 Update Slash Command Name regex
  packages/bot/src/constants.ts
  packages/types/src/discord/interactions.ts
  packages/types/src/discordeno.ts
Labels: w-unverified, pkg-types, pkg-bot

#4151 fix(types)!: Remove incorrect, reorder and fixes in channel
  packages/bot/src/helpers.ts
  packages/rest/src/types.ts
  packages/types/src/discord/channel.ts
  packages/types/src/discord/guild.ts
Labels: t-fix, w-unverified, t-breaking, pkg-types, pkg-rest, pkg-bot

#4080 feat(types,bot)!: Components V2
  packages/bot/src/transformers.ts
  packages/bot/src/transformers/component.ts
  packages/bot/src/transformers/reverse/component.ts
  packages/bot/src/transformers/types.ts
  packages/types/src/discord/channel.ts
  packages/types/src/discord/components.ts
  packages/types/src/discord/interactions.ts
  packages/types/src/discord/message.ts
  packages/types/src/discordeno.ts
  packages/types/src/index.ts
Labels: t-feat, w-unverified, t-breaking, pkg-types, pkg-bot

#4172 fix(types): Add missing ContainerComponent to MessageComponent
  packages/types/src/discord/components.ts
  packages/types/src/discordeno.ts
Labels: t-fix, w-unverified, pkg-types

#4152 feat(types,rest,bot): Add `with_components` to webhooks
  packages/bot/src/helpers.ts
  packages/rest/src/routes.ts
  packages/rest/src/types.ts
  packages/rest/src/typings/routes.ts
  packages/types/src/discordeno.ts
Labels: t-feat, w-unverified, pkg-types, pkg-rest, pkg-bot
