Repository discordeno/discordeno, pull requests merged in 2025-05, with the labels that each got.

#4177 Improve consistency for snowflakeToTimestamp
  packages/bot/src/utils.ts
Labels: w-unverified, pkg-bot

#4178 Fix(utils): Remove redundant comparison & bitwise operation
  packages/bot/src/utils.ts
Labels: w-unverified, pkg-bot

#4179 feat(types,bot)!: Add desiredProperties for components
  packages/benchmarks/src/benchmarks/transformers.ts
  packages/bot/src/desiredProperties.ts
  packages/bot/src/transformers/component.ts
  packages/bot/src/transformers/reverse/component.ts
  packages/types/src/discord/components.ts
  packages/types/src/discordeno.ts
Labels: t-feat, w-unverified, t-breaking, pkg-types, pkg-bot

#4187 refactor: don't log about resuming in shard.handleClose
  packages/gateway/src/Shard.ts
Labels: t-refactor, w-unverified, pkg-gateway

#4188 docs: add warning for better handling of dispatch events to avoid rate limits
  website/docs/architecture.mdx
Labels: t-docs, w-unverified, website

#4175 fix(bot,types)!: Remove editOriginalWebhookMessage
  packages/bot/src/helpers.ts
  packages/rest/src/manager.ts
  packages/rest/src/routes.ts
  packages/rest/src/types.ts
  packages/rest/src/typings/routes.ts
  packages/types/src/discordeno.ts
Labels: t-fix, w-unverified, t-breaking, pkg-types, pkg-rest, pkg-bot

#4189 fix(types): Remove comment limit on number of components
  packages/types/src/discord/components.ts
  packages/types/src/discordeno.ts
Labels: t-fix, w-unverified, pkg-types

#4126 refactor(gateway): Improve request identify flow
  packages/gateway/src/Shard.ts
  packages/gateway/src/manager.ts
Labels: t-refactor, t-breaking, pkg-gateway, w-verified

#4190 fix!: Remove shardIsReady
  packages/gateway/src/Shard.ts
  packages/gateway/src/manager.ts
Labels: t-fix, w-unverified, t-breaking, pkg-gateway

#4191 fix(bot): don't override flags when isPrivate
  packages/bot/src/transformers/interaction.ts
Labels: t-fix, w-unverified, pkg-bot

#4192 fix: CreateMessageOptions.messageReference.failIfNotExists is optional
  packages/types/src/discordeno.ts
Labels: t-fix, w-unverified, pkg-types

#4193 refactor: set default format to webp instead of jpg in formatImageUrl()
  packages/utils/src/images.ts
  packages/utils/tests/images.spec.ts
Labels: t-refactor, w-unverified, pkg-utils

#4195 fix(types): Specify when IS_COMPONENT_V2 is valid for flags
  packages/types/src/discord/channel.ts
  packages/types/src/discordeno.ts
Labels: t-fix, w-unverified, pkg-types

#4200 fix(types): Add missing limits on alts for media
  packages/types/src/discord/components.ts
Labels: t-fix, w-unverified, pkg-types

#4197 fix: Unexpected TypeError in `GatewayManager.requestMembers`
  packages/gateway/src/manager.ts
  packages/utils/src/utils.ts
  packages/utils/tests/utils.spec.ts
Labels: t-fix, w-unverified, pkg-gateway, pkg-utils

#4127 example(bigbot): Spawn one shard at a time
  examples/bigbot/src/bot/bot.ts
  examples/bigbot/src/gateway/gatewayManager.ts
  examples/bigbot/src/gateway/worker/createWorker.ts
  examples/bigbot/src/gateway/worker/types.ts
  examples/bigbot/src/gateway/worker/worker.ts
  examples/bigbot/src/rest/restManager.ts
Labels: template, w-verified

#4205 fix(gateway): remove 'offline' status from DiscordUpdatePresence, as Discord only supports 'invisible' and not 'offline'
  packages/types/src/discord/gateway.ts
  website/docs/bigbot/step-3-gateway.md
Labels: t-fix, w-unverified, pkg-types, website

#4204 feat(gateway): add options.spreadShardsInRoundRobin to spread shards in a round-robin manner
  packages/gateway/src/manager.ts
Labels: t-feat, w-unverified, pkg-gateway
