Repository discordeno/discordeno, pull requests merged in 2025-02, with the labels that each got.

#4088 refactor(types): split `discord.ts` into multiple files
  packages/gateway/src/manager.ts
  packages/types/src/discord.ts
  packages/types/src/discord/application.ts
  packages/types/src/discord/auditLog.ts
  packages/types/src/discord/autoModeration.ts
  packages/types/src/discord/channel.ts
  packages/types/src/discord/emoji.ts
  packages/types/src/discord/entitlement.ts
  packages/types/src/discord/gateway.ts
  packages/types/src/discord/guild.ts
  packages/types/src/discord/guildScheduledEvent.ts
  packages/types/src/discord/guildTemplate.ts
  packages/types/src/discord/interactions.ts
  packages/types/src/discord/invite.ts
  packages/types/src/discord/message.ts
  packages/types/src/discord/oauth2.ts
  packages/types/src/discord/opcodes.ts
  packages/types/src/discord/permissions.ts
  packages/types/src/discord/poll.ts
  packages/types/src/discord/reference.ts
  packages/types/src/discord/sku.ts
  packages/types/src/discord/soundboard.ts
  packages/types/src/discord/stageInstance.ts
  packages/types/src/discord/sticker.ts
  packages/types/src/discord/subscription.ts
  packages/types/src/discord/teams.ts
  packages/types/src/discord/user.ts
  packages/types/src/discord/voice.ts
  packages/types/src/discord/webhook.ts
  packages/types/src/discord/webhookEvents.ts
  packages/types/src/discordeno.ts
  packages/types/src/index.ts
  packages/types/src/shared.ts
Labels: t-refactor, w-unverified, pkg-types, pkg-gateway

#4122 feat(types): Add `HasSnapshot` flag to Message
  packages/types/src/discord/message.ts
Labels: t-feat, w-unverified, pkg-types

#4123 feat(bot,rest,types): Guild incidents data
  packages/bot/src/desiredProperties.ts
  packages/bot/src/transformers.ts
  packages/bot/src/transformers/guild.ts
  packages/bot/src/transformers/incidentsData.ts
  packages/bot/src/transformers/index.ts
  packages/bot/src/transformers/types.ts
  packages/rest/src/manager.ts
  packages/rest/src/routes.ts
  packages/rest/src/types.ts
  packages/rest/src/typings/routes.ts
  packages/types/src/discord/guild.ts
  packages/types/src/discordeno.ts
Labels: t-feat, w-unverified, pkg-types, pkg-rest, pkg-bot

#4125 feat(types,rest,bot): Add `ApplicationRoleConnectionMetadata` types
  packages/bot/src/helpers.ts
  packages/rest/src/manager.ts
  packages/rest/src/routes.ts
  packages/rest/src/types.ts
  packages/rest/src/typings/routes.ts
  packages/types/src/discord/applicationRoleConnectionMetadata.ts
  packages/types/src/index.ts
Labels: t-feat, w-unverified, pkg-types, pkg-rest, pkg-bot

#4128 examples: Use `tsc` to build instead of `swc`
  examples/advanced/.swcrc
  examples/advanced/package.json
  examples/advanced/tsconfig.json
  examples/advanced/yarn.lock
  examples/beginner/.swcrc
  examples/beginner/package.json
  examples/beginner/tsconfig.json
  examples/beginner/yarn.lock
  examples/bigbot/.swcrc
  examples/bigbot/package.json
  examples/bigbot/tsconfig.json
  examples/bigbot/yarn.lock
  examples/minimal/.swcrc
  examples/minimal/package.json
  examples/minimal/tsconfig.json
  examples/minimal/yarn.lock
  examples/reaction-roles/.swcrc
  examples/reaction-roles/package.json
  examples/reaction-roles/tsconfig.json
  examples/reaction-roles/yarn.lock
Labels: w-unverified, template

#4130 feat(types): Add `HTTPJsonErrorCodes`
  packages/types/src/discord/opcodes.ts
Labels: t-feat, w-unverified, pkg-types

#4124 fix(types, gateway)!: UpdatePresence inconsistencies
  packages/gateway/src/Shard.ts
  packages/gateway/src/manager.ts
  packages/gateway/src/types.ts
  packages/types/src/discord/gateway.ts
Labels: t-fix, w-unverified, t-breaking, pkg-types, pkg-gateway

#4134 fix: Typos in rest server setup
  website/docs/bigbot/step-2-rest.md
Labels: t-fix, w-unverified, website

#4137 fix: thread create autoArchiveDuration being a required param
  packages/types/src/discordeno.ts
Labels: t-fix, w-unverified, pkg-types

#4136 feat(rest): Improve error message for rest errors
  packages/rest/src/manager.ts
  packages/rest/src/types.ts
Labels: t-feat, w-unverified, pkg-rest

#4135 feat!: add missing params to getThreadMember() and getThreadMembers()
  packages/bot/src/helpers.ts
  packages/bot/src/transformers.ts
  packages/bot/src/transformers/threadMember.ts
  packages/bot/src/transformers/types.ts
  packages/rest/src/manager.ts
  packages/rest/src/routes.ts
  packages/rest/src/types.ts
  packages/rest/src/typings/routes.ts
  packages/types/src/discord/channel.ts
  packages/types/src/discordeno.ts
Labels: t-feat, w-unverified, t-breaking, pkg-types, pkg-rest, pkg-bot

#4139 fix(bot): add ThreadMember.member
  packages/bot/src/transformers/types.ts
Labels: t-fix, w-unverified, pkg-bot
