Repository discordeno/discordeno, pull requests merged in 2025-06, with the labels that each got.

#4208 fix(bot): Use an object to present desired properties errors
  packages/bot/src/desiredProperties.ts
  website/docs/desired-properties.md
Labels: t-fix, w-unverified, pkg-bot, website

#4199 feat(utils): animated webp emojis
  packages/types/src/discord/reference.ts
  packages/utils/src/images.ts
  packages/utils/tests/images.spec.ts
Labels: t-feat, w-unverified, pkg-types, pkg-utils

#4220 Update getting-started.md
  website/docs/getting-started.md
Labels: w-unverified, website

#4217 feat(types): Add application deauthorized webhook event
  packages/types/src/discord/webhookEvents.ts
Labels: t-feat, w-unverified, pkg-types

#4221 fix(types): update InteractionCallbackData flags
  packages/types/src/discordeno.ts
Labels: t-fix, w-unverified, pkg-types

#4222 feat(types,bot): approximate_user_authorization_count
  packages/bot/src/transformers/application.ts
  packages/bot/src/transformers/types.ts
  packages/types/src/discord/application.ts
Labels: t-feat, w-unverified, pkg-types, pkg-bot

#4223 feat(types,bot): Add attachment_id to UnfurledMediaItem
  packages/bot/src/desiredProperties.ts
  packages/bot/src/transformers/component.ts
  packages/bot/src/transformers/reverse/component.ts
  packages/bot/src/transformers/types.ts
  packages/types/src/discord/components.ts
Labels: t-feat, w-unverified, pkg-types, pkg-bot

#4203 ci: Use node v20 in CI
  .github/workflows/benchmark.yml
  .github/workflows/e2e-test.yml
  .github/workflows/integration-test.yml
  .github/workflows/lib-check.yml
  .github/workflows/other-runtime-unit-test.yml
  .github/workflows/release.yml
  .github/workflows/site.yml
  .github/workflows/unit-test.yml
Labels: t-ci, w-unverified

#4226 Update rest proxy to Node.js v20 and dependencies
  docker-apps/rest-passthrough/Dockerfile
  docker-apps/rest-passthrough/package.json
  docker-apps/rest-passthrough/yarn.lock
Labels: w-unverified
