Repository discordeno/discordeno, pull requests merged in 2025-01, with the labels that each got.

#4081 fix(utils): set Date.now() as timestamp if none is provided in EmbedsBuilder.setTimestamp()
  packages/utils/src/builders/embeds.ts
Labels: t-fix, w-unverified, pkg-utils

#4067 ci: Use mocha for both deno and bun
  .github/workflows/lib-check.yml
  .github/workflows/other-runtime-unit-test.yml
  .mocharc.base.cjs
  .mocharc.cjs
  .yarn/patches/mocha-npm-11.0.2-b5d6b95284.patch
  deno.json
  denoImportMap.json
  packages/bot/.mocharc.json
  packages/bot/package.json
  packages/discordeno/.mocharc.json
  packages/discordeno/package.json
  packages/gateway/.mocharc.json
  packages/gateway/package.json
  packages/rest/.mocharc.json
  packages/rest/package.json
  packages/types/.mocharc.json
  packages/types/package.json
  packages/utils/.mocharc.json
  packages/utils/package.json
  packages/utils/tests/bucket.spec.ts
  packages/utils/tests/urlToBase64.spec.ts
  scripts/fixBunTestExtension.js
  scripts/fixDenoTestExtension.js
  turbo.json
  yarn.lock
Labels: t-ci, w-unverified, pkg-types, pkg-gateway, pkg-rest, pkg-all, pkg-bot, pkg-utils

#4087 Remove CactusFire from reviews section
  website/src/components/home/reviews/index.tsx
Labels: w-unverified, website

#4086 fix(rest): Simplify proxy error code & avoid leaking response
  packages/rest/src/manager.ts
Labels: t-fix, w-unverified, pkg-rest

#4084 test(bot,gateway): Fix Bot E2E and Gateway Integration tests
  packages/bot/tests/e2e/resetguilds.spec.ts
  packages/gateway/package.json
  packages/gateway/tests/integration/connection.spec.ts
  packages/gateway/tests/integration/websocket.ts
  yarn.lock
Labels: t-test, t-fix, w-unverified, pkg-gateway, pkg-all, pkg-bot

#4094 fix(bot): add botBannerURL option to helpers.editBotProfile()
  packages/bot/src/helpers.ts
Labels: t-fix, w-unverified, pkg-bot

#4093 feat(utils): Support 'random' in setColor
  packages/utils/src/builders/embeds.ts
Labels: t-feat, w-unverified, pkg-utils

#4091 feat(utils): Add `memberBannerUrl`
  packages/utils/src/images.ts
Labels: t-feat, w-unverified, pkg-utils

#4090 feat(rest)!: Parse json body when possibile in rest proxy
  packages/rest/src/manager.ts
Labels: t-feat, w-unverified, t-breaking, pkg-rest

#4085 chore: Update yarn, refactor packages setup
  .github/workflows/e2e-test.yml
  .github/workflows/integration-test.yml
  .github/workflows/lib-check-e2e.yml
  .github/workflows/lib-check.yml
  .github/workflows/other-runtime-unit-test.yml
  .github/workflows/release.yml
  .github/workflows/rest-pkg-test-status.yml
  .github/workflows/site.yml
  .github/workflows/unit-test.yml
  .npmignore
  .yarn/plugins/@yarnpkg/plugin-after-install.cjs
  .yarn/releases/yarn-4.0.2.cjs
  .yarn/releases/yarn-4.6.0.cjs
  .yarnrc.yml
  docker-apps/rest-passthrough/.yarn/releases/yarn-4.0.2.cjs
  docker-apps/rest-passthrough/.yarn/releases/yarn-4.6.0.cjs
  docker-apps/rest-passthrough/.yarnrc.yml
  docker-apps/rest-passthrough/package.json
  docker-apps/rest-passthrough/yarn.lock
  examples/advanced/.yarnrc.yml
  examples/advanced/package.json
  examples/advanced/yarn.lock
  examples/beginner/.yarnrc.yml
  examples/beginner/package.json
  examples/beginner/yarn.lock
  examples/bigbot/.yarnrc.yml
  examples/bigbot/package.json
  examples/bigbot/yarn.lock
  examples/minimal/.yarnrc.yml
  examples/minimal/package.json
  examples/minimal/yarn.lock
  examples/reaction-roles/.yarnrc.yml
  examples/reaction-roles/package.json
  examples/reaction-roles/yarn.lock
  package.json
  packages/benchmarks/package.json
  packages/benchmarks/src/benchmarks/memory.ts
  packages/bot/package.json
  packages/discordeno/package.json
  packages/gateway/package.json
  packages/rest/package.json
  packages/types/package.json
  packages/utils/package.json
  scripts/bumpVersionByCommit.js
  scripts/coveragePathFixing.js
  scripts/fixBenchExtension.js
  scripts/fixCjsExtension.js
  website/yarn.lock
  yarn.lock
Labels: t-ci, w-unverified, pkg-types, pkg-gateway, pkg-rest, pkg-all, pkg-bot, pkg-utils, website

#4099 fix(bot): Use desired properties in InteractionResolvedXYZ
  packages/bot/src/commandOptionsParser.ts
Labels: t-fix, w-unverified, pkg-bot

#4106 chore(utils)!: Remove logger code related to Depth
  packages/utils/src/logger.ts
  packages/utils/tests/logger.spec.ts
Labels: w-unverified, t-breaking, pkg-utils

#4096 fix(gateway): wrong calculation in calculateWorkerId()
  packages/gateway/src/manager.ts
Labels: t-fix, w-unverified, pkg-gateway

#4103 fix(shutdown): prevent resume when closed with `GatewayCloseEventCodes.NormalClosure`.
  packages/gateway/src/Shard.ts
  packages/types/src/shared.ts
Labels: t-fix, w-unverified, pkg-types, pkg-gateway

#4111 docs: Use as instead of specifying the generic
  website/docs/desired-properties.md
Labels: t-docs, w-unverified, website
