Repository discordeno/discordeno, pull requests merged in 2025-08, with the labels that each got.

#4284 fix(types,bot)!: GetChannelPins.items is an array
  packages/bot/src/helpers.ts
  packages/types/src/discord/message.ts
Labels: t-fix, w-unverified, t-breaking, pkg-types, pkg-bot

#4280 fix(bot): ACK the interaction only after a successful response
  packages/bot/src/transformers/interaction.ts
Labels: t-fix, w-unverified, pkg-bot

#4206 feat(gateway): Resharding with workers
  examples/bigbot/src/gateway/gatewayManager.ts
  examples/bigbot/src/gateway/worker/types.ts
  examples/bigbot/src/gateway/worker/worker.ts
  packages/gateway/src/manager.ts
Labels: t-feat, w-unverified, pkg-gateway

#4245 feat(rest): Add events
  packages/rest/src/manager.ts
  packages/rest/src/types.ts
Labels: t-feat, w-unverified, pkg-rest

#4286 fix(types): Sort properties in DiscordEntitlement
  packages/types/src/discord/entitlement.ts
Labels: t-fix, w-unverified, pkg-types

#4292 fix(types)!: Sort & fix lobby.ts types
  packages/types/src/discord/lobby.ts
Labels: t-fix, w-unverified, t-breaking, pkg-types

#4299 fix(types): Sort voice.ts types
  packages/types/src/discord/voice.ts
Labels: t-fix, w-unverified, pkg-types

#4294 fix(types): Sort permissions.ts types
  packages/types/src/discord/permissions.ts
Labels: t-fix, w-unverified, pkg-types

#4298 fix(types)!: Sort & fix user.ts types
  packages/types/src/discord/user.ts
Labels: t-fix, w-unverified, t-breaking, pkg-types

#4307 api-docs: Fix payload for modify current user voice state
  packages/types/src/discordeno.ts
Labels: w-unverified, pkg-types

#4300 fix(types)!: Sort & fix webhook.ts types
  packages/types/src/discord/oauth2.ts
  packages/types/src/discord/webhook.ts
Labels: t-fix, w-unverified, t-breaking, pkg-types

#4297 fix(types): Sort teams.ts types
  packages/types/src/discord/teams.ts
Labels: t-fix, w-unverified, pkg-types

#4330 build(deps): Migrate to React Flow v12 and update website dependencies
  website/package.json
  website/src/components/architecture/BaseFlowChart.tsx
  website/src/components/architecture/FlowChart.tsx
  website/src/components/architecture/FlowChart2.tsx
  website/src/components/architecture/FlowChart3.tsx
  website/src/components/architecture/FlowChart4.tsx
  website/src/components/bigbotguide/GatewayFlowChart.tsx
  website/src/components/header/index.tsx
  website/src/components/home/features/feature.tsx
  website/src/components/home/features/index.tsx
  website/src/types.ts
  website/yarn.lock
Labels: w-unverified, t-build, website

#4324 build(deps): Update fastify in docker-apps/rest-passthrough
  docker-apps/rest-passthrough/package.json
  docker-apps/rest-passthrough/yarn.lock
Labels: w-unverified, t-build

#4322 chore: Remove `bench/` folder
  bench/generateMessage.ts
  bench/memory.ts
  bench/tranformOutput.ts
Labels: w-unverified

#4321 api-docs!: remove `GetInvite.withExpiration`, remove optional from `DiscordInvite.expires_at`
  packages/rest/src/routes.ts
  packages/types/src/discord/invite.ts
  packages/types/src/discordeno.ts
Labels: w-unverified, pkg-types, pkg-rest

#4336 feat(bot)!: Remove bot.events.guildUnavailable
  packages/bot/src/events.ts
  packages/bot/src/handlers/guilds/GUILD_DELETE.ts
Labels: t-feat, w-unverified, t-breaking, pkg-bot

#4301 fix(types)!: Split and fix discordeno.ts
  packages/bot/src/transformers/reverse/createApplicationCommand.ts
  packages/rest/src/types.ts
  packages/rest/tests/e2e/message.spec.ts
  packages/types/src/discordeno.ts
  packages/types/src/discordeno/application.ts
  packages/types/src/discordeno/auditLog.ts
  packages/types/src/discordeno/autoModeration.ts
  packages/types/src/discordeno/channel.ts
  packages/types/src/discordeno/components.ts
  packages/types/src/discordeno/emoji.ts
  packages/types/src/discordeno/entitlement.ts
  packages/types/src/discordeno/gateway.ts
  packages/types/src/discordeno/guild.ts
  packages/types/src/discordeno/guildScheduledEvent.ts
  packages/types/src/discordeno/guildTemplate.ts
  packages/types/src/discordeno/interactions.ts
  packages/types/src/discordeno/invite.ts
  packages/types/src/discordeno/lobby.ts
  packages/types/src/discordeno/message.ts
  packages/types/src/discordeno/permissions.ts
  packages/types/src/discordeno/poll.ts
  packages/types/src/discordeno/reference.ts
  packages/types/src/discordeno/soundboard.ts
  packages/types/src/discordeno/stageInstance.ts
  packages/types/src/discordeno/sticker.ts
  packages/types/src/discordeno/subscription.ts
  packages/types/src/discordeno/user.ts
  packages/types/src/discordeno/voice.ts
  packages/types/src/discordeno/webhook.ts
  packages/types/src/index.ts
Labels: t-fix, w-unverified, t-breaking, pkg-types, pkg-rest, pkg-bot

#4345 chore(bot,utils): Move snowflake utils to @discordeno/utils
  packages/bot/src/index.ts
  packages/bot/src/transformers.ts
  packages/rest/src/manager.ts
  packages/utils/src/index.ts
  packages/utils/src/snowflakes.ts
Labels: w-unverified, pkg-rest, pkg-bot, pkg-utils

#4351 feat(bot,rest,types)!: Remove Discord JSON Params
  packages/bot/src/helpers.ts
  packages/bot/src/transformers.ts
  packages/bot/src/transformers/reverse/createApplicationCommand.ts
  packages/bot/src/transformers/reverse/index.ts
  packages/rest/src/types.ts
  packages/types/src/discord/channel.ts
  packages/types/src/discord/emoji.ts
  packages/types/src/discord/guild.ts
  packages/types/src/discord/interactions.ts
  packages/types/src/discord/message.ts
  packages/types/src/discord/webhook.ts
  packages/types/src/discordeno/guild.ts
Labels: t-feat, w-unverified, t-breaking, pkg-types, pkg-rest, pkg-bot

#4363 fix(types): Fix discordeno/reference.ts
  packages/types/src/discordeno/reference.ts
Labels: t-fix, w-unverified, pkg-types

#4353 fix(types)!: Fix discordeno/application.ts
  packages/types/src/discordeno/application.ts
Labels: t-fix, w-unverified, t-breaking, pkg-types

#4358 fix(types)!: Fix discordeno/guildScheduledEvent.ts
  packages/types/src/discordeno/guildScheduledEvent.ts
Labels: t-fix, w-unverified, t-breaking, pkg-types

#4354 fix(types): Fix discordeno/autoModeration.ts
  packages/types/src/discordeno/autoModeration.ts
Labels: t-fix, w-unverified, pkg-types

#4359 fix(types): Fix discordeno/guildTemplate.ts
  packages/types/src/discordeno/guildTemplate.ts
Labels: t-fix, w-unverified, pkg-types

#4357 fix(types)!: Fix discordeno/guild.ts
  packages/types/src/discordeno/guild.ts
Labels: t-fix, w-unverified, t-breaking, pkg-types

#4355 fix(types)!: Fix discordeno/channel.ts
  packages/bot/src/transformers/types.ts
  packages/types/src/discordeno/channel.ts
Labels: t-fix, w-unverified, t-breaking, pkg-types, pkg-bot

#4362 fix(types)!: Fix discordeno/message.ts
  packages/types/src/discordeno/message.ts
Labels: t-fix, w-unverified, t-breaking, pkg-types

#4370 fix(bot): Check nullable in transformPresence
  packages/bot/src/transformers/presence.ts
Labels: t-fix, w-unverified, pkg-bot

#4378 docs: switch bigbot and caching guide position in docs
  website/docs/bigbot/_category_.json
  website/docs/caching.md
Labels: t-docs, w-unverified, website

#4376 chore(bot): Remove incorrect joinedAt
  packages/bot/src/events.ts
  packages/bot/src/handlers/channels/THREAD_MEMBER_UPDATE.ts
Labels: w-unverified, pkg-bot

#4380 docs: Add desired properties to examples
  website/docs/examples/bun.md
  website/docs/examples/deno.md
  website/docs/examples/node.md
Labels: t-docs, w-unverified, website

#4381 feat(bot)!: Make desiredProperties required
  packages/benchmarks/src/benchmarks/memory.ts
  packages/benchmarks/src/benchmarks/transformers.ts
  packages/bot/src/bot.ts
  packages/bot/tests/e2e/resetguilds.spec.ts
Labels: t-feat, w-unverified, t-breaking, pkg-bot

#4373 feat(gateway): Use `node:zlib` zstd when available
  packages/gateway/src/Shard.ts
  packages/gateway/src/types.ts
Labels: t-feat, w-unverified, pkg-gateway

#4365 fix(types)!: Fix discordeno/user.ts
  packages/bot/src/helpers.ts
  packages/rest/src/types.ts
  packages/types/src/discordeno/user.ts
Labels: t-fix, w-unverified, t-breaking, pkg-types, pkg-rest, pkg-bot

#4372 feat(bot)!: Use an "extra" params for transformers
  packages/benchmarks/src/benchmarks/transformers.ts
  packages/bot/src/handlers/channels/CHANNEL_CREATE.ts
  packages/bot/src/handlers/channels/CHANNEL_DELETE.ts
  packages/bot/src/handlers/channels/CHANNEL_UPDATE.ts
  packages/bot/src/handlers/channels/THREAD_CREATE.ts
  packages/bot/src/handlers/channels/THREAD_DELETE.ts
  packages/bot/src/handlers/channels/THREAD_LIST_SYNC.ts
  packages/bot/src/handlers/channels/THREAD_UPDATE.ts
  packages/bot/src/handlers/guilds/GUILD_CREATE.ts
  packages/bot/src/handlers/guilds/GUILD_UPDATE.ts
  packages/bot/src/handlers/interactions/INTERACTION_CREATE.ts
  packages/bot/src/handlers/invites/INVITE_CREATE.ts
  packages/bot/src/handlers/members/GUILD_MEMBER_ADD.ts
  packages/bot/src/handlers/members/GUILD_MEMBER_UPDATE.ts
  packages/bot/src/handlers/messages/MESSAGE_CREATE.ts
  packages/bot/src/handlers/messages/MESSAGE_REACTION_ADD.ts
  packages/bot/src/handlers/messages/MESSAGE_UPDATE.ts
  packages/bot/src/handlers/misc/TYPING_START.ts
  packages/bot/src/handlers/roles/GUILD_ROLE_CREATE.ts
  packages/bot/src/handlers/roles/GUILD_ROLE_UPDATE.ts
  packages/bot/src/handlers/voice/VOICE_STATE_UPDATE.ts
  packages/bot/src/helpers.ts
  packages/bot/src/transformers.ts
  packages/bot/src/transformers/application.ts
  packages/bot/src/transformers/channel.ts
  packages/bot/src/transformers/guild.ts
  packages/bot/src/transformers/interaction.ts
  packages/bot/src/transformers/invite.ts
  packages/bot/src/transformers/lobby.ts
  packages/bot/src/transformers/member.ts
  packages/bot/src/transformers/message.ts
  packages/bot/src/transformers/role.ts
  packages/bot/src/transformers/stageInviteInstance.ts
  packages/bot/src/transformers/threadMember.ts
  packages/bot/src/transformers/voiceState.ts
  packages/bot/src/transformers/widget.ts
Labels: t-feat, w-unverified, t-breaking, pkg-bot

#4318 ci: Double the REST E2E testing timeout
  packages/rest/package.json
Labels: t-ci, w-unverified, pkg-rest

#4326 build(deps-dev): Update turbo
  package.json
  yarn.lock
Labels: w-unverified, t-build, pkg-all

#4338 ci: Specify permissions for CI
  .github/workflows/benchmark.yml
  .github/workflows/commentBenchResult.yml
  .github/workflows/docker-app-rest-passthrough.yml
  .github/workflows/e2e-test.yml
  .github/workflows/integration-test.yml
  .github/workflows/labeler.yml
  .github/workflows/lib-check-e2e.yml
  .github/workflows/lib-check.yml
  .github/workflows/other-runtime-unit-test.yml
  .github/workflows/release.yml
  .github/workflows/retryBenchmark.yml
  .github/workflows/site.yml
  .github/workflows/stale.yml
  .github/workflows/unit-test.yml
Labels: t-ci, w-unverified

#4317 ci: Fix snyk scan
  .github/workflows/docker-app-rest-passthrough.yml
Labels: t-ci, w-unverified

#4387 docs: update info about dd cache proxy in caching guide
  website/docs/caching.md
Labels: t-docs, w-unverified, website

#4227 ESM-only build
  package.json
  packages/benchmarks/package.json
  packages/bot/package.json
  packages/discordeno/package.json
  packages/gateway/package.json
  packages/rest/package.json
  packages/types/package.json
  packages/utils/package.json
  scripts/fixCjsExtension.js
  turbo.json
Labels: w-unverified, t-build, pkg-types, pkg-gateway, pkg-rest, pkg-all, pkg-bot, pkg-utils

#4377 chore: Bump version to v22-beta.1
  package.json
  packages/bot/package.json
  packages/discordeno/package.json
  packages/gateway/package.json
  packages/rest/package.json
  packages/types/package.json
  packages/utils/package.json
  packages/utils/src/constants.ts
Labels: w-unverified, pkg-types, pkg-gateway, pkg-rest, pkg-all, pkg-bot, pkg-utils

#4389 fix(bot): Remove VOICE_STATE_UPDATE payload check
  packages/bot/src/handlers/voice/VOICE_STATE_UPDATE.ts
Labels: t-fix, w-unverified, pkg-bot

#4402 refactor: Use TransformerFunction to define transformers
  packages/bot/src/transformers.ts
Labels: t-refactor, w-unverified, pkg-bot

#4399 ci: Use `biome ci` in lib-check format
  .github/workflows/lib-check.yml
Labels: t-ci, w-unverified

#4403 feat(bot)!: Camelize the AuditLogEntry changes
  packages/bot/src/transformers/auditLogEntry.ts
  packages/bot/src/transformers/reverse/auditLogEntry.ts
  packages/bot/src/transformers/types.ts
Labels: t-feat, w-unverified, t-breaking, pkg-bot
