Repository discordeno/discordeno, pull requests merged in 2025-07, with the labels that each got.

#4239 feat: role gradient colors
  packages/bot/src/desiredProperties.ts
  packages/bot/src/transformers.ts
  packages/bot/src/transformers/role.ts
  packages/bot/src/transformers/toggles/guild.ts
  packages/bot/src/transformers/types.ts
  packages/types/src/discord/guild.ts
  packages/types/src/discord/permissions.ts
  packages/types/src/discordeno.ts
Labels: t-feat, w-unverified, pkg-types, pkg-bot

#4240 chore: Bump patch version when bumping release by commit
  scripts/bumpVersionByCommit.js
Labels: w-unverified

#4228 feat(types,rest,bot): Updated message pin endpoints
  packages/bot/src/desiredProperties.ts
  packages/bot/src/helpers.ts
  packages/bot/src/transformers.ts
  packages/bot/src/transformers/message.ts
  packages/bot/src/transformers/types.ts
  packages/rest/src/manager.ts
  packages/rest/src/routes.ts
  packages/rest/src/types.ts
  packages/rest/src/typings/routes.ts
  packages/types/src/discord/message.ts
  packages/types/src/discordeno.ts
Labels: t-feat, w-unverified, pkg-types, pkg-rest, pkg-bot

#4236 fix(types): EditGuildOnboarding params are optional
  packages/types/src/discordeno.ts
Labels: t-fix, w-unverified, pkg-types

#4237 feat!: Add invite flags for guest invites
  packages/bot/src/desiredProperties.ts
  packages/bot/src/transformers/invite.ts
  packages/bot/src/transformers/reverse/member.ts
  packages/bot/src/transformers/toggles/guild.ts
  packages/bot/src/transformers/types.ts
  packages/types/src/discord/guild.ts
  packages/types/src/discord/invite.ts
Labels: t-feat, w-unverified, t-breaking, pkg-types, pkg-bot

#4247 fix(types): Add missing props to ExecuteWebhook
  packages/types/src/discordeno.ts
Labels: t-fix, w-unverified, pkg-types

#4249 fix(types): Add GuildScheduledEvent to DiscordAuditLogChange
  packages/types/src/discord/auditLog.ts
Labels: t-fix, w-unverified, pkg-types

#4252 Fix typo
  examples/bigbot/src/gateway/gatewayManager.ts
  packages/gateway/src/manager.ts
Labels: w-unverified, pkg-gateway

#4257 fix(e2e): Fix broken e2e (by removing tests)
  packages/rest/tests/e2e/automod.spec.ts
  packages/rest/tests/e2e/emoji.spec.ts
  packages/rest/tests/e2e/guild.spec.ts
  packages/rest/tests/e2e/member.spec.ts
  packages/rest/tests/e2e/message.spec.ts
  packages/rest/tests/e2e/misc.spec.ts
  packages/rest/tests/e2e/role.spec.ts
  packages/rest/tests/e2e/stickers.spec.ts
  packages/rest/tests/e2e/user.spec.ts
  packages/rest/tests/e2e/utils.ts
  packages/rest/tests/e2e/webhook.spec.ts
Labels: t-test, t-fix, w-unverified, pkg-rest

#4255 feat(types): Add new rich presence url & status display type fields
  packages/types/src/discord/gateway.ts
Labels: t-feat, w-unverified, pkg-types

#4256 Split extra fields into their own types
  packages/benchmarks/src/benchmarks/transformers.ts
  packages/bot/src/events.ts
  packages/bot/src/handlers/channels/THREAD_MEMBER_UPDATE.ts
  packages/bot/src/transformers/message.ts
  packages/types/src/discord/channel.ts
  packages/types/src/discord/gateway.ts
  packages/types/src/discord/guild.ts
  packages/types/src/discord/message.ts
Labels: w-unverified, pkg-types, pkg-bot

#4267 docs: Include notice of strictNullChecks being required
  website/docs/desired-properties.md
  website/docs/examples/deno.md
  website/docs/getting-started.md
Labels: t-docs, w-unverified, website

#4266 api-docs: Update the description for identity_enabled to be clearer
  packages/bot/src/transformers/types.ts
  packages/types/src/discord/user.ts
Labels: w-unverified, pkg-types, pkg-bot

#4265 api-docs: Document AUTOMOD_QUARANTINED_GUILD_TAG member flag
  packages/bot/src/transformers/toggles/member.ts
  packages/types/src/discord/guild.ts
Labels: w-unverified, pkg-types, pkg-bot

#4264 api-docs: Document automod quarantine audit log action type
  packages/types/src/discord/auditLog.ts
Labels: w-unverified, pkg-types

#4263 api-docs: Add IS_VOICE_MESSAGE to CreateMessageOptions
  packages/types/src/discordeno.ts
Labels: w-unverified, pkg-types

#4260 fix(types): Add missing trigger metadata values
  packages/types/src/discord/autoModeration.ts
  packages/types/src/discordeno.ts
Labels: t-fix, w-unverified, pkg-types

#4270 api-docs!: remove editGuildMFA
  packages/bot/src/helpers.ts
  packages/rest/src/manager.ts
  packages/rest/src/routes.ts
  packages/rest/src/types.ts
  packages/rest/src/typings/routes.ts
Labels: w-unverified, t-breaking, pkg-rest, pkg-bot
