Repository discordeno/discordeno, pull requests merged in 2025-03, with the labels that each got.

#4143 fix(types): use `Localization` instead of `Record<Locales, string>`
  packages/bot/src/transformers/types.ts
Labels: t-fix, w-unverified, pkg-bot

#4148 refactor(types): reorder properties in DiscordApplication
  packages/types/src/discord/application.ts
Labels: t-refactor, w-unverified, pkg-types

#4150 fix(types)!: Fix optionals for some props in auto moderation.
  packages/bot/src/transformers/automodActionExecution.ts
  packages/bot/src/transformers/types.ts
  packages/rest/tests/e2e/automod.spec.ts
  packages/types/src/discord/autoModeration.ts
Labels: t-fix, w-unverified, t-breaking, pkg-types, pkg-rest, pkg-bot

#4156 fix(types): Add missing skuId property in ButtonComponent
  packages/types/src/discordeno.ts
Labels: t-fix, w-unverified, pkg-types

#4155 fix(rest): deleteWebhookMessage() and editOriginalInteractionResponse() doesn't require auth
  packages/rest/src/manager.ts
Labels: t-fix, w-unverified, pkg-rest
