Repository discordeno/discordeno, pull requests merged in 2025-09, with the labels that each got.

#4404 refactor(transformers)!: Use type helper to define customizers
  packages/bot/src/transformers.ts
  packages/bot/src/transformers/interaction.ts
  packages/bot/src/transformers/threadMember.ts
Labels: t-refactor, w-unverified, t-breaking, pkg-bot

#4427 docs(rest): Update documentation for get invites endpoint
  packages/rest/src/types.ts
Labels: t-docs, w-unverified, pkg-rest

#4439 chore(types)!: rename MessageFlags.IsComponentV2 to IsComponentsV2 to match docs
  packages/types/src/discord/message.ts
Labels: w-unverified, t-breaking, pkg-types

#4437 refactor(bot)!: Remove debug event
  packages/benchmarks/src/benchmarks/memory.ts
  packages/bot/src/events.ts
Labels: t-refactor, w-unverified, t-breaking, pkg-bot

#4304 feat(types,bot): Add Label component and new modal stuff
  packages/bot/src/desiredProperties.ts
  packages/bot/src/transformers.ts
  packages/bot/src/transformers/component.ts
  packages/bot/src/transformers/reverse/component.ts
  packages/bot/src/transformers/types.ts
  packages/types/src/discord/components.ts
  packages/types/src/discord/interactions.ts
  packages/types/src/discordeno/components.ts
  packages/types/src/shared.ts
Labels: t-feat, w-unverified, pkg-types, pkg-bot

#4433 build(packages): Remove swc `--delete-dir-on-start`
  packages/benchmarks/package.json
  packages/bot/package.json
  packages/discordeno/package.json
  packages/gateway/package.json
  packages/rest/package.json
  packages/types/package.json
  packages/utils/package.json
Labels: w-unverified, t-build, pkg-types, pkg-gateway, pkg-rest, pkg-bot, pkg-utils

#4464 docs(bigbot): fix REST body handling
  website/docs/bigbot/step-2-rest.md
Labels: t-docs, w-unverified, website
